[2022-07-29 11:58] anthonywhite commented on #1922
hi @davidmrdavid do you have a release date yet for that next version?

[2022-08-01 05:56] kjlimxxxx commented on #1403
I just moved my function into a docker container, I found out when my function hit this error, the container is terminated with error 139, not sure it is related or not.

[2022-08-02 02:45] davidmrdavid commented on #2236
@lilyjma - can we please bring this up during our issue triage?

[2022-08-02 12:13] dylanhouston7 commented on #2236
@davidmrdavid I went into the Azure portal yesterday and noticed something that I had set up incorrectly. When I went through the troubleshooting steps for performance issues in Azure functions, I noticed these warning messages, which stated that my function site names was too long:
![image](https://user-images.githubusercontent.com/20400168/182371166-343ee63a-a825-4dd7-9572-86a2bb7cde2c.png)
![im

[2022-08-02 15:55] davidmrdavid commented on #2236
Hi @dylanhouston7,

Oh wow, that would be an interesting result if you manage to find a correlation between the "HostId Truncation" warning, and your performance. My understanding is that the two issues should be separate, but if your experience is that one controls the other, then that would be a good finding for us.

A few more questions for us to understand your scenario:
(1) Are you using depl

[2022-08-03 06:50] Skleni opened #2240 "CreateCheckStatusResponse returns wrong status code"
### Description
According to the documentation [here](https://github.com/Azure/azure-functions-durable-extension/blob/d9a254ee4cc8f8cfbfb15eebff3c3f4a38b1e7de/src/Worker.Extensions.DurableTask/DurableClientContext.cs#L42)
[code]
and [here](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=csharp#async-operation-tracking)

`CreateCheckStatusResponse

[2022-08-03 13:45] dylanhouston7 commented on #2236
@davidmrdavid it is certainly interesting. If it help, here is an orchestration id for one of the fast running orchestrations after changing the function site name:
310b72d07da24e94be549e69e07ffe86

![image](https://user-images.githubusercontent.com/20400168/182622757-5cfef0a4-da42-48c2-b8a6-f29b00735134.png)

1) We are using deployment slots, and the slot is turned off after deployment
2) We are

[2022-08-03 14:59] mpaul31 commented on #2236
We witnessed the same type of performance increase after fixing our app names.

[2022-08-03 18:29] dylanhouston7 commented on #2236
@mpaul31 @davidmrdavid Taking a look at orchestrations today it looks like performance is not an issue. I will continue to update the thread with more data. But it appears that there may be some sort of correlation here.

![image](https://user-images.githubusercontent.com/20400168/182682518-d40f4b3f-8230-4dac-80f0-5d7f89bdc80b.png)

[2022-08-03 19:46] mpaul31 commented on #2236
From what I vaguely remember from looking through a bunch of documentation of git issues is the scale controller does not perform properly when host id collisions are encountered.

[2022-08-03 23:56] davidmrdavid commented on #2240
Hi @Skleni: It seems you're using a really old version of the Durable Functions Extension (0.4.1-beta). Is there a reason for this?
If not, could you please let us know if you still have this issue with the latest extension? Thanks!

[2022-08-04 00:08] davidmrdavid commented on #2236
I see, I suppose that if another component, such as the scale controller, is acting up due to truncated names / host id collission, then that would explain your performance behavior.

I'll wait for your comment @dylanhouston7, but with @mpaul31's experience backing you up, it would seem like there's indeed a correlation here. If so, it may be worthwhile to call this out, perhaps in our docs.

[2022-08-04 04:33] Skleni commented on #2240
I'm using [this package](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.DurableTask/0.4.1-beta) for implementing durable functions in isolated mode, it's the newest there is.

See also https://github.com/microsoft/durabletask-dotnet

[2022-08-04 16:08] dylanhouston7 commented on #2236
@davidmrdavid @mpaul31 I've seen more orchestrations go through since last posting and every one of them has been extremely performant. I'm satisfied with the performance. Thanks @mpaul31 for posting about your experience and thanks @davidmrdavid for checking this out.

![image](https://user-images.githubusercontent.com/20400168/182894990-2efb4e96-4de3-475e-a06b-30bf96435d72.png)

@davidmrdavid  S

[2022-08-04 16:46] davidmrdavid commented on #2240
Thanks @Skleni for the clarification: I had misread your first post and somehow thought you were using a beta version of the Durable Extension, but instead it seems this version is for the new C-isolated SDK. My apologies, the names are a bit similar :-)

I'll tag @cgillum since he's most familiar with that implementation, though he's out on vacation for a few more days.

[2022-08-04 16:48] davidmrdavid commented on #2236
Thanks all for the suggestions.
@lilyjma - can you please take note of the interaction between orchestrator performance and long site names (over 32 chars)? We should update our docs to reflect this, after some discussion and validation with the team. In the meantime, I'll be closing this issue; but I'll create a documentation task in our internal taskboard.

[2022-08-04 16:48] #2236 closed

[2022-08-04 16:49] davidmrdavid opened #2241 "Document (potential) interaction between HostID collissions and orchestrator performance"
Inspired by this thread: https://github.com/Azure/azure-functions-durable-extension/issues/2236#issuecomment-1205459977

It appears that HostID collissions (occur in older versions of Functions when sitenames are over 32 chars long) may have an effect in orchestrator performance; two different users report that here: https://github.com/Azure/azure-functions-durable-extension/issues/2236#issuecomme

[2022-08-04 16:59] Skleni commented on #2240
No problem :)

[2022-08-05 10:49] saitejamsft opened #2242 "if we try to hit same azure durable function more than once, it gets stuck at pending for long time"
### Description

### Expected behavior

### Actual behavior

### App Details

- **Durable Functions extension version (e.g. v1.8.3)**: V2
- **Azure Functions runtime version3.11:
- **Programming language used**: Python 3.7

### Deployed to Azure

- **Orchestration instance ID(s)**: -
            1. bceff1a3ee844fee9f3d8ccfb531c675 (after 2's completion, this execution will start)
            2. 55

[2022-08-09 22:38] lilyjma commented on #2242
@saitejamsft - could you provide timestamp information for the orchestration? And maybe the region as well.

[2022-08-10 04:24] saitejamsft commented on #2242
Please find the details
Region: Central US,
timestamp: 5th August 2022 4:18PM

[2022-08-10 05:22] lilyjma commented on #529
@prabhu87 - could you please create a new issue thread as David mentioned if you're still experiencing the problem? This will help increase visibility. Thanks!

[2022-08-10 05:31] lilyjma commented on #1951
@Ninlives - apologies for the delayed response. Are you still experiencing this problem?

[2022-08-11 07:14] Skleni commented on #2240
Also, it seems that the `returnInternalServerErrorOnFailure` parameter doesn't seem to have any effect. When passing `true`, the a request to the `statusQueryGetUri` returns 200 OK, even if the orchestration failed.

[2022-08-11 18:05] #2222 closed

[2022-08-11 20:01] IGx89 opened #2245 "Lots of "Durable Functions Trigger Scale Decision" logs"
Hello! I'm testing the Azure Storage provider on an Elastic Premium plan and am seeing a lot of "Durable Functions Trigger Scale Decision" logs (such as "Durable Functions Trigger Scale Decision: ScaleIn, Reason: Task hub is idle") -- 7 every 10 seconds, all within a couple milliseconds of each other. Is that normal behavior? My plan is set to have 1 warm instance, maxing out at 5, and seems to al

[2022-08-11 23:44] cgillum commented on #2245
Sounds like the scale monitor is running far too frequently. I have some theories about why this could be happening (for example, it might be related to the number of functions in your app - more durable triggers => higher frequency). Can you provide a bit more information so we can investigate more closely?

[2022-08-12 14:34] IGx89 commented on #2245
There are 2 orchestration triggers, 5 activity triggers, and 8 HTTP triggers.

Here's some more details -- LMK if you need any more:
- **Durable Functions extension version (e.g. v1.8.3)**: 2.7.2
- **Azure Functions runtime version (1.0 or 2.0)**: 4.0
- **Programming language used**: C#
- **Timeframe issue observed**: past 18hrs (since I turned on Scale Controller logging)
- **Function App name**:

[2022-08-12 22:55] #2166 closed

[2022-08-15 21:12] davidmrdavid commented on #2242
@saitejamsft - is that timestamp in UTC? If not, can you please provide us with the UTC timestamp?

[2022-08-16 01:43] IvanKiselev123 opened #2246 "TaskOrchestrationContext.SetCustomStatus goes into endless recursion"
### Description
Hi!

Seems like TaskOrchestrationContext.SetCustomStatus is endlessly calling itself until stackoverflow:
https://github.com/Azure/azure-functions-durable-extension/blob/70367ec288dc775d2a952a85ec6c1c488a29e343/src/Worker.Extensions.DurableTask/DurableTaskFunctionsMiddleware.cs#L167-L167

### Expected behavior
Update task status in specific field

### Actual behavior
Recursively ca

[2022-08-16 04:03] cgillum commented on #2246
@jviau this would be a good one for you to take a look at.

[2022-08-16 05:16] saitejamsft commented on #2242
UTC timestamp: Fri, 05 Aug 2022 10:48:00 GMT

[2022-08-16 15:07] sebastianburckhardt commented on #1555
Trying to remember where we are at here. To keep it as simple as possible I think this could work:

All three backends have the concept of 'dequeue count'. We could expose this number (a positive integer) to activity and entity functions. The guarantee we can make is: no two attempts at executing the same activity or entity operation ever have the same dequeue count. The first attempt has dequeue

[2022-08-16 16:20] Ozzian commented on #2232
bump

[2022-08-16 17:27] cgillum commented on #2232
I cloned the reproducer app and confirmed the problem. I'll try to see if I can narrow down the source of the problem. I reproduced it on both Functions v3 and v4.

[2022-08-16 17:32] cgillum commented on #2232
I commented out the `AddDurableClientFactory` code in Startup.cs and the problem went away.

I unfortunately don't have a good sense for why this is happening, but at least we kind of know what's causing it. Do you really need this startup code, though? It doesn't seem to be accomplishing anything that you couldn't already do with a simple `[DurableClient]` binding in your HTTP trigger.

[2022-08-16 21:24] jviau commented on #2240
This can go either way - both 201 and 202 are applicable responses here, it all depends on what this orchestration is doing. If it is conceptually _creating_ something, like say you are an Azure Resource Provider and this orchestration is responsible for creating a resource, then `201Created` is correct. However, in other cases `202Accepted` is appropriate, to continue with the Azure RP example, i

[2022-08-16 21:35] #2246 closed

[2022-08-16 21:42] Ozzian commented on #2232
We would like to use dependency injection to make testing our service-classes more easier.

[2022-08-17 00:16] cgillum commented on #2232
Looking at the code more closely, I think the problem is that `builder.Services.AddDurableClientFactory()` configures a [connection string provider](https://github.com/Azure/azure-functions-durable-extension/blob/50f4ba38c73639f1e246cab2c6c4e72fb0c4c422/src/WebJobs.Extensions.DurableTask/DurableTaskJobHostConfigurationExtensions.cs#L45) which isn't fully compatible with the Azure Functions runtime

[2022-08-17 06:02] #529 closed

[2022-08-17 09:50] SamVanhoutte commented on #2166
@sebastianburckhardt , thanks for the updates and the apparent fix.  is there something I should do, in order to have these changes applied?
- is there a nuget package, I have to upgrade?
- do I have to make any changes to my existing deployment?
- anything else that should be done from my side?

[2022-08-17 11:54] SamVanhoutte commented on #2166
@sebastianburckhardt : also : how can I query my task hub to get a list of all entities that are in a failed state?  I don't see the HTTP request available to do that (only for instances/orchestrations)

[2022-08-17 16:41] Skleni commented on #2240
I'm not sure I agree, @jviau . IMO the status code here refers to the orchestration itself and not what it is doing. And even if it was - while it is running, it shouldn't return `201 Created`, even if that's going to be the end result.

[Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/connectors-native-http#asynchronous-request-response-behavior) have built-in support for asyn

[2022-08-17 19:00] mnsrulz opened #2250 "Serialization of DurableOrchestrationStatus instances ignores few properties using built in STJ"
### Description
Serialization of `DurableOrchestrationStatus` instances ignores few properties using built in STJ.

### Expected behavior
`DurableOrchestrationStatus` instances should serializable using built in STJ

### Actual behavior
The JSON output is rendered as

[code]

### Relevant source code snippets
[code]

### Known workarounds
Using NewtonSoft Json can solve the problem.

### App Detai

[2022-08-17 20:23] bachuv commented on #2232
@cgillum yes, I can take a look at this.

[2022-08-18 23:02] amdeel opened #2252 "2.8.0 Release Steps"
**Prep DTFx Release: (assigned to:)**
_Due: <2-3-business-days-before-release>_
- [x] Check DTFx package versions
- [x] Delete DTFx test packages from staging myget.
- [x] Run the DTFx release pipeline to obtain new packages.
- [x] Publish DTFx packages to staging myget (https://www.myget.org/feed/Packages/azure-appservice) for testing.

**Prep Release (assigned to: )**
_Due: <2-business-days-befo

[2022-08-22 06:13] SamVanhoutte commented on #2211
Hey @cgillum , is there something we should do to benefit from your fix/change?  Because I have the exact same issues and our application workflows are becoming terribly slow, and every Purge call is timing out, so it feels like we're in a state that only keeps getting worse.

[2022-08-22 06:35] SamVanhoutte commented on #892
when is that extension release planned, @cgillum ? any issue that I can track for this?
performance is becoming unmanageable in our production environment

[2022-08-22 10:38] SamVanhoutte opened #2254 "Terrible degrade of performance noticed with Durable Functions & Entities"
### Description
I am using Azure Durable Functions in production for almost 2 years now.  And the performance of my orchestrations and activity functions has been dramatically degraded.  Orchestrations that used to take a few seconds (just some API calls) are now taking several hours, according to DFM.
I know this can be related to the storage account and purging of it, but I constantly keep getti

[2022-08-22 12:39] SamVanhoutte opened #2255 "Error after nuget package upgrade: Unable to resolve the Azure Storage connection named 'Storage'."
### Description
I have upgraded my function app (consumption plan) with a deployment that has changed the following nuget package versions in my functions project (csharp):

**Working before deployment:**
[code]

**Failed after deployment:**
[code]

After this, I get the following error in the azure portal:

It seems strange to see this breaking change, without finding any documentation about it.

[2022-08-22 17:37] cgillum commented on #2255
Possible duplicate of https://github.com/Azure/azure-functions-durable-extension/issues/2232?

[2022-08-22 17:42] cgillum commented on #2254
Have you had a chance to check out the Azure Functions Diagnose and Solve Problems tool? https://docs.microsoft.com/en-us/azure/azure-functions/functions-diagnostics. If you search for Durable Functions in the search box, you'' find a detector that can analyze your app and look for common issues that can result in problems like this.

One recommendation you'll see is to upgrade to the latest nuget

[2022-08-22 17:52] cgillum commented on #2250
I think the problem you're running into is that the `Input` and `Output` properties are `JToken`, which I don't believe is something STJ knows how to natively serialize since it is specific to Newtonsoft.Json.

Take a look at [this StackOverflow post](https://stackoverflow.com/questions/65386083/how-can-i-serialize-a-newtonsoft-jtoken-to-json-using-system-text-json), which provides a workaround fo

[2022-08-22 19:07] SamVanhoutte commented on #2255
Agreed, seems to be duplicate (didn't find it) of that issue.

[2022-08-22 19:07] #2255 closed

[2022-08-23 02:43] davidmrdavid commented on #1555
Yep, I think we had mostly agreed this was probably the simplest implementation.
I'm curious, @sebastianburckhardt - do you think any of the backends has the ability to _actually_ provide the at-most-once guarantee, or is this simply not possible?

[2022-08-23 02:59] davidmrdavid commented on #892
@SamVanhoutte: I'm actively working on a release right now. If everything goes well, a new release should be out before the end of the week, most likely earlier.

[2022-08-23 03:17] davidmrdavid commented on #2166
Hi @SamVanhoutte - as for the fix, it should be available in a matter of days on the standard NuGet package. If a delay comes our way, I can also prepare a private MyGet package for you to try out this patch.

On the other questions - I'll defer to @sebastianburckhardt. However, I'm under the impression that the same query that works for orchestrators, would work for entities (due to them sharing

[2022-08-23 06:02] #1951 closed

[2022-08-23 06:31] saitejamsft commented on #2242
Please find the Epoch timestamp: 1659696480000

[2022-08-26 00:43] cgillum commented on #2211
This fix for this has been included in the latest extension release: [v2.8.0](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.8.0)

[2022-08-26 09:09] hctan commented on #1682
Hi, regarding this feature, i came across this [link](https://stackoverflow.com/questions/59167994/maximum-activity-response-data-size-limit-in-azure-durable-functions) which mentioned that durable function would automatically store the activity output payload in blob if its > 64kb. If this is the case, the alternative mentioned in the feature - storing into blob and pass the blob reference, would

[2022-08-26 21:01] mnsrulz commented on #2250
@cgillum  thanks for sharing the sof post link. I believe for now I have a work around where in I can just use the newtonsoft library since there is a dependency on that anyway. However, is there a future roadmap of supporting STJ over Newtonsoft in this library is what I was looking for.

[2022-08-27 02:04] wbittlehsl commented on #1026
@cgillum I hate to resurrect an old issue, but I'm also experiencing this.  My situation is a little different.  We have an Application Gateway in front of our Azure Function because the Azure Function has Private Endpoints configured for it.  What this means is that the default URL of *.azurewebsites.net is simply not reachable from outside the VNet.  The code above works great for the FIRST requ

[2022-08-27 02:14] wbittlehsl commented on #1026
If it helps anyone else, the missing piece was the AuthorizationLevel of the custom status function.  It needs to be set to `System` instead of function so that the durable function extension key works for it.

[2022-08-29 16:25] cgillum commented on #1682
@hctan the problem with the automatic storage into blobs is that we must also automatically deserialize those large blobs when loading the orchestration into memory since we can't know whether or not the orchestration needs to reference that data. Blob references would be a contract indicating that the orchestration doesn't need to access the blob data and can therefore skip loading it, which woul

[2022-08-29 16:32] cgillum commented on #2250
We don't have any plans to change this for Microsoft.Azure.WebJobs.Extensions.DurableTask.  We do plan to change this for the Durable Functions SDK that runs in .NET Isolated (Microsoft.Azure.Functions.Worker.Extensions.DurableTask), but we haven't yet proposed the design for injecting this newer client into ASP.NET Core Web Apps.

/cc @jviau

[2022-08-29 18:02] #2254 closed

[2022-08-30 14:23] IDrumsey commented on #443
@cgillum

Is there a Python equivalent for this? I've been messing with it, but can't seem to get it to work.

Without raising any events, it works as you would expect -

*orchestrator function*
[code]
*activity function*
[code]

*results*
[code]

However, when I uncomment the raising of the events, it catches the first one, but then seems to restart the activity function (I say this because it re

[2022-08-30 18:40] ChrisRomp opened #2261 "Add API option to filter instance status history by eventType"
**Is your feature request related to a problem? Please describe.**
On the [Get Instance Status API](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#get-instance-status) there's a `showHistory` parameter which returns a `historyEvents` array for the instance.  It would be good to be able to filter this to only specific event types.

**Are there any existing

[2022-08-31 05:38] garytamdas opened #2262 "ContinueAsNew does not clear and reset eternal orchestration history"
### Description

We have an eternal orchestration function (queue worker) that is responsible to dequeue msg.  It is hosted inside a communication app that responsible to send sms message and email. We noticed that the performance of the app would deteriorate over time after a several blast of sms message. After some through investigate we have determined that this eternal orchestration function d

[2022-08-31 15:26] seancolonello opened #2263 "CS8032 Warning for DependencyInjectionAnalyzer in version 2.8.0"
### Description
After upgrading to v2.8.0 I get the following code analysis warning in Visual Studio Community 2022.

`Warning	CS8032	An instance of analyzer Microsoft.Azure.WebJobs.Extensions.DurableTask.Analyzers.DependencyInjectionAnalyzer cannot be created from C:\Users\Sean\.nuget\packages\microsoft.azure.webjobs.extensions.durabletask.analyzers\0.5.0\analyzers\dotnet\cs\Microsoft.Azure.WebJo

[2022-08-31 17:40] cgillum commented on #2262
Hi @garytamdas. From the screenshot, it looks like this orchestration last ran ~5 months ago. Do you have a more recent reproduction of this using one of the newer extension versions (e.g., v2.8.0)?

It's definitely strange and unexpected to see so many `OrchestratorCompleted` records. One thing I'm wondering about is what happens if you get stuck in a long try/catch loop without hitting any await

[2022-08-31 19:27] garytamdas commented on #2262
We are using v2.5.1, should we upgrade to 2.8? I have attached a more recent history here as a CSV file
[CommunicationApiHistory.csv](https://github.com/Azure/azure-functions-durable-extension/files/9464498/CommunicationApiHistory.csv)

[2022-08-31 19:29] garytamdas commented on #2262
@cgillum There's no exception raise from and by the eternal orchestration. Also the function went through the awaits just fine.

[2022-08-31 21:49] Julio-Arroyo commented on #394
I've added support for a suspend-resume feature for orchestrations, and it has been added as part of the Durable Functions v2.8.0 release.

@cgillum should this issue be closed and re-labeled?

[2022-08-31 21:53] cgillum commented on #394
Yep, we can close this now! Here's a link to the release notes: https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.8.0. And here's a link to the documentation: https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-instance-management#suspend-and-resume-instances-preview

[2022-08-31 21:53] #394 closed

[2022-09-02 07:43] khairihafsham opened #2264 "Exception when Continue-as-New and Termination happens at the same time"
### Description

When Continue-as-New and Termination happens about the same time, exception is thrown ` System.InvalidOp
erationException: Multiple ExecutionCompletedEvent found, potential corruption in state storage`

It does depends on luck, but locally, I've managed to reproduce this issue quite often with the shared code below.

### Expected behavior

Workflow is terminated

### Actual behavi

[2022-09-02 16:48] garytamdas commented on #2262
@cgillum Any update?

[2022-09-02 16:51] cgillum commented on #2262
@garytamdas Sorry, no updates yet. I've been focused on a separate high-pri issue and haven't had a chance to look into this further.

Would you be able to provide a reproducer app that I can run locally to observe this behavior? That would help speed up the investigation for me.

[2022-09-05 16:19] contactkanika12 opened #2265 "facing this issue while running azure function -> Function 'ExecutionAPI_StartExecution (Activity)' failed with an error. Reason: System.ArgumentNullException: Value cannot be null."
### Description
I am facing this error while executing my functionapp
![image](https://user-images.githubusercontent.com/40831239/188488337-e1383356-06a8-4272-9526-67604f6836e5.png)

### Expected behavior
I am using user managed identity to get access to log analytics

my template is
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion":

[2022-09-06 17:58] amdeel commented on #2263
@seancolonello This can sometimes happen but should disappear when closing and re-opening all instances of Visual Studio. Let me know if this doesn't resolve your issue.

[2022-09-06 17:58] #2252 closed

[2022-09-06 18:07] seancolonello commented on #2263
@amdeel, that fixed it. I know I opened/closed the VS instance in question, but must have had other instances open. Thank you, the issue can be closed.

[2022-09-06 19:14] amdeel commented on #2263
@seancolonello Great, thanks for replying so quicky!

[2022-09-06 19:14] #2263 closed

[2022-09-06 20:56] cgillum commented on #2265
From the screenshot, it looks like there is an error in the library you are using (Microsoft.Office.Substrate.Cosmic...). I suggest you follow up with the owners of that library and provide them with a code snippet that demonstrates how you were able to see this error. It's very likely an issue with how you wrote your function code.

[2022-09-06 20:56] #2265 closed

[2022-09-07 05:55] garytamdas commented on #2262
@cgillum  Sorry I haven't had a chance to write the reproducer app. Will get back to you asap.

[2022-09-08 01:59] hebertpenavanco commented on #467
I'm having the same issue

[2022-09-12 11:37] nilsmehlhorn commented on #617
@cgillum Has there been internal progress on the propsoal?

Enabling manual retries per activity seems like a must for utilizing durable functions effectively in production. You'll always have cases where you don't want automatic retries (e.g. for non-idempotent activities, which realistically speaking will always exist in userland) or simply want the ability for additional retries which aren't ba

[2022-09-12 18:27] cgillum commented on #617
Hi @nilsmehlhorn. Thanks for this feedback. There are some good scenarios in here that we'll need to think through. No updates on the proposal to report yet, unfortunately. Adding @jviau as FYI.

[2022-09-14 20:20] #2135 closed

[2022-09-15 16:19] davidmrdavid commented on #467
Hi @hebertpenavanco: could you please open a new issue providing details on your particular scenario? That will help us get started on an investigation. Thanks!

[2022-09-15 17:36] davidmrdavid opened #2270 "Document how to pass large values to and from activities"
Related: https://github.com/Azure/azure-functions-durable-js/issues/360

It is generally bad practice to pass large inputs and outputs to DF activities within orchestrators. However, we don't have clear examples in our documentation showing how to work around this limitation.

This item tracks the development of those examples, one per supported PL.

[2022-09-15 17:40] davidmrdavid commented on #443
Hi @IDrumsey: I just provided an update on the thread you linked (https://github.com/Azure/azure-functions-durable-python/issues/349) regarding the exception you're seeing. Let's continue the discussion there.

[2022-09-15 19:57] ankuratudemy commented on #2270
Continuing here from  .. https://github.com/Azure/azure-functions-durable-js/issues/360#issuecomment-1248404298.
In my use case we have -->
Huge Excel file ( thousands of rows) which triggers  Start function **-->** excel blob data gets converted to JSON and sent to Orchestrator (Here, I was facing issue and kind of put a hack to overcome maxBodyLength limit by setting **client.axiosInstance.defau

[2022-09-15 21:09] davidmrdavid opened #2271 "Planning for Release 2.8.1"
**Prep DTFx Release: (assigned to:)**
_Due: <2-3-business-days-before-release>_
- [x] Check DTFx package versions (either DT-AzureStorage only or if there were Core changes DT-AzureStorage, DT-Core, DT-Emulator, and DT-Redis)
- [x] Delete DTFx test packages from staging myget.
- [x] Run the [DTFx release pipeline](https://durabletaskframework.visualstudio.com/Durable%20Task%20Framework%20CI/_build

[2022-09-16 16:13] johnnycrich commented on #2270
@ankuratudemy`client.axiosInstance` is a private property of that class. How were you able to set this default? I am facing a similar problem and trying to find a non-hacky workaround. +1 for better docs around data concepts.

[2022-09-16 16:20] davidmrdavid commented on #2270
@ankuratudemy:

Glad to hear you have a workaround. Still, I just want to share some things to keep in mind: communicating large values as inputs and outputs from DF APIs can lead to performance problems. But yes, utilizing sub-orchestrators should help mitigate that possibility as creates a layer of indirection when it comes to storing these intermediate values.

In general, the best practice is

[2022-09-16 16:23] johnnycrich commented on #2270
@davidmrdavid This is quite helpful clarification.

[2022-09-16 16:33] ankuratudemy commented on #2270
That's very helpful and makes perfect sense.

So, I can try to break down my large input into chunks  and upload to blob and pass only references to orchestrator --> load these references in activities(Also, keep sub orchestrators to keep smaller histories), process them and again store them back to output blob. This resolves "large input being a bad practice issue".

But, I will again get stuck a

[2022-09-16 16:39] davidmrdavid opened #2276 "Consider enchancing Host Diagnostics and Monitoring logs with DF properties"
In the portal, users can forward diagnostic logs to various sources through the following flow: Azure Portal at Function app -> Monitoring -> Diagnostic settings -> Add diagnostic setting:

These logs originate from the Host, and while sometimes they include Durable Functions metadata, such as instanceIDs, DF-specific data isn't always neatly formatted. Below is a truncated example of data receive

[2022-09-16 16:40] davidmrdavid commented on #2276
FYI @cgillum, @kaibocai

[2022-09-16 16:42] ankuratudemy commented on #2270
Didn't realize that. Just checked. But i didn't get any **"Attempted to assign to readonly property."** error

[2022-09-17 17:26] brandonh-msft commented on #506
Wondering if it would be acceptable to add `CancellationToken` as a parameter on an `[ActivityTrigger]` function and simply inject a cancellation token? Then activities could use existing patterns to `.ThrowIfCanceled` or `IsCancellationRequested`, etc.

[2022-09-18 15:01] gorillapower commented on #506
@brandonh-msft  @cgillum, am I right in saying that this being addressed in this PR? https://github.com/Azure/durabletask/pull/787

[2022-09-19 17:27] davidmrdavid commented on #2271
Templates PR - https://github.com/Azure/azure-functions-templates/pull/1256

[2022-09-19 17:30] #2271 closed

[2022-09-21 21:52] davidmrdavid opened #2278 "Consider warning users when their EntityTrigger declaration is deeply nested"
It appears that Functions will only be indexed by the Host when they're declared at the top-level namespace, or inside a top-level class.

For example:

*Top-level namespace:*

[code]

*Top-level class:*

[code]

However, the following will not work: declaring a Function inside a **nested** class

[code]

*The problem scenario:*
When an orchestrator is created through the templates, it's Functions

[2022-09-21 21:53] davidmrdavid commented on #2278
FYI @amdeel

[2022-09-22 17:26] davidmrdavid commented on #506
@gorillapower: almost! That PR applies specifically to cascading a management operations (terminate, suspend, resume) to sub-orchestrators. It doesn't apply to Activities, which execute quite differently.

[2022-09-22 17:28] davidmrdavid commented on #506
@brandonh-msft: That's one of the options we're exploring One blocker is that we will probably need support from the Azure Functions Host in order to manage that Cancellation token.

[2022-09-22 21:09] AdiThakker commented on #1162
@MichalKosowski : Did you find a solution? I have a similar setup as yours my DurableEntity is in shared class library and HTTPTrigger functions invoke it from a different Functions project.

The problem I am seeing is my TaskHubWorker does not start (no dequeue attempt made from the -control queues). if there are no Durable Functions added to the project.

Once i add a durable function, TaskHubWo

[2022-09-23 15:53] #2262 closed

[2022-09-25 03:40] kieran-reportabl commented on #817
I believe I'm seeing the issue described on my ASP - windows plan.

I've added logging within an activity that takes around 10-15 minutes to complete. The JobHost stopped message will appear after ~10 minutes and the activity will not complete. ~5 minutes later a new activity starts from the beginning.

This is an API download to Azure Blob upload activity so stopping/restarting every 10 minutes i

[2022-09-27 12:20] khairihafsham commented on #2264
Hi. Wondering if there is any update regarding this issue? This problem is blocking a big release of our service.

At the moment, we are exploring using External Events as an alternative way to "terminate" an orchestrator's execution. It is not ideal, but it does achieve the goal. Would appreciate if there is other solution that any of the maintainers could advice.

[2022-09-28 03:58] Meadow201317 commented on #604
The link is unavailable now. Could you please update it? :)

[2022-09-28 22:17] davidmrdavid commented on #604
I suspect this is the new home of that documentation: https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.idurableactivitycontext?view=azure-dotnet#definition

[2022-09-28 22:21] cgillum commented on #604
I've updated the link to point to the new location for the docs.

[2022-10-01 15:23] fiddlerpianist commented on #2207
Could you give me an update on this? I realize that "in the coming months" could mean anything from "This is nearing completion" to "We'll look at this next year." We are on a premium plan and have pinned our minimum instances high enough in our production environment that we haven't seen this problem, but obviously that is suboptimal and not a cost-effective solution the long term. An update woul

[2022-10-03 16:42] cgillum commented on #2207
@fiddlerpianist we're finalizing our plans now, but my understanding is that this will be done in the current semester, meaning sometime between now and early next calendar year (@lilyjma can correct me on the dates).

[2022-10-03 17:56] amdeel commented on #2207
@fiddlerpianist I'm currently working with another customer to make progress on the investigation of this bug who seems to be running into this issue more frequently. Unfortunately for now I don't have any updates on this investigation but I hope to make progress on it soon. As for the partition manager changes that Chris mentioned, I'm planning work to refactor our partition manager, but I don't

[2022-10-03 18:50] brandonh-msft opened #2281 "Allow SetCustomStatus to use structure logging syntax"
I have some code in my project that looks like this:

[code]

However, when using the `.Log` method on `ILogger` in this way, I lose the capability for structured logging.

It would be great for `IDurableOrchestrationContext.SetCustomStatus` to be able to take a structured logging input of `string, params object[]` so I don't have to roll my own here :)

[2022-10-05 13:24] gunzip commented on #892
Any news about this?

[2022-10-06 05:32] AirGorden commented on #892
Hi @SamVanhoutte,
when can we expect this next release?

[2022-10-06 18:24] davidmrdavid commented on #892
@amdeel: Is _this_ the issue you were looking to assign to @nytiannn?

[2022-10-06 21:05] Identifier opened #2282 "StatusResponsePayload should not be returned from HandleGetStatusRequestAsync when OrchestrationRuntimeStatus is Completed"
https://github.com/Azure/azure-functions-durable-extension/blob/575772b2196ee6cc3e6a622190894d639f9dec9c/src/WebJobs.Extensions.DurableTask/HttpApiHandler.cs#L678

Please correct me if I'm wrong, but my understanding is that the asynchronous HTTP pattern is to either:
A) Return 200 with the content if it's immediately available, or
B) Return 202 with a Location header that specifies a URL to GET w

[2022-10-06 22:23] cgillum commented on #2282
My understanding of the scenario you're describing is that you're using one orchestration to start another using our [built-in HTTP action for orchestrations](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=csharp#consuming-http-apis). The problem you're facing is that you want the caller to read the output of the other orchestration, but curren

[2022-10-07 17:08] IGx89 opened #2283 "Orchestrations not failing when activity fails and a sub-orchestration is running"
### Description
If my orchestration simply calls an activity that fails (throws an exception), my orchestration's runtime status changes to Failed as expected. If however I launch a sub-orchestration before the activity call that fails, my orchestration's status remains Running.

[The docs](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-error-handling?tabs=csharp

[2022-10-07 17:18] cgillum commented on #2283
The reason your orchestration remains in the "Running" state is because the sub-orchestration it started is still running.

Orchestrations will not transition out of "Running" until all of its durable tasks are complete or cancelled. This problem is most commonly seen when people use the `CreateTimer()` API to create a durable timer but then allow the orchestrator to complete without either cancel

[2022-10-07 17:32] IGx89 commented on #2283
Thanks for your quick reply! Is that documented anywhere? Should I submit a request to update the documentation on the error handling page to mention this?

My orchestration method at the end makes a call to a cleanup activity that terminates any running sub-orchestrations (forgot to add it to my example above). Sounds like the recommended solution here would be that "ugly" workaround I mentioned

[2022-10-07 18:34] amdeel commented on #892
@davidmrdavid Yes. If you have questions like this you can just talk to me offline.

[2022-10-08 00:05] schutztj commented on #2135
@davidmrdavid
Unfortunately, I'm still hitting this in 2.8.1 with similar conditions. We, too, are setting JsonConvert.DefaultSettings globally so I had a lot of hope for the latest release.  It seems that the second call to a Durable Entity from an orchestration via an entity proxy is triggering this (we do this frequently so there is clearly some other factor at play here) but I see the same:
[a

[2022-10-10 14:20] gregorybleiker opened #2284 "All instances should return *all* instances"
### Description
Running a rest call like `runtime/webhooks/durableTask/instances?code=<code>&top=50&runtimeStatus=Running`
will return an empty list `[]`, however if you find out an instanceid by other means (e.g. the vscode extension), then `/runtime/webhooks/durableTask/instances/<instanceid>?code=<code>&top=20&runtimeStatus=Running` does return a task (with status `running`)

### Expected behav

[2022-10-10 19:51] Identifier commented on #2282
I could do what you're saying to work around the problem, as well as the workaround I posted above that manually parses the JSON to look for the "output" property, but it would be nice if no workarounds were necessary.

[2022-10-10 21:24] amdeel commented on #2284
@gregorybleiker That should return all of the running orchestrators. The empty list should only be returned when there are no results.

Are you making the call to the app with the orchestrators you're monitoring? If not, you'll need to add taskHub and connectionName. Let me know if this doesn't resolve your issue.

[2022-10-10 21:35] amdeel opened #2285 "Documentation: HTTP API makeprimary"
In this [release](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.5.0) we added an http api to allow customers who use the AppLease feature to force change the primary app without requiring app restarts.

We should add this to our http api reference page in our documentation.

https://github.com/Azure/azure-functions-durable-extension/pull/1769
https://github.com/Azure/d

[2022-10-10 21:38] amdeel opened #2286 "Documentation: HTTP API restart"
In this [release](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.4.0) we added an http api to allow customers to restart their app.

We should add this to our http api reference page in our documentation.

https://github.com/Azure/azure-functions-durable-extension/pull/1545

[2022-10-11 05:40] gregorybleiker commented on #2284
@amdeel yes, I have only one fn app running orchestrator and tasks. Also, in the vscode extension the tasks do show up. I have the suspicion it has something to do with the `top` parameter

[2022-10-11 06:24] mmajcica commented on #1303
I just checked and with the current latest this is still not fully possible. I was expecting that if I do specify IDurableClient as a dependency for my function class, the DI container will be able to solve it and give me the necessary instance. The only thing available in the container is IDurableClientFactory. It would be nice if the IDurableClient would be there so that we do not need to specif

[2022-10-11 06:53] yell0wfl4sh opened #2287 "Implementation of CreateScheduledOrchestrationInstanceAsync in Durable functions"
**Is your feature request related to a problem? Please describe.**
We have many scenarios where we need to schedule orch or sub-orchs to start a particular time. We use `CreateTimer` as of now to sleep until we want to launch to the simulation.

**Describe the solution you'd like**
Implement StartAsNew() with addition start time property

**Describe alternatives you've considered**
Using CreateTim

[2022-10-11 19:38] cgillum commented on #2287
Can you provide more information about why the use of `CreateTimer` is not satisfactory for your scenario?

[2022-10-12 03:55] GavinOsborn opened #2289 "Analyzer: DF0113 behavior differs depending on the constructor variable assignment syntax"
### Description
When using DI in an orchestrator class the analyzers will yield a warning if I assign a constructor to a private variable using the `this._foo = foo` syntax but not if I omit the `this`.

### Expected behavior
`dotnet build` should run successfully and yield no compiler warnings.

### Actual behavior
`dotnet build` yields the following compiler warning:

### Relevant source code sn

[2022-10-12 16:40] amdeel commented on #2284
@gregorybleiker Can you provide more information on this and a way to reproduce this? This API works fine for me.

[2022-10-13 04:39] Kavitha-Desu-Caci commented on #231
@cgillum - I am also seeing the same issue that has been reported here which is activity is executing twice instead of taking it from history.  Can you please confirm whether this issue has been released which i think it might have been but would like to know why this is happening? and also  please provide me the query to prouce the data

Event FunctionType FunctionName count_
FunctionScheduled Or

[2022-10-13 08:01] yell0wfl4sh commented on #2287
We have scenario where we want to fan out to several suborchestrators with each having there own particular start time. The approach that we use currently is sort these inputs by time and use CreateTimer to wait until next execution time. There can be 100s of orchestrators that are too be launched and I feel that passing StartTime as input for Suborchs would be a useful functionality.

Let me know

[2022-10-13 18:08] cgillum commented on #2287
I'm not opposed to the idea, but it would be very difficult for us to prioritize given that there's a relatively simple workaround. This is the sort of enhancement that I think is best done as a community contribution (we routinely accept PRs!).

[2022-10-13 18:21] cgillum commented on #231
@Kavitha-Desu-Caci are you seeing this consistently or just occasionally? If just occasionally, the problem is more likely to be some intermittent failure that is causing repeat execution of some activities. We have at-least-once execution guarantees for activities, so things like an unexpected process crash can cause repeat executions like this.

If you're seeing it consistently, then please open

[2022-10-14 03:45] Kavitha-Desu-Caci opened #2290 "Orchestration replays activities more than once when concurrent requests are sent"
### Description

### Expected behavior

###Actual behaviour
The Function App func-distancegenerationapi has 1 Orchestrator function DistanceGenerationOrchestratorFunction, and 2 Activity functions DistanceGenerationFormatResultActivityFunction and DistanceActivityFunction.

### App Details

- **Durable Functions extension version (2.4) but also tried with  v2.8.1 but no luck**:
- **Azure Functions

[2022-10-14 03:54] Kavitha-Desu-Caci commented on #231
@cgillum - Thanks for your immediate response. I have created a separate issue https://github.com/Azure/azure-functions-durable-extension/issues/2290 which details the issue and my findings. I can consistently reproduce this issue when i run concurrent requests.

[2022-10-14 19:59] davidmrdavid commented on #2135
Hi @schutztj ,

Hmm, that's strange. Can you please create a separate issue with a minimal reproducer? That should allow us to take a closer look at this. Thanks!

[2022-10-17 10:13] NickSevens commented on #1615
It seems to me correlation now works correctly - when indeed upgrading to the latest packages and Azure Func V4.
Which is good enough for me ;)

Thank you for the support guys.

[2022-10-17 10:13] #1615 closed

[2022-10-18 13:26] michaelelleby opened #2291 ".NET Framework 4.8 does not compile with latest extension version"
### Description

Using Durable Functions as WebJobs with .NET Framework 4.8 does not compile, giving the error `'IWebJobsBuilder' does not contain a definition for 'AddDurableTask' and no accessible extension method 'AddDurableTask' accepting a first argument of type 'IWebJobsBuilder' could be found (are you missing a using directive or an assembly reference?)`
If I downgrade the project to .NET F

[2022-10-18 13:49] gregorybleiker commented on #2284
I think this was related to the fact that we deployed a new version of the app and old instances were still hanging around in the workitem queue. I found this very frustrating, as the activities were clearly still being executed but did not show up in the API. Ideally, this would not be possible to happen at all and so it is not an issue with the API.

[2022-10-18 13:49] #2284 closed

[2022-10-19 10:13] michaelelleby opened #2292 "IDurableOrchestrationClient.ListInstancesAsync throws excepton on .NET Framework 4.8 when used in WebJobs"
### Description
Trying to list instances of orchestrators with IDurableOrchestrationClient.ListInstancesAsync() crashes on .NET Framework 4.8. The same code works on .NET 6.
I am using the Azurite emulator version 3.19.0 for storage with the connection string `AzureWebJobsStorage` set to `UseDevelopmentStorage=true`
The code is running as an Azure WebJob.

### Expected behavior
List of instances s

[2022-10-19 10:52] Kavitha-Desu-Caci commented on #2290
@cgillum - Any update on this issue will be much appreciated?

[2022-10-19 16:50] Tyler-V opened #2293 "Durable Functions are not scaling as expected or desired"
### Description
I am building a system that processes large txt files in a pipe-delimited format of 15+data points and can contain up to 500k individual lines

I have reviewed [Bindings for Durable Functions](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings?tabs=csharp%2C2x-durable-functions#host-json) and am trying to set appropriate settings to ensure I

[2022-10-20 07:16] michaelelleby commented on #2292
I discovered this only happens when I use Azurite for storage. If I use a connection string for a real Azure Storage Account, the problem goes away.

[2022-10-20 07:51] #2292 closed

[2022-10-20 23:31] olitomlinson commented on #2293
Not an expert but this sounds like a choke point in the design. Ideally, you don’t want a single sub-orc handling all 500k, as this is not going to distribute over all the available partitions.

If you can split the 500k into 100 different sub orchestrations (with each responsible for 500 entities) then that should distribute more uniformly over the available partitions.

there are 4 partitions by

[2022-10-24 16:31] cgillum commented on #2292
We've been noticing a few problems with Azurite integration lately. It's possible that some of the older Azure Storage SDK dependencies we have in the .NET 4.x flavor of Durable Functions are not compatible with Azurite. My personal recommendation is to try and stick with the old Azure Storage Emulator for local development. It continues to work flawlessly, though we should definitely look into wh

[2022-10-25 16:34] olitomlinson commented on #2293
@Tyler-V

It definitely helps to spread your work across many sub-orchestrations, so that they have the best chance of being allocated to all of the available partitions. This specifically helps marshal results from Activities back to the Orchestration concurrently, in the event that the orchestration has to do more work once it has received the result back from the Activity.

Dialling up the part

[2022-10-25 20:12] Tyler-V commented on #2293
@olitomlinson it looks like the partition count maximum is 16 and I started there trying to change that value to see if it results in better fan-in / fan-out,

So here is something interesting, I'm unable to change the partition count even after recreating the taskhub

I stopped the azure functions... deleted the dev01-applease, dev01-leases, all the existing queues

![image](https://user-images.g

[2022-10-25 20:55] Tyler-V commented on #2293
@olitomlinson starting with trying to change the partition count from the default of 4 to 12 or (max 16) I am running into issues,

I can see that even after stopping the functions and deleting the task hub in the storage account (removing the containers azure-webjobs-hosts, azure-webjobs-secrets, removing all the queues, and removing the tables of history and instances) when I  start the function

[2022-10-25 21:33] Tyler-V commented on #2293
Big oof - I can confirm my `host.json` is deployed but is being ignored because of how we are configuring the application and clearing builder sources on Startup to map user secrets / key vault / etc. based on different environments

Going to continue working on this and see what optimizations will be best now that host.json settings will actually apply!

[2022-10-25 23:29] cgillum commented on #2290
Hi @Kavitha-Desu-Caci.

I took a look at **47e951d47adc48c3aa4cae4dfef8cca9**, and the problem seems to be that the app instance was shut down while the activity function was still running. I can confirm this as there is a shutdown event logged at 2022-10-13 05:29:10 UTC. As a result, another app instance restarted the aborted activity execution. I don't know exactly why it was shut down (it could

[2022-10-25 23:37] davidmrdavid commented on #2293
Thanks @olitomlinson for helping drive this discussion ❤️ .
@Tyler-V: please let us know how it goes now that it seems your `host.json` is actually being applied. Thanks all

[2022-10-27 00:09] wesleysmitthe commented on #1910
Any updating about the long-running using node or python?

[2022-10-27 23:40] davidmrdavid commented on #1910
Hi @wesleysmitthe. I believe NodeJS already supports this (@hossam-nasr can you please confirm that the current released Extension supports this).

The work in Python has not been prioritized yet.

[2022-10-28 16:56] jviau commented on #2290
@Kavitha-Desu-Caci - in addition to what @cgillum said, activities are a _at-least-once_ guarantee in durable (as opposed to _exactly-once_). Due to this, it is recommended you write your activities   to be idempotent. The reason is exactly what was described - activities may be interrupted due to external factors. Or even after an activity finishes, durable framework is interrupted before it can

[2022-10-30 20:12] dfberry commented on #599
[code]

[2022-10-31 06:42] zeande commented on #1724
Any update on this issue? It seems like the timeout is hard-coded to 240 seconds and can't be changed. Always get the same error:

`The request was canceled due to the configured HttpClient.Timeout of 240 seconds elapsing. Reached user specified timeout: 00:10:00.`

https://github.com/Azure/azure-functions-durable-extension/blob/da3b591cffd87df67403b93b3518cd9f40231a32/src/WebJobs.Extensions.Durab

[2022-11-01 05:40] lilyjma opened #2300 "Test support of Durable Functions in different language versions"
Test the support of Durable Functions in the different language versions Azure Functions supports. There shouldn’t be problems theoretically speaking, but it’s good to confirm that’s indeed the case. The following are language versions currently supported by Azure Functions, mostly versions supported by host v4. It's good to ensure that every time Functions releases support for a new language vers

[2022-11-01 20:34] Kavitha-Desu-Caci commented on #2290
@cgillum  & @jviau - thank you so much for looking into this issue. I have checked all the logs and we have not done any activity at that time like restarting or something else. I reported this issue to Microsoft Azure team and they checked all the logs and confirmed that all seem like memory issues. It all seems the host shutting down is due to Durable Function App consumed a huge size of memory

[2022-11-02 15:49] miriamflorestr opened #2304 "App Insights distributed tracing telemetry missing for Durable Functions"
### Description

If Distributed Tracing is enabled for durable functions we experience the following issues:
1. Custom role name is not set.
2. There is no way to add custom properties to telemetry request which belongs to durable activity functions.
3. Exceptions which occurred in orchestration main thread does not have role name and has wrong operation id, and wrong values for properties like ro

[2022-11-02 16:43] cgillum commented on #2304
@bachuv and @jviau, would the upcoming distributed tracing work make any of this possible?

[2022-11-02 17:20] jviau commented on #2304
For setting of role name, role instance, and some other properties like user-agent, these are not managed by Durable. Are they set by any pieces of telemetry for your app? Typically, this is set by the end user. A `ITelemetryInitializer` would work: https://medium.com/@woeterman_94/application-insights-how-to-set-the-cloud-role-name-in-net-core-net-5-62dff23db199. For User-Agent, it is not applica

[2022-11-06 00:48] philwhere commented on #2133
Hi @davidmrdavid,

After releasing the update to 2.7.2 on the 18 Jul we haven't had any issues until recently.
We're now seeing the exact same behaviour as before.

The earliest instance that I can find with the issue has `LastUpdatedTime: 2022-10-13T10:03:43.9087807Z`
and the instance ID is `5a2767c765c34978a1dbac243cff22ad`

Here are a couple more just in case it's useful:
450de3405da649ecb1b934

[2022-11-07 11:25] kanupriya15025 opened #2306 "Orchestrator Instances stuck in Pending state however logs show completed"
### Description
We are running some load tests on our function app which requires ~ 1000 workflows running. I noticed that for quite a significant no. of orchestrators, the storage table shows "PENDING" for a long time 30-40mins. However, when searching for logs, it shows that the orchestrator instance completed successfully. But, this execution was also delayed.

### Expected behavior

### App De

[2022-11-08 01:44] davidmrdavid opened #2307 "Chirper Entity sample no longer builds and runs out of the box"
It utilizes version V1 of the Functions SDK, and depends on a really old version of the Extension. We should update those two references.
It throws the following exception starting on Host V3:

"Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead"

To remove that error, we can enable the compatibility mode with Host V2 by adding the following line to `l

[2022-11-08 01:51] davidmrdavid commented on #2133
Hi @philwhere, thanks for the report.

Could you please provide me with timestamp ranges for those new instanceIDs? Otherwise it's a rather broad query we have to make.

Also - is there any chance you're modifying the default Newtonsoft.JSON serializer in your app, or any global Newtonsoft.JSON config changes? With kirk (also in this thread), we determined that modifying Newtonsoft.JSON's default

[2022-11-08 05:52] philwhere commented on #2133
Hi @davidmrdavid thanks for the quick response!

### Serialization
I actually did find some custom serialization in our app, although it's just following what's in the docs [here](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/durable/durable-functions-serialization-and-persistence.md).
We have this in the Startup.cs ([IErrorSerializerSettingsFactory](https://learn.

[2022-11-08 20:57] kylemccullen commented on #779
@olitomlinson I'm working on a project that is using orchestrated activities and want to use application insights to provide data to give better insight into how the app is running. Charts similar to yours would be helpful. I do have telemetry creating custom events at the start and end of activities. I'm able to query and display charts, but not quite the way I want. What queries are you running

[2022-11-08 22:47] davidmrdavid commented on #2133
Thanks @philwhere, and please do enjoy California :) . I'm going there soon myself and look forward to the good weather and great food!

To answer your questions:
(1) If you're utilizing ` builder.Services.AddSingleton` to add your customer serialization config, I think you should be safe. My understanding is that the serialization-induced problem is caused primarily by directly manipulating the g

[2022-11-09 07:31] kanupriya15025 commented on #2306
Thanks @cgillum.
It was my bad that the configuration for autoscaling was disabled on my app. After enabling that issue went away. However, after that there's another issue that started propagating.
<img width="1572" alt="Storage shows running but actually completed" src="https://user-images.githubusercontent.com/16194086/200766502-c14db996-c2ee-41a4-9d0e-374762aa0329.png">
Now some of the tasks a

[2022-11-09 10:02] gorillapower opened #2308 "RaiseEvent Exception on Orchestration that Should Exist"
### Description

I have two seperate Durable Functions Apps. Im using  `IDurableClientFactory` to RaiseEvents between them.

Calling RaiseEvent from A to B sometimes result in exception `No instance with ID 'ad9ade574b0d4815ac5c7965b2647fa0:0' was found. (Parameter 'instanceId')`

StackTrace
[code]
[![](https://img.shields.io/badge/Formatted%20by-https%3A%2F%2Fst.elmah.io-%230da58e)](https://st.el

[2022-11-09 18:27] cgillum commented on #2306
Thanks for confirming, @kanupriya15025.

The new issue you're describing is commonly seen when tasks are started in an orchestrator function but not completed. For example, if you have a durable timer, an activity, or a sub-orchestrator task that was started and not `yield`ed (or canceled, int he case of durable timers), then the orchestration will remain in the `Running` state until those tasks h

[2022-11-09 18:41] cgillum commented on #2308
Yes, this is most likely the reason. To be even more specific, this will happen if the _Instances_ table does not yet have a record of the instance existing. The way to avoid this is to ensure that the orchestration has actually been created before raising the external event (i.e., the workaround you mentioned above).

[2022-11-10 06:39] gorillapower commented on #2308
Without confirming, my assumption is that the parent Orchestation should exist, because the RaiseEvent is actually initialised from an Activity within that orchestration (the Activity Signals an Entity, which then raises the event) . But perhaps the Orchestration just exists in memory at that point and has not been persisted.

In any event, I will implement the work around to see if this solves th

[2022-11-11 05:57] kanupriya15025 commented on #2306
@cgillum In my case, we are using "yield" before calling all timers.
eg :
`yield context.create_timer(next_wait_time)`

Is that correct?

[2022-11-11 13:00] Aashishkmr opened #2309 "Microsoft.Azure.WebJobs.Extensions.DurableTask suffers from vulnerability CVE-2022-1941 due to Google.ProtoBuf"
### Description

### Expected behavior

### Actual behavior

### Known workarounds

### App Details

- **Durable Functions extension version (e.g. v1.8.3)**: 2.8.1
- **Azure Functions runtime version (1.0 or 2.0)**: 2.0
- **Programming language used**: C#

[2022-11-11 21:51] davidmrdavid commented on #2308
@cgillum: if the ExternalEvent is raised within an Activity, the orchestrator should already exist in the Instances table, shouldn't it?

[2022-11-11 21:55] davidmrdavid commented on #2306
@kanupriya15025: Are you cancelling those timers in case they don't fire prior to the orchestrator returning?

[2022-11-11 22:02] cgillum commented on #2308
@davidmrdavid No, not necessarily. We send queue messages to prior to updating the Instances table whenever saving changes to Azure Storage. This means there is a race condition where the activity can start executing before the Instances table was updated, resulting in problems like this. It's an unfortunate consequence of not being able to transactionally update a table and send a queue message a

[2022-11-14 04:59] gorillapower commented on #2308
@cgillum after implementing your suggestion, the exceptions are no longer happening, thank you!

[2022-11-14 05:22] #2308 closed

[2022-11-14 23:23] CryptoTradee opened #2311 "Stuck in running status"
I wanted to write an eternal function that ran every 8 hours. Unfortunately, saw that could only trigger it with a timer function (hopefully I'm correct on that).

I wrote a timer function that trigger my eternal function unfortunately my singleton pattern didn't work and I ended up having lots of eternal functions running by mitake.

**I updated the code afterwards and now those eternal functions

[2022-11-14 23:24] CryptoTradee commented on #2311
![image](https://user-images.githubusercontent.com/45982911/201788665-f15c7e86-4445-41af-b765-8b8b52ca1d17.png)

[2022-11-14 23:26] CryptoTradee commented on #2311
I've also tried deleting the history and queue from my storage - no change.
Released a code version that had the [FunctionName] tag commented out but when I put the [FunctionName] back in, all the history comes back again.

[2022-11-15 00:25] cgillum commented on #2311
This is probably because the code changes you made weren't compatible with the existing history in Azure Storage for the old version of those singletons. More info on orchestration versioning can be found [here](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning?tabs=csharp).

No. You are only billed for when functions are actively executing code. A "Runni

[2022-11-15 02:43] CryptoTradee commented on #2311
Thanks for your prompt reply.

I've deleted the instance table (and history) but all the orchestrations are still there and stuck Running. It didn't make any difference. Here are the tables I deleted (while the function app was stopped). Obviously created again now.
![image](https://user-images.githubusercontent.com/45982911/201813329-35d9fc3e-744a-4b4b-94b3-30210ea7ec1e.png)

I've installed Azure

[2022-11-15 22:33] lilyjma opened #2313 "Docs with inaccurate, confusing, or out-dated content"
Some docs have inaccurate, confusing, or out-dated content. Admittedly, there's no good way of finding them other than going through all the docs. One way we could do this is list out known docs that need to be updated.

- [ ] Table comparing backend providers - confusing information about managed identity support
https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-st

[2022-11-15 22:40] lilyjma opened #2314 "Some sample in docs have strange function names"
Someone brought up the strange naming we have in our docs for some of the sample code snippets, like

[E1_HelloSequence](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sequence?tabs=python#e1_hellosequence-orchestrator-function)

[E2_BackupSiteContent](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-cloud-backup?tabs=csharp#e2_ba

[2022-11-15 23:12] cgillum commented on #2314
Actually, these prefixes weren't for disambiguation, but rather to ensure that related functions were sorted together in the Azure Portal, etc. making them a little easier to search through. I mention this mainly because we don't necessarily need to break the single sample app into multiple apps. We could decide to rename these independently. The sorting is only relevant for languages that require

[2022-11-15 23:37] #2309 closed

[2022-11-16 06:01] #2304 closed

[2022-11-17 17:11] Tyler-V commented on #2293
@davidmrdavid @olitomlinson we have noticed some improvements with the host.json now taking affect (whoops) and changing the behavior of the scale controller by way of the max activity / orchestrations

[code]

We have set these based on the combination of our batching size per activity (now 500) and comparing the live CPU / Memory of each instance at runtime

Here is our current host.json, just c

[2022-11-17 23:50] davidmrdavid opened #2316 "2.9.0 release steps"
**Prep DTFx Release: (assigned to:  )**
_Due: <2-3-business-days-before-release>_
- [x] Check DTFx package versions (either DT-AzureStorage only or if there were Core changes DT-AzureStorage, DT-Core, DT-Emulator, and DT-Redis)
- [x] Delete DTFx test packages from staging myget.
- [x] Run the [DTFx release pipeline](https://durabletaskframework.visualstudio.com/Durable%20Task%20Framework%20CI/_bui

[2022-11-18 17:47] davidmrdavid commented on #2293
Good to hear your changes are now taking effect :-)

I don't have any suggestions at this time, though I'm personally not an expert on this side of application config. My experience with performance-tuning is that finding the right parameters is ultimately very workload-driven, so I would encourage you to continue to fine tune these over time. Other than that, I can't spot anything that seems nece

[2022-11-21 22:38] SqlBenjamin opened #2320 "CallActivityWithRetryAsync - Add ability to log/return information from retries"
When calling "CallActivityWithRetryAsync" from a durable function, it would be really nice to know if the call was in fact retried and if so how many times. It might even be nice to know the errors on which it was retried each time. This information would be helpful when investigating issues. If this information existed, we could log it for investigation later.

[2022-11-22 01:01] praseetht commented on #2309
Thanks for fixing this. Do you know when this'll be available?

[2022-11-22 01:28] cgillum commented on #2309
@praseetht we're working on the release process now. This fix will be included in the v2.9.0 release. Hopefully it'll be available by Wednesday. Otherwise, early next week.

[2022-11-22 12:06] GasparViannaSage opened #2322 "Wanings after upgrading from 2.7.2 to 2.8.1"
### Description

### Expected behavior
No warning

### Actual behavior
![image](https://user-images.githubusercontent.com/100562905/203309307-dd33a903-b321-46db-aa8b-51ca197901d7.png)

### Relevant source code snippets
[code]

### Known workarounds
Downgrading again to 2.7.2

### App Details

- **Durable Functions extension version v2.8.1**:
- **Azure Functions runtime version 2.0**:
- **Programmi

[2022-11-22 19:39] cgillum commented on #2322
Dependency injection is strongly discouraged in orchestrator functions because there's no way for us to know whether those dependency methods are deterministic. If you know they are safe for replay, my recommendation is to suppress the warnings.

FYI @amdeel

[2022-11-22 22:26] davidmrdavid commented on #2320
Thanks for the feature request, @SqlBenjamin :)

@bachuv, do you know if we already have a way for users to check how many times their `-WithRetry` API got retried? I don't believe we have a means to view this today, do we?

[2022-11-22 22:30] cgillum commented on #2320
FWIW, this is something we added in the new .NET Isolated SDK for Durable Functions. You'll be able to create custom retry handlers for activities and sub-orchestrations that look something like this:
[code]

Note the reference to `retryContext.LastAttemptNumber`.

[2022-11-23 03:22] GavinOsborn commented on #2322
I suspect this is a duplicate of the analyzer issue I reported in [2289](https://github.com/Azure/azure-functions-durable-extension/issues/2289).

[2022-11-23 09:33] jackpoz opened #2324 "Version 2.9.0 depends on Microsoft.DurableTask.Sidecar.Protobuf version that doesn't exist"
### Description
Trying to install version 2.9.0 from Visual Studio results in an error about Microsoft.DurableTask.Sidecar.Protobuf 1.0.0 not being found:
![image](https://user-images.githubusercontent.com/1153754/203512363-c8423dc5-eef8-4c45-955f-c6363b540002.png)

Checking https://www.nuget.org/packages/Microsoft.DurableTask.Sidecar.Protobuf , the latest version is 0.3.1
![image](https://user-im

[2022-11-23 13:40] cgillum commented on #2324
Hi @jackpoz @mmajcica. Sorry about that! Please try again now: https://www.nuget.org/packages/Microsoft.DurableTask.Sidecar.Protobuf/1.0.0

[2022-11-23 14:01] mmajcica commented on #2324
It works now, thanks.

[2022-11-23 14:08] #2324 closed

[2022-11-23 14:09] julealgon commented on #2289
I've noticed a slightly different issue with the 2.8.1 upgrade (now 2.9.0) that I believe might be caused by the exact same underlying problem here.

The analyzer doesn't seem to be "smart enough" to differentiate member scope.

This code results in 2 warnings (not "real" code, simplified from my actual scenario):
[code]

It is actually complaining about the local `apiSettings` variable that is re

[2022-11-23 19:23] bachuv commented on #2320
@davidmrdavid, no I don't believe there's a way to view that information right now.

[2022-11-24 08:55] jackpoz commented on #2324
that was fast, thanks 🚀

[2022-11-24 13:22] #2322 closed

[2022-11-27 18:30] vany0114 commented on #2220
@cgillum @sebastianburckhardt we're seeing this issue again 😨 in our production environment...orchestrators getting stuck for hours, this is just an example:

instance id: `{"orderId":"14360566278389760","storeNumber":"16","brandId":"f6306b87-5975-ec11-aaad-0e885b099c11"}`
![image](https://user-images.githubusercontent.com/12032625/204152063-95fffc4d-0cab-4d0d-892b-3f43fd4c583d.png)

Can you guys

[2022-11-28 07:24] idg10 commented on #2322
Wow! That's quite a constraint.

Is there any possibility of providing a way for us to tag things as known-deterministic? The problem with suppressing the things is that it adds a lot of noise in the logic of the orchestration itself.

[2022-11-28 15:36] Manbearpiet commented on #1922
Yeah we're interested in this too 👍