[2018-03-25 11:48] SimonLuckenuik opened #207 "What is the expected behavior if we are waiting multiple times on the same event name, but with a different shape of data?"
Ref: [Handling external events in Durable Functions (Azure Functions)](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-external-events)

Different scenarios we are looking at for multiple systems synchronization. I know there would be workarounds to prevent receiving the same event name multiple times, but my goal here is to clarify the documentation, so let's assume we ca

[2018-03-25 15:31] cgillum commented on #207
Thanks for posting. I expect Example 2 to succeed but Example 1 to fail. Example 2 was enabled as part of the Beta 3 release (see https://github.com/Azure/azure-functions-durable-extension/issues/141). This fix allowed waiting for events with the same name **sequentially** (which is basically your example 2). However, the fix would not enable listening to events with the same name **in parallel**.

[2018-03-25 15:59] cgillum commented on #29
Thanks for taking the time to post this in spite of moving to a different solution. The mistake on our part was advertising the "actor" pattern early in the preview, where these types of messaging patterns are most common.

One specific issue it appears you ran into is this: [Message loss due to race condition with ContinueAsNew](https://github.com/Azure/azure-functions-durable-extension/issues/67

[2018-03-25 16:01] TsuyoshiUshio commented on #184
@cgillum I create a long running activity (30 min) and  I tried the deployment the first strategy of my blog (deploy with non-breaking change) then update the code without the breaking change, then deploy the new version. It cause lock then I restart the Function App.  It doesn't seem to work as well. (because the activity is on the fly. and New dll reloaded, however orchestrator already send mess

[2018-03-25 16:08] SimonLuckenuik commented on #207
Thanks @cgillum, I was expecting the opposite to be supported, since the first example seems to be more predictable.

With Example 2 on Beta 3 release, I guess that if events are received within a very short timeframe (before the orchestrator executes), the first event would be lost? (based on #29)

It could be interesting to have an Orchestrator level Queue concept that would enable example 1 and

[2018-03-25 16:49] cgillum opened #208 "Exception message for multi-threaded access should include link to documentation"
As more people are trying Durable Functions, more issues are arising due to folks not reading documentation (which is not unexpected).  Currently, the exception message users see is this:

[code]
It's not clear enough what the user should do in this case. We should improve this in a couple ways:
* Make the exception less vague about what could be causing the problem. Specific suggestions would be

[2018-03-25 18:57] cgillum commented on #184
Ah, it's interesting that the deployment fails. I don't think that is specific to Durable Functions though. Wouldn't you have similar errors for any function app? What do customers normally do for in-place updates?

To bypass this issue for the bug-fix scenario, an alternative strategy would be to **stop the function app, do the deployment, and then start it again**. There should be no data loss i

[2018-03-25 21:57] cgillum commented on #205
I think the fix requires coordination between calls to StartNewAsync, CallActivityAsync, CallSubOrchestrationAsync, etc. with listener startup. Specifically, these calls should block until _at least_ [DurableTaskExtension. StartTaskHubWorkerIfNotStartedAsync](https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/DurableTaskExtension.cs#L448) is c

[2018-03-26 02:33] TsuyoshiUshio commented on #184
Thank you @cgillum, lock problem is not big deal. I just share what happened. I deployed from VS. If I try other deployment strategy, it automatically restart function app.  As for the instance query API, I understand it is the simplest, however, how can I get all instances id ? Do you have query for that? if not, I might be able to contribute.

[2018-03-26 02:59] gled4er commented on #205
Hello @cgillum ,

Thank you very much for assigning the issue for me.

It sounds very exciting!

May I ask you for recommendation who will be a good contact in Azure Functions team to check about the hook?

Thank you!

[2018-03-26 04:16] TsuyoshiUshio commented on #184
Now I'm discussing with @gled4er.  There is not api for fetching all instance ids.  We have two ways.

1.  Contribute to write a feature to fetch all instance ids or to fetch all instance which is still on the fly.
2.  Using Application Insight API

If 1 is good, I'd like to contribute it.

[2018-03-26 04:26] gled4er commented on #184
Hello @TsuyoshiUshio ,

I think both options are good. I am a bit worried for the first one since in my opinion currently you will need to get the whole History table or Instances table since the primary key is the Instance ID and then you need to filter in memory which can be very slow operation if you have many executions of the function. That I why I suggested to work with the Application Insig

[2018-03-26 05:19] cgillum commented on #205
@mathewc, any thoughts on this scenario? I assume HTTP triggers are allowed to run before the host finishes initializing to make cold-start faster, but in my case this creates some pretty ugly race conditions for my built-in web hooks.

Would it be possible to add a simple hook or notification that my extension code could use to know when the host has finished initializing? More specifically, I ne

[2018-03-26 09:13] TsuyoshiUshio commented on #184
Hi @gled4er It totally make sense. If we go the first one, we might need to create  some kind of index table and insert / update the state to it when start and finished the task. It increase a table. Hmm.  Or a batch program replays the table them create the index table, periodically.  It doesn't require realtime response.

[2018-03-26 09:17] TsuyoshiUshio commented on #184
Hi @gled4er
It is totally make sense. It might read all tables data. If we go with the first strategy, we might need to create some kind of index table which include instanceid and status. Then update the record the data when it Start/Finish, or create a cron based bach function then replay the table storage  and create the index table  Hmm... Any comments, @cgillum ?

[2018-03-26 09:40] gled4er commented on #184
Hello @TsuyoshiUshio ,

We already created similar Instances table but the problem is that the partition key is the instance id. I think what you need is another table that has as a partition key with the runtime status and the instance id for the row id. Then you can query the instances with running, pending and other not completed statuses.  If the purpose of this table is to help you decide if

[2018-03-26 17:01] cgillum commented on #184
I worry about trying to maintaining multiple Azure Storage tables. There will be a non-trivial amount of performance overhead, and it may be difficult to ensure that all tables remain consistent. For that reason, I would like to stay away from this option. Interestingly, if we were using a provider like CosmosDB, then we would have an easy solution since CosmosDB supports multiple indexes. :)

Usi

[2018-03-26 21:21] gled4er commented on #184
Hello @cgillum ,

Thank you for the great insights!

I was thinking the same about Cosmos DB. We now have increasing number of reasons to go after it! Exciting!

In terms of Application Insights - we have default retention policy for raw and aggregated data of 90 days for both basic and enterprise tiers as shown [here](https://azure.microsoft.com/en-us/pricing/details/application-insights/). And i

[2018-03-26 22:41] mathewc commented on #205
You are right - http functions are delayed until the host is initialized just enough to enable direct function invocations (listeners not started yet). This is based on [ScriptHostManager.CanInvoke](https://github.com/Azure/azure-functions-host/blob/749564ab175f7c0d2e4ef811cb33f354e460803f/src/WebJobs.Script/Host/ScriptHostManager.cs#L144). This will return true once function indexing has happened

[2018-03-26 22:52] cgillum commented on #205
Thanks, so is there any way for us to know when the listeners have all started or would that be a new feature request on the host?  Or are you saying `OnHostInitialized` can give us that signal?

[2018-03-26 23:21] MicahMcKittrick-MSFT opened #209 "ETA for Durable Functions moving from Preview to GA"
We recently had a question come in on the following MSFT doc:
[Durable Functions Overview - Azure (preview)
](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-overview)

Do we have an ETA on when Durable Functions will move from Preview to GA? If so, can you please share that information?

Question reference: MicrosoftDocs/azure-docs#6323

[2018-03-26 23:24] tohling commented on #209
Durable Functions is scheduled to GA at //build 2018, so the first week of May 2018.

[2018-03-26 23:27] MicahMcKittrick-MSFT commented on #209
Great thank you @tohling !

[2018-03-26 23:27] #209 closed

[2018-03-26 23:32] cgillum opened #210 "Durable Functions extension broken in latest Azure Functions v2 runtime"
### Issue

On 3/26/2018, an Azure Functions v2 runtime update was deployed to West US 2.  See [this announcement](https://github.com/Azure/app-service-announcements/issues/94) for more details.  Unfortunately this update contains several breaking changes for various extensions, including the Durable Functions extension.

### Symptoms

The breaking changes will prevent the Functions host from start

[2018-03-26 23:55] cgillum commented on #209
To clarify, this is when we hope to GA (internally) but "official" messaging is that we will GA in late Spring.

[2018-03-27 03:57] TsuyoshiUshio commented on #184
Actually, @yu_ka1984 is related this project. :) I'll share with you in other place. :) Anyway, Thank you for the ideas. It is very helpful. Thank you @cgillum. We'll implement the solution next week. Detecting the orchestration complete is very important for the CD. Also, I want something that customer can re-use the solution is the best. Even if I spent some time for it. I'll do some experiment

[2018-03-27 06:36] TsuyoshiUshio commented on #184
I have a look the Durable code. I can imagine App Insights implementation. so I start with the second one. We have no way to know the FunctionComplete, except for reading whole Storage Table data.

Simple idea of the implementation is
If the customer set the specific AppSettings, FunctionCompleted method with FunctionType = Orchestrator emit an event (e.g. EventGrid or Storage Queue). Then custome

[2018-03-27 20:43] skype007 commented on #154
Sorry for the long delay @cgillum But I used as a workaround a ServiceBusTrigger.
But when I tested for fun the new version of the package (1.2.0-beta3), it's better than befoire :D  Hope it's right but if this new package really solves the problem, perhaps it's because of DurableTask.AzureStorage (https://github.com/Azure/azure-functions-durable-extension/issues/104). I followed your advice at a

[2018-03-27 21:41] andreujuanc commented on #153
I'm starting to use DF in a more or less complex scenario, and this was driving me crazy!
Will have to redesign my architecture, since i was depending on other orchestrators. I will see if I can just have them as activities.

I think this is a very reasonable feature request, specially since the role of an orchestrator is to orchestrate!

[2018-03-28 10:13] andreujuanc opened #211 "VS - Adding Durable Function via wizard rollsback DurableTask assembly version"
Hello,

Everythings works fine, but when I tried to add a new function via

**Scenario:**
VS Version: 15.6.4
Win10 x64
Azure function project with durable extension added: 1.2.0-beta3

**Steps to reproduce:**

`Project context menu > Add> Azure Function> Add > Select Durable AF`

**Expected**
Just the Function.x.cs should be added.

**What actually happens**
The class file is added but changes the

[2018-03-28 10:30] gled4er commented on #205
Hello @mathewc ,

I just wanted to follow up on this discussion and get your opinion if we can use `OnHostInitialized` or actually we will need to request a new feature.

Thank you!

[2018-03-28 16:52] mathewc commented on #205
Chris and I discussed, and I explained that the initialization he is doing really belongs outside of the listener startup phase of host initialization. I think the plan is to refactor the binding to do the initialization at index time which should resolve this issue without any platform changes (i.e. no new feature needed).

[2018-03-28 18:08] GregLevenhagen commented on #210
Did this hist North Central US in the last day? Not getting the same error message, but it is an issue with DurableTask.

[2018-03-28 18:22] cgillum commented on #210
Yes, I believe North Central US was updated yesterday. Just to confirm, what error message are you seeing?

[2018-03-28 18:54] cgillum commented on #205
This basically requires some refactoring.

@gled4er, right now we call [RegisterActivity](https://github.com/Azure/azure-functions-durable-extension/blob/62b95a022ffe9201dcb43a349e1fa3237031d410/src/WebJobs.Extensions.DurableTask/DurableTaskExtension.cs#L392) and [RegisterOrchestration](https://github.com/Azure/azure-functions-durable-extension/blob/dev/src/WebJobs.Extensions.DurableTask/DurableTa

[2018-03-28 18:56] GregLevenhagen commented on #210
[code]

Just started with our nightly process early in the AM today. No further details.

[2018-03-28 18:58] cgillum commented on #211
Whoa, interesting. @ahmelsayed what is the right way to report VS template bugs for functions?

[2018-03-28 19:17] ahmelsayed commented on #211
/cc @soninaren and @bzhu94
Naren it looks like the version of the nuget package is [defined in the template repo](https://github.com/Azure/azure-functions-templates/blob/7f1b6ebaff7598551b3be92a8562a30f342ea469/Functions.Templates/Templates/DurableFunctionsOrchestration-CSharp/build.config/template.json#L37) It seems that v2.x HEAD has `1.2.0-beta3` but maybe VS is running an older version.

Is th

[2018-03-28 20:05] soninaren commented on #211
Yeah, this has been a bug with VS. We don't really have a way to tell VS to not downgrade. That is why removed some explicit nuget dependency from templates to extension versions.  This should be resolved when vsix update for v2 is out.

@mlorbetske is there a workaround/fix for the bug.

[2018-03-28 20:51] mlorbetske commented on #211
This is the first we're hearing of it, so there's no workaround that I'm aware of. @phenning - any ideas if there'd be a way to detect whether the package is already present & at a higher version in the install NuGet package post-action & skip the install if it is?

[2018-03-28 21:04] andreujuanc commented on #211
@mlorbetske IMHO, best approach would be just skip it if package is present. Better not to mess with versions and stuff. Can cause builds to break and environment inconsistencies.

[2018-03-28 22:14] phenning commented on #211
Sure, we can skip the install in that case, we just need to query IVsPackageInstallerServices for the list of installed packages. We have prior art around doing this for updating the version of CodeDom packages in the templates.

[2018-03-29 01:28] gled4er commented on #205
Hello @mathewc  and @cgillum ,

Thank you very much for the explanations.

They are really helpful.

I will start working on the required changes.

Thank you very much!

[2018-03-29 21:07] ethanroday opened #215 "MissingMethodException server side - function app can't start"
I just spontaneously started receiving a `MissingMethodException` in my function app with the following message:

    Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()'.

Restarting the app does not help, and no deployments have taken place within the last 24 hours. The app is written in CSX and deployed with continuo

[2018-03-29 22:22] cgillum commented on #210
This has been fixed in the [Beta 3.1 release (v1.2.1-beta3)](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.2.1-beta3).

[2018-03-29 22:22] #210 closed

[2018-03-29 22:23] cgillum commented on #71
This has been included in the [Beta 3.1 release (v1.2.1-beta3)](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.2.1-beta3).

[2018-03-29 22:23] #71 closed

[2018-03-29 22:24] cgillum commented on #177
A workaround for this issue has been included in the [Beta 3.1 release (v1.2.1-beta3)](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.2.1-beta3). A full fix will come in the RC release, which is scheduled for the end of next week.

[2018-03-29 22:24] #177 closed

[2018-03-29 22:25] cgillum commented on #189
This fix has been included in the [Beta 3.1 release (v1.2.1-beta3)](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.2.1-beta3).

[2018-03-29 22:48] bastyuchenko commented on #215
I receive the same error
`Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()'.`
for my existed function which works yesterday. As far as I understood there is a new build v1.2.1-beta3 which was published Thursday, March 29, 2018 (3/29/2018)

[2018-03-29 22:51] cgillum commented on #215
This was caused by a recent update to the Functions v2 runtime in Azure (note that Functions v1 apps were not affected). A fix was published a few minutes ago. See this announcement for details: https://github.com/Azure/app-service-announcements/issues/94

[2018-03-29 23:04] bastyuchenko commented on #215
I just created a new function app after your message, switch version to beta and created Orchestration Start function - but received the same error

[2018-03-30 00:07] cgillum commented on #215
Are you talking about the Azure Portal? The portal templates haven't been updated yet. I mentioned this in the announcement link above, but the portal templates are being updated tomorrow morning (PDT).

[2018-03-30 00:44] cgillum opened #216 "Post orchestration lifecycle events to Azure Event Grid"
There are various scenarios where it would be useful to have an external system subscribe to orchestration lifecycle events. The most interesting events would probably be **orchestration started** and **orchestration completed** (success or fail).

One idea is to allow configuring an Event Grid SaS key as an application setting, and the extension could then post to the corresponding topic.

[2018-03-30 00:45] cgillum commented on #184
I like this suggestion about posting to Event Grid.  I think it makes sense for our extension to do it like I think you are suggesting. I went ahead and created a GitHub issue to track it: https://github.com/Azure/azure-functions-durable-extension/issues/216

[2018-03-30 00:51] TsuyoshiUshio commented on #216
I'd love to contribute this as a DevOps guy. :)

[2018-03-30 00:53] cgillum commented on #216
よろしくお願いします！:)

[2018-03-30 08:04] TsuyoshiUshio commented on #216
Hi @cgillum I have a question.
For sending event to EventGrid Topic, we can use SDK or implement REST by myself. When I see the dependency, Durable doesn't have a lot of dependency. Can I use SDK with new nuget package or prefer to keep less dependency of nuget with direct REST call?

[2018-03-30 19:07] bastyuchenko commented on #215
@cgillum I have the same error on Azure Portal. When are you going to fix it?

[2018-03-30 20:20] cgillum commented on #215
@soninaren can you comment?

[2018-03-30 20:42] cgillum commented on #216
What is the nuget pack for the SDK? Is it [Microsoft.Azure.Management.EventGrid
](https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid)? I looked at these dependencies and I'm a little worried about them. For this particular case, I would be more comfortable with targeting the REST API.

[2018-03-30 21:07] soninaren commented on #215
@bastyuchenko  The portal should be fixed now. A new function app should work in portal.

Also follow the steps here to fix your existing app.
https://github.com/Azure/app-service-announcements/issues/94#issuecomment-376647094

[2018-03-30 22:37] bastyuchenko commented on #215
I created new function app and created Durable Function Http Started. And what can I see?
![image](https://user-images.githubusercontent.com/6165551/38156078-1b409648-3484-11e8-9761-6d015833900f.png)

[2018-03-30 22:51] soninaren commented on #215
@bastyuchenko, I just checked. Looks like the portal update will go out on Monday. Apologize for the mix up.

The following steps should still fix the issue, and bring your app to the latest version

### To fix a function app written in the Portal
Follow these steps:
1. Stop the function app.
2. Access kudu console through Platform Features -> Advanced Tools -> Debug Console (cmd)
3. Navigate to d

[2018-03-30 23:48] bastyuchenko commented on #215
@soninaren I followed those steps and it still doesn't work - I receive a new exception:
![image](https://user-images.githubusercontent.com/6165551/38157235-af0edd68-348d-11e8-9001-3a234273951a.png)
this is my extensions.csproj file
[code]

[2018-03-31 00:04] bastyuchenko commented on #215
It's very weird. I had a workable version a few days ago. Once I tried to run my well-working function and it was already broken. How is it possible if I haven't changed anything and still had v1.2.0-beta3? Do you just replace version without any smoke testing and without any version increasing? And finally v1.2.0-beta3 and v1.2.1-beta3 - both don't work.

[2018-03-31 00:36] cgillum commented on #215
The issue is that a functions v2 runtime update was deployed to production that contained breaking changes for all extensions, including this one.  Functions v2 is still in an unstable preview, so breaking changes should be expected from time to time until things stabilize.

There are a few ways you can work around this:

1. Don't use Functions v2. Use Functions v1.x instead, which is very stable.

[2018-03-31 00:42] soninaren commented on #215
Looks like the publish command wasn't creating the extensions.json. I have fixed the instructions. Run the following command for step 7.
`dotnet.exe build "extensions.csproj" -o bin --no-incremental --packages "D:\home\.nuget"`

[2018-03-31 05:52] TsuyoshiUshio commented on #216
Sure!

[2018-03-31 07:32] bastyuchenko commented on #215
@soninaren Thank you a lot! After this command, my function app works well. Thank you for the help and the fast answer.

[2018-03-31 23:52] #111 closed

[2018-03-31 23:53] cgillum commented on #192
This work is done and will go out with the next release. See the linked PR for details.

[2018-03-31 23:53] #192 closed

[2018-03-31 23:54] cgillum commented on #183
This has been checked-into **dev** and will go out with the next release.

[2018-03-31 23:54] #183 closed

[2018-03-31 23:56] cgillum commented on #146
The issue has been fixed, but we still need to get a new version of **DurableTask.AzureStorage** published so we can add it as a dependency.

[2018-03-31 23:57] #215 closed

[2018-04-01 00:06] cgillum commented on #182
I have a potential fix for this in [DurableTask.AzureStorage v1.1.3-beta](https://www.nuget.org/packages/DurableTask.AzureStorage/1.1.3-beta) (commit: https://github.com/Azure/durabletask/commit/2822d1b727c97182e498fce2f1c4e5bef7799b3d). Could you try it out and let me know if it works for you?

Also, the **dev** branch now references this updated package, so this fix will go out with the next rel

[2018-04-01 00:06] #182 closed

[2018-04-01 00:10] cgillum commented on #96
This feature has been merged into the **dev** branch and will go out with the next release. See the description in the linked PR for more details.

[2018-04-01 00:10] #96 closed

[2018-04-03 02:19] brandonh-msft commented on #216
How would we feel about an Event Grid output binding? https://github.com/brandonh-msft/Functions.Bindings.EventGrid

[2018-04-03 10:21] yuka1984 opened #224 "Get TaskHubName with Durable OrchestrationClient"
I think that there are many cases where you want to know TaskHubName in deployment.
And its realization is very easy.

https://github.com/TsuyoshiUshio/azure-functions-durable-extension/commit/c74c1b3211e98f8a22e70a5e8ad70e5bc15825de

[2018-04-03 10:54] yuka1984 commented on #216
I'm seeking opinions on the behavior when an Exception occurs when accessing EventGrid's API with HttpClient.

https://github.com/TsuyoshiUshio/azure-functions-durable-extension/blob/feature/lifecycledev/src/WebJobs.Extensions.DurableTask/DurableOrchestrationContext.cs#L464

[2018-04-04 12:21] aherrick opened #226 "Durable.Task 1.2.2-beta3 + Functions 1.0.13 Breaks Simple Function"
I have a simple Durable Function example posted here:

[https://github.com/aherrick/DurableAF](https://github.com/aherrick/DurableAF)

It's running fine with these bits:

Microsoft.NET.Sdk.Functions => 1.0.8
Microsoft.Azure.WebJobs.Extensions.DurableTask => 1.2.0-beta3

When upgrading to latest it breaks:

Microsoft.NET.Sdk.Functions => 1.0.13
Microsoft.Azure.WebJobs.Extensions.DurableTask => 1.2.

[2018-04-04 15:55] Ryanman opened #227 "The function runtime is unable to start. Microsoft.Azure.WebJobs.Extensions.DurableTask: Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()'"
My collection of web functions using the durable extension abruptly stopped yesterday. The error is in the title:
    The function runtime is unable to start. Microsoft.Azure.WebJobs.Extensions.DurableTask: Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()'
![image](https://user-images.githubusercontent.com/1376624/38

[2018-04-04 16:19] ethanroday opened #228 "Overloading function app puts app in bad state"
Yesterday, I simluated a load test for a function app where one client sent ~100 requests in 5 seconds. The load seems to have overwhelmed the app, and I started getting 502 responses with the following (somewhat unhelpful) error message:

    The specified CGI application encountered an error and the server terminated the process.

The error has been documented in a [number](https://blogs.msdn.mi

[2018-04-04 17:49] cgillum commented on #228
Interesting. Do you still have an app in this busted, high-memory state? I suspect the core functions team would be interested in capturing a crash dump to figure out why it's in a bad state.

The timeout message you highlighted means that we successfully enqueued the message to start the orchestration, but we didn't see it actually start in the 10 seconds or so that we wait before returning from

[2018-04-04 17:55] cgillum commented on #227
Apologies for the bad experience. It looks like you're running into this issue: https://github.com/Azure/azure-functions-durable-extension/issues/210. You will need to update to the latest nuget package to get things working again.

Unfortunately I'm not familiar with how to set up alerts in Application Insights. I suggest opening an issue here https://github.com/Azure/azure-functions/issues to ge

[2018-04-04 17:55] #227 closed

[2018-04-04 18:53] Ryanman commented on #227
Thanks for the update Chris, bummer that it happened. I'll open a ticket with them re: app insights.

[2018-04-04 18:57] ethanroday commented on #228
I do still have the bad state. Happy to provide a dump.

Thanks for the clarifications and the workaround. More generally, is it expected that a function app end up in this kind of state after just 100 requests?

[2018-04-04 19:41] cgillum commented on #228
I can't think of any reason why 100 requests in 5 seconds would put a function app into a bad state. Based on the error message, it seems like something caused the `dotnet.exe` process to crash. Do you specifically require Functions v2 for your app or are you able to try running functions v1 (which is more stable in general - the durable extension supports both)?

Another thing you can try which c

[2018-04-04 19:41] #228 closed

[2018-04-04 19:44] ethanroday commented on #228
Can you be more specific about what you mean by crash dump? Do you just mean the traces from the exceptions?

[2018-04-04 19:46] cgillum commented on #226
Hey @ahmelsayed do you know what can cause this problem? This project is targeting the full framework, and the durable extension was updated to target [Microsoft.Azure.WebJobs v2.2.0](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/), which I think could be related.

[2018-04-04 19:55] cgillum commented on #228
No, I was referring to an actual memory dump. But thinking about this more, it would be safer if a member of the Functions/App Service team collected this for you to avoid publicly exposing connection strings, etc, so ignore that part. The relevant information is the increasing memory usage and the failure to send any requests, including from the portal.

[2018-04-04 19:59] cgillum commented on #224
I agree this would be useful. @gled4er would you be interested in taking this? I think the commit that @yuka1984 pointed to looks good, although I would make it into a property rather than a method.

[2018-04-04 21:07] gled4er commented on #224
Hello @cgillum,

Yes, I am interested in working on this issue.

Thank you for assigning to me!

Kanio

[2018-04-04 21:12] cgillum commented on #205
The associated PR has been merged. This will go out with the next release.

[2018-04-04 21:12] #205 closed

[2018-04-05 03:15] gled4er commented on #14
Hello @cgillum ,

Do you think the information [here ](https://stackoverflow.com/questions/48344332/azure-queue-max-ttl) can help us  with this feature?

In the new version of Azure Storage .NET SDK we are able to set arbiratry expiration period as shown below:

[code]

Thank you!

[2018-04-05 08:13] DannyvanderKraan commented on #74
I am using Microsoft.Azure.WebJobs.Extension.DurableTask 1.2.0-beta3 and I am still getting: "...no binding parameter exists for..."

My model:

[code]

My function signature:

[code]
It can't bind "Name". Am I doing something wrong or is this still an issue? Thank you in advance for thinking with me.

[2018-04-05 15:50] cgillum commented on #208
This fix will go out with the next release.

[2018-04-05 15:50] #208 closed

[2018-04-05 23:44] paulbatum opened #231 "Orchestration Replay calls activities twice"
_From @AMSoftwareNL on April 5, 2018 0:27_

#### Investigative information

Please provide the following:

- Timestamp: 2018-04-05 02:25:00 (CET)
- Function App version (1.0 or 2.0-beta): 1.0
- Function App name: amsdurablefunctiontest
- Function name(s) (as appropriate): FunctionStarter, OrchestrationStart, DoFanOut, ForceReplay
- Invocation ID:
- Region: west europe

#### Repro steps

Provide th

[2018-04-06 06:36] cgillum commented on #224
This has been merged. It will be available in the next release. Thank you for the suggestion!

[2018-04-06 06:36] #224 closed

[2018-04-06 08:36] AMSoftwareNL commented on #231
As far as I can determine it's the replay, but I'm not a 100% sure. But even if it isn't the replay, shouldn't the Durable Task Framework make sure that activities are only called once. Even if the queue message is delivered a second time the framework should already have a result for the activity in the history table and could act the same as in replay. So skip the execution and use the result in

[2018-04-06 13:14] cgillum commented on #231
Thanks for the additional info - it confirms what I think the problem is. There is clearly a bug though it's not related to replay. I suspect the magic number is 97 or 98 parallel actions. I'll try to get a fix out in the next couple days.

[2018-04-06 18:33] soninaren commented on #211
Have added it here.
https://github.com/Azure/Azure-Functions/issues/753

[2018-04-06 18:53] andreujuanc opened #232 "Are eternal orchestrators deprecated? + Bug + Advice"
Testing out more reliable and scalable ways to solve a business problem, i tried DF.

In my scenario I'm using an singleton-eternal orchestrator (constant InstanceID+timer+ContinueAsNew) with fan-in+fan-out pattern and it is actually not eternal.

The workflow actually works, specially the first minutes, but sometime it works for 1 hour, some other times (like today) it only executed the first tim

[2018-04-06 20:44] cgillum commented on #232
If I understand correctly, the problem you're describing is that `ContinueAsNew` is not actually continuing. Is that accurate?  If so, you might be running into this issue: https://github.com/Azure/azure-functions-durable-extension/issues/182 (note there is a potential fix available). Can you check and see if the updated nuget reference resolves your issue?

To respond to the title of the bug, ete

[2018-04-07 01:13] cgillum commented on #231
Sure enough, there was a simple logic bug in [DurableTask.AzureStorage v1.1.3-beta](https://www.nuget.org/packages/DurableTask.AzureStorage/1.1.3-beta) that was causing history events to get dropped when more than 98 actions are scheduled concurrently. The result was that on replay, we would re-execute a certain number of durable actions, which is exactly what you described. Our testing missed thi

[2018-04-07 10:11] andreujuanc commented on #232
I'm using latest version of AF and DF. (sorry forgot to mention that).

I found that I had a "bad config" that awaited CreateTimer for 10 seconds, changed it for 5 minutes and now it works fine. I left it overnight and it is still working.

I don't know why such little delay would make this fail? Can it be related to the "raised event or termination requests" that arrives near continue as new more

[2018-04-09 14:40] mikhailshilkov opened #233 "Precompiled samples won't compile for netstandard2.0"
Problem: C# precompiled samples won't compile under netstandard2.0

Steps to reproduce:
1. Change `csproj` to `<TargetFramework>netstandard2.0</TargetFramework>`
2. Build
3. Several errors appear:

\azure-functions-durable-extension\samples\precompiled\HttpSyncStart.cs

Is this extension method available in .NET Standard 2.0?

\azure-functions-durable-extension\samples\precompiled\Monitor.cs	91

I

[2018-04-09 14:47] DannyvanderKraan opened #234 "No binding parameter exists for..."
I am using Microsoft.Azure.WebJobs.Extension.DurableTask 1.2.0-beta3 and I am still getting: "...no binding parameter exists for..."

My model:

[code]

My function signature:

[code]
It can't bind "Name". Am I doing something wrong or is this still an issue? I read that it should be fixed: https://github.com/Azure/azure-functions-durable-extension/issues/74. Thank you in advance for looking into

[2018-04-09 14:56] mikhailshilkov opened #235 "Add F# samples"
Extend samples with some F# examples similar to C# precompiled project

[2018-04-09 14:58] mikhailshilkov commented on #235
Created initial commit at https://github.com/mikhailshilkov/azure-functions-durable-extension/commit/cc9129023ddc298ce700cd8509ebb0d974e97620

`Monitor` sample is still missing.
Only compiles for .NET Standard 2.0.

@cgillum Would that work?

[2018-04-09 16:58] ThomasCronholm opened #236 "Unable to start debug - Could not configure language worker Java."
After updating I am now running:
NETStandard.Library v2.0.1
Microsoft.Azure.WebJobs.Extensions.DurableTask v1.0.0-beta
Microsoft.NET.Sdk.Functions v1.0.13

When starting debugging in vs2017 i get the following:

[2018-04-09 16:34:16] Reading host configuration file 'C:\z_Div\AzureFunctionsTests\TestFunctions01\TestFunctions01\bin\Debug\netstandard2.0\host.json'
[2018-04-09 16:34:16] Host configura

[2018-04-09 17:16] adamreed90 opened #237 "Cannot Use with Default Azure Functions Template"
The template included in Visual Studio 2017 for an Azure Function creates a .NET Standard 2.0 based project, which will not allow you to install the package.

`PM> Install-Package Microsoft.Azure.WebJobs.Extensions.DurableTask
Install-Package : Unable to find package 'Microsoft.Azure.WebJobs.Extensions.DurableTask'
At line:1 char:1
+ Install-Package Microsoft.Azure.WebJobs.Extensions.DurableTask
+

[2018-04-09 20:44] cgillum commented on #236
Thanks for the info. Yes, this is a known issue. Please update to the latest Durable Functions nuget package: https://github.com/Azure/azure-functions-durable-extension/releases

[2018-04-09 20:44] #236 closed

[2018-04-09 20:47] cgillum commented on #237
This sounds like an issue with your nuget client.  Are your nuget settings configured to pull packages from nuget.org?  The package can be found here: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask/1.2.2-beta3

[2018-04-09 20:52] cgillum commented on #233
The precompiled samples predate the VS support for running the functions v2 host, so I think we just got used to not testing them with this configuration. Now that Functions v2.0 has better tooling support, it makes sense for us to make sure the samples compile for both Functions v1.x and Functions v2.0.

@kashimiz would you mind taking a look at this?

[2018-04-09 22:09] cgillum commented on #234
The syntax of the binding expressions is a it different. I apologize that we don't have this documented yet, but take a look at this PR description for some examples: https://github.com/Azure/azure-functions-durable-extension/pull/172

In your case, I think you simply need to change `{Name}` to `{data.Name}`.

[2018-04-09 22:09] #234 closed

[2018-04-09 22:11] cgillum commented on #74
Mentioning here as well, this issue has been fixed in Beta 3 (I accidentally closed this during the beta 2 release). The syntax is a little different for activity triggers than it is for some other trigger types. See this PR for examples: https://github.com/Azure/azure-functions-durable-extension/pull/172

[2018-04-10 00:15] arerlend opened #238 "Unintuitive error message when UseDevelopmentStorage=true and Storage Emulator isn't running"
@cgillum follow-up on comment on #72

The error message below is a bit unintuitive, especially "The function 'E1_HelloSequence' doesn't exist... The following are the active orchestrator functions: ." in particular. Just a nonessential QoL fix for DF newcomers that might prevent some frayed nerves.

[code]

[2018-04-10 04:58] cgillum commented on #238
Sorry for the confusion - I understand this can be confusing and frustrating when you're first trying to use the extension. When the fix for https://github.com/Azure/azure-functions-durable-extension/issues/205 is released later this week, it will also improve the error message experience here. Basically, instead of getting a "the function XXX doesn't exist", you should get a proper storage except

[2018-04-10 06:44] DannyvanderKraan commented on #234
Yes this resolves the problem. Thank you!

And no worries. I think you guys got a lot of work to do. Very happy with Durable Functions by the way. Let me know if I can help out. Want me for instance to add this to the docs?

[2018-04-10 08:01] andreujuanc commented on #232
@cgillum I just checked it again and it just stopped.
I will see if I can get any additional info.

If you or someone can give me any tip on how to get deeper into this, it'd be much appreciated.

[2018-04-10 08:15] CarlosSardo opened #239 "Functions v2 HTTP API different URL prefix (using Microsoft.Azure.WebJobs.Extensions.DurableTask v1.2.2-beta3)"
Hi,

In the [HTTP API reference docs](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-http-api#http-api-reference) for Durable Functions (runtime v2) the URL prefix is documented with _**webhookextensions/handler**_:

`GET /webhookextensions/handler/DurableTaskExtension/instances/{instanceId}?taskHub={taskHub}&connection={connection}&code={systemKey}&showHistory={showHisto

[2018-04-10 13:33] cgillum commented on #232
The first bug I linked to is a timing issue where two messages need to arrive at the same time, one representing ConitinueAsNew, and the other being anything else for that same instance (activity call response, time fired, etc). The result is that the orchestration gets stuck in the ContinuedAsNew state. This race condition is fixed in the latest package version.

By chance do you have a large fan

[2018-04-10 13:57] TsuyoshiUshio commented on #184
Hi @cgillum, a few days ago, I post this blog for getting feedback from the users. Also, When I talk with my customers who wants to use the Durable Functions, a lot of them don't realize this fact. However, when I explain why it is necessary, they said that they really want this. Also, according to the detail blog, I've not got a lot of feedback.

I'm guessing something like this, except for my po

[2018-04-10 16:55] cgillum commented on #184
Is the suggestion to create a VSTS task which can be shared with customers, and then provide some code (maybe a serverless backend using Functions) which can also be shared and used to automate the deployment process?

[2018-04-10 20:57] cgillum commented on #235
This looks great! The only change I would make is to update the nuget package version to 1.2.**2**-beta3 (makes it compatible with the latest v2.0 runtime in Azure) and name the directory **fsharp** instead of **fs**.

[2018-04-10 23:38] TsuyoshiUshio commented on #184
Yes. We working on it with customer. So we can share it.  I guess is, what is the proper way to share on the official Durable Functions documentation. It might not be an official Task and backend sample. If so it is not fit for the "best practice as the official documentation".  We can have several strategy for it. 1 is just explain the lifecycle event and how to do it, also share the idea how to

[2018-04-11 08:14] CarlosSardo commented on #156
@cgillum @kashimiz

A **suggestion**, on the coordinate two orchestration instances across two function apps example:

Integrate this example code in Durable Functions  [(DurableOrchestrationContextBase](https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/DurableOrchestrationContextBase.cs))

[code]

We could then use it to call/start remote or

[2018-04-11 11:09] synesthesia opened #240 "make object json serializable"

[2018-04-11 11:09] #240 closed

[2018-04-11 12:08] andreujuanc commented on #232
I'm using the latest version (v1.2.2-beta3).

Application Insight did not record any error, fails or exceptions whatsoever.

I'll explain my design:

**MainOrchestrator** -> Fans out N Targets (servers) (5 in failing tests, in prod will be about 100)
**Each Target** -> Fans out 3 functions via CallActivityAsync
**Each Activity** -> Goes to Target Server via SqlConnection and perform some operation

[2018-04-11 12:14] DannyvanderKraan commented on #232
Is that de ADO.NET SQLConnection? It's actually recommended to keep a static instance of it and keep it open. That way it'll use its internal connection pool in the most efficient way.

[2018-04-11 12:25] andreujuanc commented on #232
@DannyvanderKraan  I'd appreciate any if you point me to any documentation related to it.

Thanks

[2018-04-11 12:27] DannyvanderKraan commented on #232
@andreujuanc  Yes of course, sorry: [https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling](url)

[2018-04-11 12:30] andreujuanc commented on #232
@DannyvanderKraan From Docs:

From my prev post:

Maybe you got my idea wrong?

[2018-04-11 12:32] DannyvanderKraan commented on #232
@andreujuanc  Couldn't u Close the connection instead of disposing SqlConnection?

[2018-04-11 12:51] DannyvanderKraan commented on #232
My best guess is that the docs are not written with Function Apps in mind. I avoid static in general. Until I had to use HttpClient and my functions got slow and had unexpected behaviour. I expect functions (wether durable or not) play along nicer with SqlConnection declared static. But perhaps it's best if you wait for an answer from an expert if it's such a big change. Maybe it's not related to

[2018-04-11 13:11] andreujuanc commented on #232
Exactly. I do know and tested that HttpClient is shareable and has no issues as a singleton with functions.

But I haven't done any research about SqlConnection yet. I expected the docs to be more verbose about this.

Anyway, this is just hypothetical and does not mean, as @DannyvanderKraan said, that it's related to my issue. It was just a mean to blindly try to hit and fix the problem.

For now

[2018-04-11 14:00] cgillum commented on #156
The challenge with this is there isn't a built-in API for starting an orchestration over HTTP. We could create such a in API, but then there's also the challenge of discovering the system function key needed to authorize that HTTP call. I don't know how we would solve that. 😕

[2018-04-11 14:15] cgillum commented on #232
Disposing SqlConnection objects is the right thing to do. They don't have the same problem as HttpClient or other clients which wrap HttpClient. Even if it did, you would at least see some kind of error if it were a connection management problem. And this wouldn't affect orchestration execution since it is being done in an activity function.

The package I was referring to that has a fix is Durabl

[2018-04-11 16:15] CarlosSardo commented on #156
How about starting it with a _POST_ to the _Http_Start_ (like in the example from the internal discussion?)

[2018-04-11 17:31] kashimiz commented on #13
I'm actively working on this.

[2018-04-11 19:07] andreujuanc commented on #232
I just "forced" DurableTask.AzureStorage v1.1.3-beta, and published to testing env. Will follow up with results.

Thanks a lot @cgillum

[2018-04-11 19:51] cgillum opened #241 "Error handling for Azure Event Grid publishing"
This is a followup for https://github.com/Azure/azure-functions-durable-extension/issues/216. Current Event Grid publishing does not have a defined error handling behavior. Protocol errors will be ignored, but connection failures will cause the orchestration instance to fail.

There are ramifications for both failure and non-failure policies, so we should probably allow the user to decide which op

[2018-04-11 19:51] cgillum commented on #216
I went ahead and merged this PR. Thanks for this great contribution! I opened up a separate GitHub issue for tracking error handling strategies: https://github.com/Azure/azure-functions-durable-extension/issues/241

[2018-04-11 19:51] #216 closed

[2018-04-11 20:13] cgillum commented on #207
Hey @SimonLuckenuik support for both these patterns will be ready in the next release. I'm going to go ahead and close this issue for tracking purposes, though I'm happy to keep the conversation going.

Regarding this:

This is not expected. At this point in time, the only time you should see a loss of events is if the orchestration is in the `ContinuedAsNew` state.

I don't think this would actua

[2018-04-11 20:13] #207 closed

[2018-04-11 20:16] cgillum commented on #118
I'm going to go ahead and mark this complete. As for the samples .zip file, we can take care of that as part of our normal release process.

[2018-04-11 20:16] #118 closed

[2018-04-11 22:28] andreujuanc commented on #232
Went back and tried again, different timings, and it failed without any errors.

I enabled dashboard again and there are no entries that shows any indication of an exception.

AppInsight does not shows anything relevant.

Will wait to extensions to update the dependency to "DurableTask.AzureStorage v1.1.3-beta".

[2018-04-11 23:59] cgillum commented on #26
We ended up with a simpler solution than what I mentioned earlier, which is to either do the inline JSON like we do today, or do compressed blob storage. No intermediary compressed storage in the table. This large message support will go out as part of the next release.

[2018-04-11 23:59] #26 closed

[2018-04-12 00:06] cgillum commented on #231
This is fixed in [DurableTask.AzureStorage v1.1.4-beta](https://www.nuget.org/packages/DurableTask.AzureStorage/1.1.4-beta), which will be an explicit dependency in the next release (that or possibly a newer version).

[2018-04-12 00:06] #231 closed

[2018-04-12 10:35] TsuyoshiUshio commented on #241
Do you mean

* Make customer can add some attribute on `host.json`  for failure/non-failure policies
* Make customer can add some attribute for retry policy
* Implement these

I'm not a good programmer and also, I can't work this in a couple of days and no one want to do it, I'd like to do it!  I only care about your review work load for me like last time. I felt sorry about that.  If these are OK

[2018-04-12 10:36] andreujuanc commented on #81
I would prefer a long-term solution for GA.

We are dealing with beta anyway, it's understandable.

[2018-04-12 10:40] TsuyoshiUshio commented on #241
Other thing is, how about the document contribution as you mentioned last time? Maybe we need to update this page. I can add some example and explanation on this page. e.g. host.json configration.  https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-versioning  Is this what you did intend to?

[2018-04-12 10:46] andreujuanc opened #243 "DurableOrchestrationContext status"
Have anyone had the  need to know DurableOrchestrationContext's status?

For example doing something like `context.GetStatusAsync() ` and it should pass it's own id. Obviously overridable.

For now i'm calling the status url, just to be sure nothing is executing if it's should be terminating.

**My Case Scenario:**
Orchestrations does not terminate SubOrchestrations (https://github.com/Azure/azure

[2018-04-12 10:47] andreujuanc commented on #153
If we could have this https://github.com/Azure/azure-functions-durable-extension/issues/243
And if SubOrchestrations get passed it's parents instance id automatically, we could at least manually check for parent status and terminate accordingly.

[2018-04-12 11:21] andreujuanc opened #244 "DurableOrchestrationClient inside an orchestration function"
Related to https://github.com/Azure/azure-functions-durable-extension/issues/243

[code]
In this sample, status is not running.  And it looks like it's the previous status. ie, failed, completed, etc.

Is this the correct behaviour? Am I not supposed to do this whilst on an orchestration function? Or is it a bug?

[2018-04-12 11:37] andreujuanc commented on #244
More info:
`Function 'WgmCodeJobs (Orchestrator)', version '' failed with an error. Reason: System.InvalidOperationException: Multithreaded execution was detected. This can happen if the orchestrator function previously resumed from an unsupported async callback.`

[2018-04-12 12:36] andreujuanc commented on #232
UPDATE:
Migrated code to Monitor Pattern. Will see how it performs.

For those who were a bit skeptic like me: (i thought maybe loop would continue after terminating)

This is basically an infinite while loop.

And yes IT DOES STOP when the instance is terminated. +1
And yes IT WORKS for singletons as well.  +1

[2018-04-12 13:15] JohnReeson opened #245 "What is the binding type of orchestration client?"
I read the document, it says `an output binding that acts as a client`
However when I create  a Httpstart template in portal or download the sample here, the Json file says  `"direction": "in"`. In portal, I change the direction to out and the function also works.
Have I mistaken anything?

[2018-04-12 13:33] cgillum commented on #244
The Durable Orchestration client performs async I/O which is not allowed in an orchestrator function. It can only be used in non-orchestrator functions. This error message is expected.

[2018-04-12 13:33] #244 closed

[2018-04-12 16:01] cgillum commented on #245
Sorry for the confusion. In turns out that the specified direction doesn't matter when binding to DurableOrchestrationClient. I think it matters more when binding to IAsyncCollector or when using non-.NET language bindings.

[2018-04-12 16:51] cgillum commented on #153
@andreujuanc can you open a separate issue to track making the parent instance ID available to the sub-orchestrator?  That might be a simple thing for us to add soon'ish.

[2018-04-12 17:00] cgillum commented on #239
Good catch! I had not noticed that this was changed. We'll update the docs. Or, if you'd like to contribute directly, you can open a PR against the documentation GitHub repo as well (it will get assigned to me for review). :)

More details on contributing to docs here: https://docs.microsoft.com/en-us/contribute/

[2018-04-12 18:01] andreujuanc opened #246 "Make parent InstanceId on suborchestrators"
As per discussed here https://github.com/Azure/azure-functions-durable-extension/issues/153 , looks like it'd help to move forward on some issues if we could get the parent instanceId on suborchestrators.

Right now it can be passed by manually (parameters), but it does not makes sense, and it's not so intuitive. Specially when having the name "SUB"orchestrator, which means that the Parent orchest

[2018-04-12 18:02] andreujuanc commented on #153
@cgillum  Done https://github.com/Azure/azure-functions-durable-extension/issues/246

[2018-04-12 18:04] andreujuanc commented on #232
Went out and back home after 4 hours I checked and it's down. Last insert in my log db is `2018-04-12 15:54:54`  And right now is `20:03:23`.

Ill turn off Fan out and leave the main orchestrator/monitor ON. and see what happens.

[2018-04-12 18:17] cgillum commented on #241
For this item, I was thinking this:

* Customer adds an attribute on host.json for failure/non-failure policies
* We add automatic retry for HTTP 503, timeouts, and connectivity errors. We can skip configuration for this for now. I expect there are some best practices available that we can follow.

I would love to have your contribution if you are willing. :) There is no rush on getting this done

[2018-04-12 18:28] brandonh-msft opened #247 "GetInputAsJson doesn't return a JToken representative of the payload"
# Problem statement
GetInputAsJson on an Activity Function doesn't return a JToken representative of the payload sent to it from an Orchestrator

## Tooling Versions
* VS 2017: 15.6.6
* Functions Runtime: v1.0.10
* Functions Extension for VS: 15.0.40405
* Functions nupkg: v1.0.13
* DurableTask Extension nupkg: 1.2.2-beta3

## Observed behavior
In my [serverless-file-validation](https://github.com/

[2018-04-12 19:19] cgillum opened #248 "Update all samples to use ILogger instead of TraceWriter"
`TraceWriter` has been deprecated and everything should move on to using `ILogger`.

[2018-04-12 19:41] cgillum commented on #248
Actually, it looks like switching to `ILogger` does not cause output to be written to the console or Azure Portal! https://github.com/Azure/azure-functions-core-tools/issues/130. I would consider that a blocker for this work item.

[2018-04-12 20:27] cgillum opened #249 "Detailed Performance Documentation"
It's going to be very important to set appropriate expectations for performance for Durable Functions. For that reason, we should include some detailed analysis and numbers in our docs.  Here are some numbers I think we want to track:

## Throughput Numbers
These are numbers that customers will be interested in knowing when determining whether Durable Functions can meet the needs of their scenario

[2018-04-12 20:29] cgillum commented on #249
@jeffhollan I would love to get your feedback on what content would be useful based on your experience and what you're hearing from customers.

[2018-04-12 22:49] cgillum commented on #238
It looks like the latest version of the Functions CLI + Visual Studio integration automatically starts up the Storage Emulator if it's not already running. I was unable to reproduce this issue, and apparently that is why. That should take care of this issue. Even if it doesn't, the next release will give you a more useful exception message.

[2018-04-12 22:49] #238 closed

[2018-04-12 23:32] TsuyoshiUshio commented on #241
Thank you @cgillum ! I'd happy to do it! :) To contribute this repo is my pleasure and fun. Also working with you is totally awesome experience. I'll do it carefully.

[2018-04-13 08:27] CarlosSardo commented on #239
I can update the docs and submit a PR. Thanks @cgillum

[2018-04-13 15:53] brandonh-msft commented on #247
After debugging as much of the SDK as I can, it looks like this is caused by the queuing of the payload in `StartNewAsync` or `RaiseEvent`, and not the retrieving of it. This queuing is not taking in to account a JSON-formatted string value; it treats that as simply a string, and ends up wrapping it in a JSON body when you `JArray.Parse` it.

Unfortunately, the code that ultimate does this appears

[2018-04-13 17:00] cgillum commented on #247
I'm aware of the behavior in DurableTask.Core which puts the parameter into an array (not sure why they did this - I suspect it was a point-in-time thing), but I thought the code in our layer properly compensated for this - i.e. the code you pointed out.   Do you have a simple activity/orchestration pair that you can share which reproduces the issue? I'd like to take a look at it under a debugger.

[2018-04-13 17:17] brandonh-msft commented on #247
Nothing "simple" (can repro at [this commit point in my repo](https://github.com/brandonh-msft/serverless-file-validation/tree/bda30bf471ed7b6d626b28e1ac9489b5a907a4b3)) but I'll create and attach.

[2018-04-13 18:08] brandonh-msft commented on #247
Reproduces all scenarios:
[code]

[2018-04-13 19:08] andreujuanc commented on #232
Removed iteration, ie, no monitor or eternal. But it is still singleton.
Used Azure Scheduler to do the start every 2 minutes. (orchestration ends in 20 seconds).

Got a lock inside one of the fans. Orchestrations says "Running".

Could not find anything in AppInsight that gave me any idea of what is going on.

[2018-04-13 21:43] #226 closed, assigned to nobody

[2018-04-13 22:45] #245 closed

[2018-04-13 23:26] cgillum commented on #232
So there's a lot of back-and-forth going on here and I'm not sure what to investigate. Can you give me a quick summary of the problem you're running into? Also, if you could give me an Instance ID, the region your deployed to, and a general timeframe, then I can search through our internal telemetry and possibly narrow down the issue.

[2018-04-13 23:29] cgillum commented on #174
I don't think it is likely we'll be able to implement this exact feature given the narrow use-case. However, in the next release we are introducing support for Azure Event Grid publishing: https://github.com/Azure/azure-functions-durable-extension/issues/216. I can imagine that you could use this to start and stop background orchestrations for the instances you care about.

Would something like th

[2018-04-13 23:29] #174 closed

[2018-04-13 23:41] cgillum opened #251 "Documentation for Durable Functions on Azure WebJobs"
Some developers want to use Durable Functions, but cannot necessarily use it in the context of Azure Functions. Durable Functions is actually just an extension to Azure WebJobs, so a web job running in Azure App Service is another hosting option (or self-hosted, since WebJobs supports that as well).

We should document how to set this up for the benefit of those who are not able to use Functions.

[2018-04-13 23:47] cgillum commented on #146
We've checked-in a fix which brings in the latest version of **DurableTask.Core**. It will go out with the next release.

[2018-04-13 23:47] #146 closed

[2018-04-13 23:49] cgillum commented on #84
We just checked-in support for this after getting the changes we needed in **DurableTask.Core** (thanks Simon!). It will go out with the next release.

[2018-04-13 23:49] #84 closed

[2018-04-14 20:36] cgillum commented on #233
I had to do some testing with the samples anyways so I went ahead and fixed this.

[2018-04-14 20:36] #233 closed

[2018-04-14 22:32] cgillum commented on #239
I approved the docs PR. It should get merged in the next few days. Thanks for doing this!

[2018-04-14 22:32] #239 closed

[2018-04-14 22:36] cgillum opened #253 "Event Grid data payload should use lowercase letters"
I noticed the code uses upper-case field names, which is inconsistent with the rest of the Azure Event Grid payload JSON:

[code]
I suggest we make these lowercase for consistency. We should also get rid of the `Version` field since that is not used.

Here is what I think it would look like in C#:

[code]

[2018-04-14 22:41] cgillum opened #254 "Documentation for Azure Event Grid publishing"
Let's add a documentation page on docs.microsoft.com which covers the basics of how to set up Azure Event Grid publishing from Durable Functions. This should include a step-by-step guide that includes:

* How to configure publishing in host.json
* How to create the custom Event Grid topic
* How to write an Azure Function which listens to the custom events
* How to test locally

It's okay if some o

[2018-04-14 22:51] cgillum opened #255 "Documentation for custom orchestration status"
We need documentation on docs.microsoft.com that covers custom status reporting from an orchestrator function. This will include the following:

- [x] New topic page which covers the feature (when to use it, how to use it, limitations, etc.)
- [x] Update existing [HTTP API](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-http-api#get-instance-status) article to reference t

[2018-04-15 00:58] cgillum commented on #246
I think it should relatively straight-forward to flow this information.

Specifically, in [DurableTaskExtension.OrchestrationMiddleware](https://github.com/Azure/azure-functions-durable-extension/blob/a3e6b515f2310366c21f1e5f2c50124cd3dba5a6/src/WebJobs.Extensions.DurableTask/DurableTaskExtension.cs#L274) we can get access to the orchestration runtime state, which contains the parent's instance ID

[2018-04-15 08:49] norage opened #256 "Timeout exception + output is null v.1.2.2-beta3"
I was experimenting with durable functions. It worked great for several days until it became very slow for some reason.

Here's what happened:
I created a durable function (template) and added some new functionality and such, very basic. When the `await starter.StartNewAsync("Function1", null);` hits, it'll give two possible outcomes. Either it's takes too long for it to run/load or whatever and r

[2018-04-15 14:25] cgillum commented on #256
The Azure Storage emulator can be painfully slow in some situations, and we were pretty aggressive about timeouts in this version of the extension.

Can you try adding the latest version of the DurableTask.AzureStorage nuget package to your project and see if just doing that solves the issue? We've made some fundamental performance and reliability improvements in the newer versions that will proba

[2018-04-15 14:52] norage commented on #256
Adding `DurableTask.AzureStorage` did sadly not solve the problem, I've also tried the previous versions :(

[2018-04-15 23:14] cgillum commented on #256
Can you share your orchestrator function code?

[2018-04-15 23:46] cgillum commented on #156
In the example I posted above, I assumed that the developer had implemented their own Http_Start trigger for starting an orchestration, just like the one we ship in the samples. This is not built-in, however, which is why we can't create an API that assumes it exists.

For now, I think the best guidance is to have developers implement cross function-app themselves using whichever trigger mechanism

[2018-04-15 23:49] cgillum commented on #139
The good news is that we've checked-in support for large messages this last week (https://github.com/Azure/azure-functions-durable-extension/issues/26), so issues related to large messages will be resolved in the next release.

[2018-04-15 23:49] #139 closed

[2018-04-16 00:11] cgillum commented on #128
Actually, for user-defined inputs and return values, we should already be using `TypeNameHandling.None`. Are you actually seeing `$type` annotations for your user-defined types?

I *do* expect to see `$type` annotations for certain built-in types, like `TaskMessage`, which is a wrapper object for inputs and return values. I don't expect to see `$type` annotations for the `Input` and `Result` field

[2018-04-16 00:24] SimonLuckenuik commented on #174
I currently can implement what I am looking for, this issue was mainly to have nicer and simpler code.

Are there any plans for "Named Singleton" concept? That would do the trick as well to manage locking scenarios\resource exclusivity (a bit like we would do with Named Mutex in conventionnal threading).

[2018-04-16 00:28] cgillum commented on #174
Yes, we support named singletons today. Documentation here: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-singletons.

[2018-04-16 00:32] SimonLuckenuik commented on #128
I just had a look, for an EventType _ExecutionStarted_, the _Input_ property contains $type in the DurableFunctionsHubHistory table. I also have $type in an EventType _ContinueAsNew_ in the _Result_ property. For an EventType _ExecutionCompleted_, however, the _Result_ property doesn't contain $type.

[2018-04-16 00:53] TsuyoshiUshio commented on #253
@cgillum Ok. I'll fix soon.

[2018-04-16 00:56] TsuyoshiUshio commented on #254
@cgillum  Sure. I'll talk with the Documentation team and do it.

[2018-04-16 01:30] gled4er commented on #246
Hello @cgillum ,

I can work on this issue. Let me know if this is ok.

Thank you!

[2018-04-16 01:51] cgillum commented on #246
Sure! I think you should be able to get the OrchestrationRuntimeState from the middleware context. I was looking through the DurableTask.Core code and I believe that it should have parent orchestration information, including the ID.

[2018-04-16 01:52] gled4er commented on #246
@cgillum ,

Thank you for the additional information!

[2018-04-16 02:29] SimonLuckenuik commented on #21
I have the exact same scenario in place, currently I am forced to calls StartNew in advance to make sure everything is ready prior starting to receive events. When doing the StartNew and raising the event just after, I sometime get an error that the StartNew is not active yet (GetStatus would be returning null).

[2018-04-16 04:50] cgillum commented on #21
BTW, we've fixed things so that `StartNew`/`GetStatus` won't return null anymore. You'll see that in tomorrow's update release.

[2018-04-16 04:52] cgillum commented on #177
We're releasing an update tomorrow which should fix this problem without the need for any workarounds. Stay tuned.

[2018-04-16 04:54] cgillum commented on #174
Fair point. That's a good reason for us to get `[Singleton]` officially supported in consumption. Others have worked around this using blob leases, but ideally we have something that doesn't require so much work.

[2018-04-16 05:14] cgillum commented on #253
I'm just talking about the `Data` field.  In your outer data contract, you used `[JsonProperty]` to set all the field names to lowercase. however, the fields inside `Data` will not be lowercased since it's a dynamic type and cannot use `[JsonProperty]` (which is why you just have to make the dynamic field members lowercase). I'm not sure if that's what you were referring to when you mentioned how

[2018-04-16 05:26] norage commented on #256
Of course.
https://pastebin.com/zEzSSEDp. So this code worked fine JUST until the day before yesterday evening.
Also, as I mentioned before, the durable function template gives the same result as my code.

[2018-04-16 11:43] TsuyoshiUshio commented on #253
@cgillum  I sent a pull request. Please have a look.

https://github.com/Azure/azure-functions-durable-extension/pull/259

[2018-04-16 12:35] michaeldaw commented on #177
That will be great. Thank you for the update.

[2018-04-16 16:16] cgillum commented on #253
Looks great - I'll include that in the release. Thanks!

[2018-04-16 16:16] #253 closed

[2018-04-16 16:17] cgillum commented on #246
This has been merged and I'll include it in today's release. Thanks @gled4er for jumping on this so quickly!

[2018-04-16 16:17] #246 closed

[2018-04-16 16:34] brandonh-msft commented on #247
Right; I wonder if this could be solved by either 1) more clearly defining what we're doing with the `object` overload (serializing it to JSON) or 2) requiring *all* payload to be JSON (serializable and/or parseable)

I guess the question we'd have to ask our users is: do you regularly pass primitives as parameters to `CallActivityAsync` and fetch them out as their type, or are you regularly JSON-

[2018-04-16 16:34] cgillum commented on #154
Thanks @gled4er for the PR to fix this! The change will go out with today's release.

[2018-04-16 16:34] #154 closed

[2018-04-16 16:53] cgillum commented on #247
We do call out [in the API documentation](https://azure.github.io/azure-functions-durable-extension/api/Microsoft.Azure.WebJobs.DurableOrchestrationContext.html#Microsoft_Azure_WebJobs_DurableOrchestrationContext_CallActivityAsync_System_String_System_Object_) that the parameters need to be serializeable. Did you have something more specific in mind?

I don't think there is a way the signature can

[2018-04-16 18:26] cgillum commented on #247
The two main problems I have with this proposal are:

1. This greatly lowers usability of CallActivityAsync and related APIs
2. This would be a massive breaking change.

I honestly don't think it is worth it to simply make `GetInputAsJson` more intuitive. If anything, I would rather get rid of `GetInputAsJson` and possibly `GetRawInput` to avoid confusion.

Ultimately I don't want developers to ha

[2018-04-16 19:11] brandonh-msft commented on #247
I'd also be for getting rid of those two methods :) & totally understand the point about flexibility to change serialization formats & dependencies.

Good convo - thanks! 👍

[2018-04-16 20:54] michaeldaw commented on #177
Thanks for the update, Chris.

I re-introduced durable functions into the app I'd been working on. With this update, it's working much, much better. In fact I'm astonished with how well it works.

Thanks again and great work to the team.

[2018-04-16 21:35] cgillum commented on #256
Thanks for sharing the code - everything there looks perfectly fine. This is indeed very strange. We have a new release available with many fixes ([more info here](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.3.0-rc)) but I'm not sure if that will be helpful given how fundamental your example is.

By any chance is there another function app or process which could be r

[2018-04-16 22:42] cgillum commented on #67
I've done a quick analysis based on some experiments I ran a few months back and have updated the description at the top of this thread with my thoughts on how we could potentially fix this issue.

FYI @gled4er

[2018-04-17 01:13] gled4er commented on #67
Hello @cgillum,

Thank you very much!

[2018-04-17 01:31] TsuyoshiUshio commented on #241
Hi @cgillum , I guess the documentation task which assigned me is much higher priority than this one, right? I really wanted this however, I should prioritise the documentation one. However, if possible this should be done before the GA.  I ask @yuka1984 to handle this. However, she is available from the next week. Is it Ok for you? I'll focus on the documentation one. If you can't wait, I'll keep

[2018-04-17 02:32] cgillum commented on #241
I agree documentation is higher priority, otherwise many developers will not try to use this feature. Your plan is okay with me. 👌

よろしくお願いします！

[2018-04-17 14:43] jeffputz opened #261 "NullReferenceException in v1.3.0-rc when querying an instance which doesn't exist"
Since updating today to v1.3RC, we're getting null ref errors similar to this:

[code]

The signature of these functions looks like this:

[code]

If this is caused by the breaking changes, it's not obvious to me. Looking at the source, I'm assuming that it isn't getting the orchestration state, though it's a little black box for me to understand why. It's obviously triggering on the queue, becaus

[2018-04-17 15:10] SimonLuckenuik commented on #261
I have the exact same issue, happens whenever the provided _instanceId_ doesn't exists:
[code]

[2018-04-17 15:26] SimonLuckenuik commented on #128
The _DurableFunctionsHubInstances_ table is also saving the _Input_ property with $type.

[2018-04-17 16:44] cgillum commented on #261
Thanks for letting me know about this. **Is this impacting new function apps or existing ones?**

One of the changes we made in RC was to introduce an **Instances** table for handling all status queries. It was called out in this item in the release notes:

Status queries previously went to the **History** table, which was slow and inefficient. The new model has status queries go to the new **Inst

[2018-04-17 16:55] jeffputz commented on #261
It doesn't seem reasonable to expect a new release with bug fixes to not be applied to existing functions (which were the test bed to find the bugs you fixed, by the way). Yes, this is an upgrade situation.

What's the resolution in the plumbing to make it work? It seems like there are two things broken here:
* A null ref can be passed into a function, unhandled.
* The state infrastructure can onl

[2018-04-17 17:03] SimonLuckenuik commented on #261
I did clear all my tables and blob containers prior upgrading. This was to create a brand new orchestration execution.

[2018-04-17 17:59] cgillum commented on #261
@jeffputz I apologize for the bad experience, but we put the preview label on this feature specifically because we need the flexibility to make occasional breaking changes. The warnings and versioning guidance are there to help ensure a safe transition from one version to another.

That said, if new instances aren't working either, then there's probably something broken in a way that is not expect

[2018-04-17 19:34] cgillum commented on #261
I found the regression. There was a behavior change caused by this PR in **DurableTask.AzureStorage**: https://github.com/Azure/durabletask/pull/145. Basically, the return value when fetching instances that don't exist changed and resulted in the `NullReferenceException` in our extension.

I'll work on a fix and post it as a **v1.3.1-rc** version of the **Microsoft.Azure.WebJobs.Extensions.Durable

[2018-04-17 19:43] jeffputz commented on #261
@cgillum Awesome, thanks for jumping all over that. What kind of time frame do you expect for the release? I appreciate the transparency.

[2018-04-17 19:44] cgillum commented on #261
ETA is less than an hour. I have a fix tested and working locally and just need to run it through our CI and publish it to nuget. I'll post back here once it's available.

[2018-04-18 01:25] yuka1984 commented on #241
Hi @cgillum . I am interested in implementing this topic and want to do a commit. We are planning to start work from around this weekend.

[2018-04-18 14:29] tiagonmas opened #263 "Documentation on how to use durable functions in a blank or existing project"
Current [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-install) does not show how to create a new blank project and use durable functions, or even how to add durable functions to an existing project.
I tried adding the E1_HelloSequence sample class to a blank project and am running into [issues](https://stackoverflow.com/questions/49901394/migrating-an-azu

[2018-04-18 14:38] #263 closed

[2018-04-18 15:27] jeffputz opened #264 "Getting 409 conflicts in calls to Azure storage"
With the 1.3.1rc update, I'm getting 409's from Azure storage when the orchestration service tries to call it:

[code]
Interestingly, the function still runs. In this case, it's generating double exceptions. First, the one above, and second, because it causes a 400 when I call the Http triggered endpoint of the function.

Also, in one environment (Azure), clearing the various durable functions blo

[2018-04-18 15:48] cgillum commented on #264
Interesting. I was also seeing occasional 409 conflict failures in our CI, but it was not consistent. I'll try to see if I can repro locally and root cause. Let me know if you happen to notice a pattern for when it happens.

[2018-04-18 15:58] jeffputz commented on #264
It's definitely not just my local environment, or just http triggered functions. Are you using Insert or InsertOrReplace to write? I'm assuming it's to table storage.

[2018-04-18 16:46] cgillum commented on #264
Ah, it looks like we are doing a `TableOperation.Insert` in this code path. I imagine this would break the singleton pattern if a singleton is being recreated. Could that be what you are running into? I suspect it should be safe for us to internally do a `TableOperation.InsertOrReplace` instead.

FYI @gled4er

[2018-04-18 16:53] jeffputz commented on #264
Yes... they are implementing the singleton pattern. That's the key reason
we use this framework, so we don't have to try and manage all that state
ourselves.

On Wed, Apr 18, 2018, 12:46 PM Chris Gillum <notifications@github.com>
wrote:

[2018-04-18 16:55] jeffputz commented on #264
Yes... they are implementing the singleton pattern. That's the key reason
we use this framework, so we don't have to try and manage all that state
ourselves.

Is this fast-fixable the way yesterday's problem was? :) Our sprint ends today.

[2018-04-19 05:15] envoy-mcapodici opened #265 "Nuget install crashed Visual Studio"
It gets stuck after this, I need to kill VS after this happens:

PM> install-package Microsoft.Azure.WebJobs.Extensions.DurableTask -PreRelease
  GET https://api.nuget.org/v3/registration3-gz-semver2/microsoft.azure.webjobs.extensions.durabletask/index.json
  OK https://api.nuget.org/v3/registration3-gz-semver2/microsoft.azure.webjobs.extensions.durabletask/index.json 213ms
Restoring packages for

[2018-04-19 05:47] cgillum commented on #264
Sorry for the delay, and for the regression. I've added several new tests to cover the singleton scenario to avoid regressions like this in the future.

Here is the updated version of **DurableTask.AzureStorage** which has the fix: https://www.nuget.org/packages/DurableTask.AzureStorage/1.1.8-beta.

We'll subsequently update **Microsoft.Azure.WebJobs.Extensions.DurableTask** to include a direct de

[2018-04-19 06:57] cgillum commented on #265
Do other packages work? Or other versions of this package? My guess is that this is an issue with your version of nuget and/or Visual Studio and not an issue with Durable Functions. Which version of nuget do you have installed?

[2018-04-19 06:59] #261 closed

[2018-04-19 07:04] cgillum commented on #256
Glad to hear your issue was resolved in the upgraded package! I'll close this issue since that problem is resolved. We can continue to discuss, however.

When you say "re-executes" could this be the replay behavior of orchestrator functions you're seeing? This may be expected. Take a look at the documentation here and let me know if that explains it: https://docs.microsoft.com/en-us/azure/azure-fu

[2018-04-19 07:04] #256 closed

[2018-04-19 07:17] cgillum opened #266 "Overview of function-to-function communication"
It would be useful to have a single topic which covers function-to-function communication. Information about this is currently scattered throughout, and it would be nice to have a landing page which covers this as a dedicated topic, linking out to related documents as necessary.

Categories to describe would include the following:

- [x] **Orchestration triggers**: This is all about how to start o

[2018-04-19 10:33] SimonLuckenuik commented on #261
Working for us, thanks Chris for the quick turnaround time!

[2018-04-21 03:31] TsuyoshiUshio commented on #254
@cgillum  I start writing the documentation. Not finished. however, please have a look for overview review. Then I'll correct the strategy and write `How to test locally` section.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/38541

[2018-04-23 22:50] envoy-mcapodici commented on #265
Yes other packages work, We use a lot of packages from different vendors and a lot of Azure packages and had no problems with them.

Earlier versions of the same package have the same problem.

Package Manager Console Host Version 4.4.0.4475
Nuget Version 4.4.0

[2018-04-23 23:28] cgillum commented on #265
Would you mind opening an issue directly to Visual Studio and mentioning our package? Unfortunately I'm not really equipped to debug Visual Studio crashes. They will probably need to collect some traces from you as well.

Our package doesn't have any internal hooks into VS, so there is no excuse for VS to crash.

[2018-04-23 23:28] #265 closed

[2018-04-23 23:37] cgillum opened #270 "Need a friendlier error message when attempting to invoke an orchestrator function from the portal"
Related to https://github.com/Azure/azure-functions-durable-extension/issues/10 and https://stackoverflow.com/questions/45063647/durable-functions-infinite-execution-with-state-doesnt-work?rq=1

Here is the error message if you try to manually trigger an orchestrator function:
[code]

Ideally we can detect this and throw a more meaningful exception - e.g. "Durable orchestrator functions do not sup

[2018-04-24 01:05] gled4er commented on #255
Hello @cgillum,

I am interested in helping with this issue.

If this is ok with you, may I ask you to share directions about the feature - when to use it, how to use it, limitations, etc.?

I will be happy to expand them and work on the page.

Thank you!

[2018-04-24 01:31] cgillum opened #271 "Custom status values are not displayed in the HTTP status query API"
I noticed this while writing some new test applications. The custom status value is available in the client APIs but we don't expose it in the HTTP status query response yet. Just an oversight.

The code that needs to be updated is here:
https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/HttpApiHandler.cs#L195-L203.

It would probably be good

[2018-04-24 01:32] gled4er commented on #271
Hello @cgillum,

Thank you for catching this.

I will work on it!

Thank you!

[2018-04-24 01:42] cgillum commented on #255
Thanks, that would be great! You can find more details here: https://github.com/Azure/azure-functions-durable-extension/pull/193

[2018-04-24 01:47] gled4er commented on #255
Hello @cgillum,

Thank you very much for the link!

[2018-04-24 08:13] gled4er commented on #255
Hello @cgillum,

Do we need to pass `customState` to the methods in `EtwEventSource` and `EndToEndTraceHelper` in order to be visible in the Diagnostics? Because currently this is not happening.

Thank you!

[2018-04-24 14:52] gled4er commented on #255
Hello @cgillum,

Thank you for the clarification.

[2018-04-25 04:25] #271 closed

[2018-04-25 04:26] #235 closed

[2018-04-25 08:58] TsuyoshiUshio opened #273 "Question: Filtering SubOrchestrator lifecycle event"
I start thinking a use case which when we use Sub Orchestrator.

In this case, we might want to filter  Sub orchestrators. Can we identify whether it is Parent or Sub orchestrator?  Maybe this method might be the one. Is it true?

https://github.com/Azure/azure-functions-durable-extension/blob/38bdffb20dbb8a209fec7e9c5088b7167dd07f01/src/WebJobs.Extensions.DurableTask/DurableOrchestrationContext.c

[2018-04-25 09:10] gled4er commented on #273
Hello @TsuyoshiUshio ,

Yes, you can use the `ParentInstanceId` to get the parent orchestrator. If this property has no value then this is the parent orchestrator.

Thank you!

[2018-04-25 18:45] cgillum commented on #273
Yep, that's the best way to do it.

[2018-04-25 18:45] #273 closed

[2018-04-26 00:15] cgillum commented on #152
PR into docs.microsoft.com has been approved. The official guidance will go out with the next docs refresh.

[2018-04-26 00:15] #152 closed

[2018-04-26 00:16] cgillum commented on #89
Here is the PR: https://github.com/MicrosoftDocs/azure-docs/pull/7723

[2018-04-26 16:43] ethanroday opened #275 "Waiting for multiple event types inside a loop only responds to first event type received"
**Steps to Reproduce:**

1. Create an orchestrator function like the one below, which waits for multiple events using the `Task.WhenAny()` pattern. It increments a counter on receiving the `Increment` event or stops on receiving the `Stop` event.
2. Start an instance of the function by calling `StartNewAsync()` from a simple HTTP triggered function.
3. Raise three `Increment` events using the HTTP

[2018-04-26 16:48] ethanroday commented on #275
I can work around this by only using a single type of event, `Message`, and have it take the following shape:

    {
      string eventName;
      object payload;
    }

So this is not blocking per se. However, the behavior is still very unexpected.

[2018-04-26 17:39] ethanroday opened #276 "Restarting a previously completed function results in storage error"
**Steps to reproduce:**

1. Create a very simple function like the one below (called `StatusTest`), which waits for a single event and then finishes.
2. Start an instance using `StartNewAsync()` from an HTTP triggered function, also below (called `Start`).
3. Send the `Finish` event through the HTTP API.
4. Start the instance again using `StartNewAsync()` from the HTTP triggered function.

**Expec

[2018-04-26 18:10] CarlosSardo commented on #89
@cgillum here's the PR to the azure-docs-pr repository instead. Shall I delete the previous one #7723?

[2018-04-26 18:27] cgillum commented on #89
@CarlosSardo yes you can delete the previous PR. However, note that there is feedback there which will need to be applied to the new PR.

[2018-04-26 18:37] gled4er opened #278 "Add documentation about Instances Table"
Hello,

I think it will be good to add information about Instances table in [Task Hubs page](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-task-hubs).

Thank you!

[2018-04-26 18:53] gled4er opened #279 "Remove warning about fixed numer of control queue partitions"
Hello,

I think it will be good to remove the alert about fixed number of control queue partitions [here](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-perf-and-scale).

Thank you!

[2018-04-26 18:57] cgillum commented on #279
Yep, I already have that change here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/38970. Thank you for pointing this out! I'll go ahead and close this one.

[2018-04-26 18:57] #279 closed

[2018-04-26 21:54] cgillum opened #281 "Large fan-outs result in high-latencies for all activity function executions"
### Repro steps
1. Fan-out to 2,000 activity functions
2. Observe the Kusto/App Insights logs to measure the time between the first activity scheduled and the first activity execution.

### Expected
Activity functions start running immediately or shortly after their messages get written to the work-item queue.

### Actual
Activity functions don't start running until **all** of their messages have

[2018-04-28 23:09] cgillum opened #282 "Remove "version" information from traces"
The DTFx concept of versions is not exposed in durable functions, so we should remove it from the traces we emit.

[2018-04-28 23:11] cgillum opened #283 "Update API documentation"
The API documentation has not been updated in a while and we've since added new public APIs.

[2018-04-29 06:24] cgillum opened #284 "Remove "preview" from documentation, READMEs, etc."
It's no longer in preview when we GA.

[2018-04-29 07:07] cgillum opened #285 "Change custom Event Grid eventType property from an int to a string"
The data/eventType field in the custom Event Grid notification is currently an int value, representing the orchestration runtime status. This is confusing because:

1. There is already an **eventType** field in the parent JSON object which has a different value.
2. It's not really an "event type" but rather the runtime status of the orchestration
3. Integers are hard to understand when used for st

[2018-04-29 07:31] gled4er commented on #284
Hello @cgillum,

If you agree, I want to help with this issue.

Thank you!

[2018-04-29 07:31] gled4er commented on #282
Hello @cgillum,

If you agree, I want to help with this issue.

Thank you!

[2018-04-29 07:32] gled4er commented on #127
Hello @cgillum,

If you agree, I want to help with this issue.

Please let me know if you have any directions in order to shorten the review process.

Thank you!

[2018-04-29 19:02] cgillum commented on #284
Thanks @gled4er for the offer, it would be great to get your help. Please remember to open the PR against the **release-build-functions** branch in the docs repo.

[2018-04-29 19:07] cgillum commented on #276
Thanks for reporting this. I believe this may be a duplicate of https://github.com/Azure/azure-functions-durable-extension/issues/264. Can you try the workaround posted there to see if it resolves this issue?

[2018-04-29 21:22] cgillum opened #286 "Event Grid notification does not fire for orchestration termination"
I noticed this while refactoring the event grid notification unit tests. It seems the `LifeCycleNotificationHelper.OrchestratorTerminatedAsync` method is never called anywhere in our codebase. The existing unit test code unfortunately did not catch this.

Unfortunately I don't see a simple way to fix this. The challenge is that termination doesn't require the orchestrator function to actually run,

[2018-04-29 21:39] cgillum commented on #285
Another option is to remove this second `eventType` field since it is redundant with the `subject` field.

[2018-04-29 22:50] gled4er commented on #284
Hello @cgillum,

Thank you very much for the assignment and reminding me about **release-build-functions**!

[2018-04-30 01:28] cgillum commented on #282
Sure, that would be very helpful!

Also, do you think it would be possible to remove AppName and SlotName entries if they are null? For local development, these trace values aren't meaningful, so i was wondering if we could filter them out when during local development.

[2018-04-30 02:38] gled4er commented on #282
Hello Chris,

Sure.

Thank you very much for assigning the issue!

Sent from my Windows 10 phone

From: Chris Gillum<mailto:notifications@github.com>
Sent: Monday, April 30, 2018 10:28 AM
To: Azure/azure-functions-durable-extension<mailto:azure-functions-durable-extension@noreply.github.com>
Cc: Kanio Dimitrov<mailto:Kanio.Dimitrov@microsoft.com>; Comment<mailto:comment@noreply.github.com>
Subject

[2018-04-30 07:01] wahyuen opened #288 "Fan Out/Fan In Scenario, stuck in running state, not completing"
**Investigative information**
Please provide the following:

Timestamp: 2018-04-30T06:39:00.287Z
Function App version (1.0 or 2.0-beta): 1.0
Function App name: keysersoze-dev-phone-functions
Function name(s) (as appropriate): SaveCcr, SaveCcrOrchestrator, ParseCcr, SaveMsisdn, SavePhoneCall, SaveSms, SaveInvestigationObject, UpdateReportStatus
Instance ID: 5dc5c8ea9f524464816823d2e52414e7
Region:

[2018-04-30 08:10] gled4er commented on #282
Hello @cgillum,

I have few questions for clarification about the changes required for this issue.

Shall we remove the version also from the logs going to App Insights?

How about the app and slot names in terms of sending it to App Insights? Shall we remove them if they are null?

The criteria to removing app and slot name will be that they are null, right? Or we need to detect when the app is r

[2018-04-30 13:58] markheath commented on #84
I've just been experimenting with this (using local dev environment) and although we have the `InnerException` available now, with the correct message, it does not have the same type as the exception thrown from the activity function - you just get a basic `System.Exception`. Is this intended behavior? It would be nice to do something like

[code]

but that is not currently possible.

[2018-04-30 16:00] cgillum commented on #282
Version should be removed for everything since we don't use it at all.

Regarding AppName and SlotName, my expectation is that these values will always be null in local environments. In Azure environments, my expectation is that these values will never be null. I don't think any special detection is needed.

[2018-04-30 16:26] ChRonX13 commented on #288
Yes correct... Apologies for missing that out!

[2018-04-30 16:49] ethanroday commented on #276
That did the trick. Thanks!

[2018-04-30 16:49] #276 closed

[2018-04-30 17:10] cgillum commented on #288
Thanks. Unfortunately I can only see Azure Storage messaging telemetry right now, so my visibility is a bit limited. I'll do my best with what info I can get though. :)

From what I can see, it looks like the fan out is to 12K+ activity functions. Does that sound accurate? It also appears that these 12K activity functions completed, like you mentioned.

One potentially odd thing I noticed is that

[2018-05-01 00:29] ChRonX13 commented on #288
12k seems about right, the following is what i expect to be called to each of the fanned out activities

269 calls to SaveMsisdn
2274 calls to SavePhoneCalls
3542 calls to SaveSms
6085 calls to SaveInvestigationObject

Total = 12170 'activity' calls

The timestamp for **2018-04-30 08:16:27** was when i shut off the function as I was leaving work for the day. I had some concerns it might be having

[2018-05-01 00:35] gled4er commented on #282
Hello Chris,

Thank you very much for the clarification!

Sent from my Windows 10 phone

From: Chris Gillum<mailto:notifications@github.com>
Sent: Tuesday, May 1, 2018 1:00 AM
To: Azure/azure-functions-durable-extension<mailto:azure-functions-durable-extension@noreply.github.com>
Cc: Kanio Dimitrov<mailto:Kanio.Dimitrov@microsoft.com>; Assign<mailto:assign@noreply.github.com>
Subject: Re: [Azure/a

[2018-05-01 01:06] TsuyoshiUshio commented on #286
I'll have a look the code.

[2018-05-01 01:11] TsuyoshiUshio commented on #285
@cgillum  OK. I'll ask yuka and the guys. I'm ok for both solution, and I can help. Also, we need to care the documentation change. I also send pull request to the documentation as well.

[2018-05-01 04:02] gled4er commented on #282
Hello @cgillum,

Shall we remove references to version in the documentation?

Thank you!

[2018-05-01 04:34] TsuyoshiUshio commented on #286
Maybe around here. Is there any other place to investigate that?

https://github.com/Azure/durabletask/blob/1b8632df46282a10eae0c60665b536f8ee408119/src/DurableTask.Core/TaskOrchestrationContext.cs#L383

In case of here, we can't get a lot of telemetry.

https://github.com/Azure/durabletask/blob/0fa71e1e59253780a325a4b663922fc409d326c7/src/DurableTask.Core/History/HistoryEvent.cs

If you introduce

[2018-05-01 04:38] cgillum commented on #288
Thanks for the additional info. For the "stuck" case, could you try restarting your function app in the portal to see if that gets things going again? I'm wondering if something could have gone wrong with the starting/stopping sequence (I've seen similar issues in the past). Indeed, nothing appears to be running (I see the "start" message but nothing else).

BTW, regarding function timeouts, note

[2018-05-01 05:38] #38 closed

[2018-05-01 05:39] #179 closed

[2018-05-01 05:44] cgillum commented on #249
Didn't quite get everything, but got the essentials: https://github.com/MicrosoftDocs/azure-docs-pr/pull/38970

[2018-05-01 05:44] #249 closed

[2018-05-01 05:45] cgillum commented on #278
Done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/38970

[2018-05-01 05:45] #278 closed

[2018-05-01 05:46] #284 closed

[2018-05-01 05:48] cgillum commented on #255
Looks like we forgot to update the Diagnostics page. That's okay for now. We can do it post-GA.

[2018-05-01 05:52] gled4er commented on #255
Hello @cgillum,

I can do it now. Just can you clarify what should be the change for it? We are not passing Custom Status to the tracking methods.

Thank you!

[2018-05-01 05:53] #254 closed

[2018-05-01 06:02] cgillum commented on #255
Sure, if you have time.

The idea is to add a short section describing tips about how you can add richer monitoring to your orchestrator function using custom status. For example, showing how you can add `SetCustomStatus` calls to indicate progress for some long-running operation, and then query that progress using the HTTP status query APIs (e.g. a web page could be checking this status and displ

[2018-05-01 06:05] gled4er commented on #255
Hello @cgillum,

Got it!

I will work on that next.

Thank you!

[2018-05-01 06:45] gled4er commented on #255
Hello @cgillum,

When you have time please check this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/39707 and let me know what should be fixed next?

Thank you!

[2018-05-01 06:52] gled4er commented on #89
Hello @cgillum,

May I ask you when you have time to have a final review for this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/39677 ?

It should have all the previous issues resolved.

We believe that the PR is ready for merging but since it is a new one requires your approval.

Thank you!

[2018-05-01 14:44] TsuyoshiUshio commented on #285
@cgillum They said it’s OK. Let’s do your recommendation. Subject is used for filtering. I’ll do this. However, you remove this from G.A. Milestone. After the GA is fine? Or prefer do it now?

[2018-05-01 14:45] gled4er commented on #127
Hello @cgillum,

I think this is the only issue that is not assigned for the GA milestone.

Let me know if you have in mind high level instructions so I can help.

I am not sure how much time we will have to implement it but I can work on it from 10 AM JST if this is acceptable for you.

Thank you!

[2018-05-01 18:48] cgillum commented on #89
This has been merged.

[2018-05-01 18:48] #89 closed

[2018-05-01 18:50] cgillum commented on #88
Official DR guidance has been merged into docs.microsoft.com will be published around the time of Build.

[2018-05-01 18:50] #88 closed

[2018-05-01 19:00] cgillum commented on #251
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/39727/files

[2018-05-01 19:58] cgillum commented on #127
I actually think we should already be covered for this.

* Message size limitations have been lifted per #26.
* Custom status query limitations are documented as part of this docs PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/39707
* All other limits, including throughput limits, should be covered by the performance documentation, which is going out for Build: https://github.com/Microsof

[2018-05-01 19:58] #127 closed

[2018-05-01 21:13] cgillum commented on #81
A fix has been made which will vastly improve performance in the next release. See this PR: https://github.com/Azure/azure-functions-durable-extension/pull/289

[2018-05-01 21:13] #81 closed

[2018-05-01 21:18] cgillum commented on #82
I added a new feature known as "extended sessions" to the Durable Task Framework to address this. It works by keeping the orchestration state in memory for a period of time to avoid replaying the orchestration when new messages continually arrive. The DurableTask.AzureStorage provider starting with version 1.2.0 will include these optimizations. We've merged in support for this in the latest Durab

[2018-05-01 21:18] #82 closed

[2018-05-01 23:05] #69 closed

[2018-05-01 23:06] #251 closed

[2018-05-01 23:41] #255 closed

[2018-05-02 00:08] #159 closed

[2018-05-02 00:08] cgillum commented on #159
Our next release will include details about how to get started with JavaScript orchestrator functions.

[2018-05-02 00:11] cgillum commented on #275
Thanks for the details, and sorry for the delay in looking at this issue. Which version of the Microsoft.Azure.WebJobs.Extensions.DurableTask nuget package are you using?

[2018-05-02 03:51] cgillum commented on #285
I removed it from GA, but it can still be brought back in. :) It just means there is no rush if you are too busy.

[2018-05-02 03:55] TsuyoshiUshio commented on #285
Yeah. It is breaking  change.  It might be good before the GA. I'll try that. with documentation.

[2018-05-02 17:51] cgillum commented on #275
I used your code and reproduced the issue using **v1.3.1-rc**. I switched my project to target **v1.2.2-beta3**, and everything works as expected. So this looks like a regression in the latest release.

FYI @gled4er

[2018-05-02 21:42] cgillum commented on #275
I think I understand what's happening here. Your code is actually creating multiple "Stop" tasks because of how the loop is constructed, and the one you're waiting on in the final loop iteration is not the one which actually gets completed, thus your orchestrator is not responding.  If you send multiple "Stop" events, I suspect it will actually complete.

I can see how this is non-obvious, so I ne

[2018-05-02 21:43] gled4er commented on #275
Hello @cgillum,

Thank you letting me know about the issue.

I will share my findings on this thread.

Thank you!

[2018-05-03 05:18] cgillum commented on #169
I investigated this further and it looks to be a bug in the Azure Functions host: https://github.com/Azure/azure-functions-host/issues/2785. Unfortunately I don't think there is anything we can do to mitigate this problem except to get a fix from the host, after which this issue should resolve itself.

[2018-05-03 05:18] #169 closed

[2018-05-03 16:38] cgillum commented on #288
Thanks. Update on my side: it looks like the hour-long pause for execution from **2018-04-30 06:48:33** to **2018-04-30 07:57:15** was caused by a repeated host restart failure, which itself was caused by Azure Storage 409 conflict errors.

[code]
The fact that this kept happening until you shut off the function makes me think there is a logic bug in our task hub creation code that is putting thin

[2018-05-03 16:49] cgillum opened #295 "Task hub listeners can fail to start repeatedly and endlessly"
### Issue
As part of investigating https://github.com/Azure/azure-functions-durable-extension/issues/288, I discovered that task hub creation failures during the functions host startup repeat continuously and endlessly. Here is an example error message:

[code]

### Investigation
The root cause appears to be because of how a `Task` object is being cached in the **DurableTask.AzureStorage** code, w

[2018-05-03 16:56] cgillum commented on #285
The fix has been merged and will go out with the GA release.

[2018-05-03 20:41] kashimiz opened #296 "Enable out-of-proc orchestration starter functions."
Currently, the [JavaScript orchestration starter function](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-instance-management#starting-instances) shown in the docs does not work, throwing an exception when the host runtime indexes it due to DurableOrchestrationClient being unable to bind to string.

We should fix this so our docs are accurate and JavaScript folks can do w

[2018-05-03 22:19] gorillapower opened #297 "Retry Failed Orchestrations"
Is it possible to 'retry' an orchestration Instance that is in a failed state? With webjobs and queue triggers i was able to place poison-queue items back into the working queue, which would then continue the process (in my chain of queue-trigger functions).

Is there a similar way to continue a failed orchestration chain in Durable Functions?

[2018-05-03 22:37] kashimiz commented on #297
We don't currently have support for this, but retry behavior for failed orchestrations is on our roadmap.

One workaround would be to monitor the status of an orchestration and, if it goes into Failed state, call a new orchestration instance with the same output and ID.

[2018-05-04 00:10] ChRonX13 commented on #288
Thanks @cgillum , do let me know if I can further assist in running other scenarios to help out! Very keen to help get this working!

[2018-05-04 00:32] cgillum commented on #288
@ChRonX13 Would you be willing to test out an updated version of the extension? If so, I can get you something that I think may help relatively soon.

[2018-05-04 00:33] ChRonX13 commented on #288
@cgillum yes definately

[2018-05-04 05:08] cgillum commented on #288
I've published a new version of the extension here: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask/1.3.4-rc. Can you try upgrading your web app with this version?

Also, you will need to update your host.json with the following configuration:

[code]
The expected effect is that the replay behavior should basically be disabled, allowing large fan-ins to complete much

[2018-05-04 05:44] wahyuen commented on #288
InstanceId: 6cf74f6520384a66a00ab158d48fa5a2
CreatedTime: 2018-05-04T05:29:10.961Z

Initial observations:
Appears that most of the activities are queued up, however, they don't seem to be executed right away. I can't see actual runs on the 'activity' functions at all. However, I can see these messages pop up on the Live Metrics Stream

![image](https://user-images.githubusercontent.com/4549796/396

[2018-05-04 06:30] cgillum commented on #288
OK, I looked at your execution and I'm detecting a problem with this package. Please go ahead and revert back to the previous version. I need to investigate and come back with an updated version. Really sorry about the trouble. :(

[2018-05-04 06:39] wahyuen commented on #288
not a problem at all :) happy to help out where possible! :)

[2018-05-04 07:05] cgillum commented on #38
FYI @gled4er I noticed there seems to be an issue with this fix. I had a customer try the latest version and they were getting repeated warning messages about split-brain detected. In their case, they are doing a large fan-out of more than 100 activity functions.

Here is a simpler pattern I see repeated:

| Trace Event | ETag |
|-|-|
| FetchedInstanceHistory | **W/"datetime'2018-05-04T05%3A29%3A3

[2018-05-04 20:48] cgillum commented on #288
I have a new version to try when you have a moment: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask/1.3.5-rc. It fixes a couple different issues I discovered while analyzing your most recent run.

[2018-05-04 23:59] cgillum commented on #275
I have created a version of the nuget package which contains a fix for your issue. We have also added a test case for this. Can you give it a try and see if it works for you?

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask/1.3.5-rc

[2018-05-04 23:59] #275 closed

[2018-05-05 01:40] wahyuen commented on #288
InstanceId: **2c0edd4d311148289380db91a859c574**
CreatedTime: **2018-05-05T00:46:23.703Z**

Seems to have happily processed the activities...however, we are now back to it being stuck in a 'running' state. Been almost an hour and some 'replay' messages are still trickling through on Live Metrics Stream, however, it seems to have scaled back in to only be running 2 servers.

![image](https://user-i

[2018-05-06 04:35] #283 closed

[2018-05-07 00:52] cgillum commented on #288
So I'm not seeing anything that can clearly explain what the long delay is.  Here is a summary of what your orchestration appears to be doing:

| TIMESTAMP | TaskName | Reason | LastTime |
|-|-|-|-|
| 00:45 | FunctionScheduled | NewInstance | 00:46:25.339 |
| 00:45 | FunctionStarting |  | 00:49:14.556 |
| 00:45 | FunctionListening | CreateTimer:2018-05-05T01:49:12.879Z | 00:49:14.557 |
| 00:45 | F

[2018-05-07 01:40] wahyuen commented on #288
@cgillum happy to email you a private gist if that works?

[2018-05-07 13:51] Kimmen opened #300 "Sub-orchestrations tasks are not completed after 5 minutes"
Starts several sub-orchestrations in fan-in/fan-out manor. If the sub-orchestrations are not completed within ~5 minutes, the "outer" orchestration doesn't receive any task-completions (await Task.WhenAny() doesn't complete).

**Scenario:**
We want a group of users to respond to events using a phone app and they have a certain time to respond to it. So we have a sub-orchestration that awaits a res

[2018-05-08 03:33] vsadams commented on #232
I believe I am running into a similar issue. I have the following setup.

1 timer function that kicks off multiple eternal Orchestrators.

The Orchestrators used to call multiple activity functions then wait a certain amount of time and run again. I found that was not nearly as performant as I had hoped and have now simplified it greatly.

My orchestrators now call 1 activity function that does a

[2018-05-08 03:59] cgillum commented on #232
@vsadams something is definitely not right if your control queues are backing up. If you look into some of the control queue messages, which instance ID do you see most frequently?

Also, if running in Azure, can you share your region, timestamp, and an instance ID? Having that information will allow me to search through our internal telemetry for clues.

Lastly, make sure you're running the lates

[2018-05-08 04:05] cgillum commented on #300
Hi @Kimmen, can you share a basic outline of what your orchestrator function looks like? I didn't quite understand what you mean when you said it doesn't receive any task-completions. I also need to understand how you are enforcing the 5 minute timeout.

And FYI we released an upgrade nuget package today, v1.4.0. Can you upgrade to that version?

[2018-05-08 04:10] cgillum opened #301 "Ability to "revive" failed orchestrations"
### Problem
There are cases when an orchestrator instance can fail due to a bug, an environment issue, etc. In such cases, the orchestration fails and the process needs to be manually restarted from scratch. This is not ideal because often times the process involved several complex steps, human interactions, etc, and it's not always practical to rebuild that state.

### Proposal
The durable task f

[2018-05-08 04:11] cgillum commented on #297
I've opened the following issue to track the ability to "revive" a failed orchestration: https://github.com/Azure/azure-functions-durable-extension/issues/301.

[2018-05-08 04:11] #297 closed

[2018-05-08 04:12] cgillum commented on #264
The updated nuget dependency with the fix is automatically included in the latest release (v1.4.0).

[2018-05-08 04:12] #264 closed

[2018-05-08 04:27] cgillum commented on #198
I agree that sleeping in your activity function is not ideal. Unfortunately, activity functions are stateless so it's not practical for us to add support for things like timers in these activity functions.

Another option, though not perfect, is to specify a [retry policy](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-error-handling#automatic-retry-on-failure) when calli

[2018-05-08 04:27] #198 closed

[2018-05-08 04:28] cgillum commented on #128
Agreed this is not ideal and that we should try to remove our usage of $type in places where it's not strictly needed.

[2018-05-08 15:38] vsadams commented on #232
Sure thing!
I will capture the control queues the next time it backs up.
I am running in Azure, here are the details...
**Region:** East US
**Timestamp:**
**Instance IDs:** We create an instanceId based off of a PK in our db so that we can poll status and check health...so there is a lot but here they are
- E6D7E872-BDDA-49DD-84D7-04D93A47B930
- 47E90258-BA4E-4CB7-93B6-06CCDE515EB6
- D2A8E31D-B9D7

[2018-05-08 17:56] ethanroday commented on #275
Works! Thanks for the fix.

[2018-05-08 18:09] shakehar commented on #236
The nuget package @cgillum mentions above
`Install-Package Microsoft.Azure.WebJobs.Extensions.DurableTask -Version 1.4.0`

[2018-05-08 20:53] Kimmen commented on #300
In short, it looks like this:
`public async Task Dispatch()
{
  IEnumerable<Tasks<SomeResponse>> subOrchTasks = this.CallSubOrchestrations(someList);

  while (this.AquiredEnoughResponses(subOrchTasks ) && NotFinished(subOrchTasks ))
  {
    await Task.WhenAny(GetNonCompleted(subOrchTasks )).Unwrap();
  }
}'

I know, the code is a bit weird, but I want to report back once there are enough reported

[2018-05-08 21:05] Kimmen opened #302 "ActivityContext.GetInput throws JsonSerializationException"
Realized when updating to v1.4.0 we still had a workaround for dealing with invalid json when retrieving inputs from durable contexts (calling `GetInput`). I reported smilar that back in November, issue #86. In the latest release `GetRawInput`  is gone and our workaround is not valid any more, but we are still getting the exception.

The input we are sending is a generic type:
`this.context.CallAc

[2018-05-09 10:58] TsuyoshiUshio opened #303 "Documentation update for Event publishing"
Hi @cgillum,

We might forget to update this page.
However, where can I find the page source?

https://github.com/Azure/azure-functions-host/wiki/host.json

[2018-05-09 15:20] espray opened #304 "Map-Reduce Sample"
Are demo apps from [Serverless Computing in Azure](https://developer.microsoft.com/en-us/events/build/content/serverless-computing-in-azure) session on GitHub?

[2018-05-09 22:48] cgillum commented on #275
Great! Thanks for confirming.

[2018-05-09 23:59] cgillum commented on #288
I received an internal report of a similar issue to this one. I'm starting to suspect there is actually a bug in the **DurableTask.AzureStorage** package logic which is resulting in extremely slow control-queue processing, and it may be impacting your scenario as well as others. I'm going to continue to investigate and see if I can track this down in the next few days. I'll keep you posted.

[2018-05-10 02:33] cgillum opened #305 "Message for non-existent instance poisons control queue"
If a control queue message arrives for an instance that doesn't exist, the result is a null-ref exception in DurableTask.AzureStorage. This causes the associated work item to be abandoned, only to be dequeued again later and run into the same issue.

Here is the trace message from DurableTask.Core:

[code]

[2018-05-10 04:13] wahyuen commented on #288
I've run some more scenarios in the hope that some of this telemetry might be useful in your investigations.

I'm unsure if this is the expected throughput on a consumption plan, but I've found the actual time taken to process the individual tasks in the fan out stage to be quite high. As a test, I migrated my application to an App Service Plan to see if changing these settings affected the perfor

[2018-05-10 14:17] SimonLuckenuik commented on #14
@gled4er according to the [release notes](https://github.com/Azure/azure-storage-net/blob/master/changelog.txt), they only support infinite lifetime, which is probably the only reason why they changed the API (Queues: Added support for infinite TTL on queue messages.).

@cgillum I see that has been removed from GA, any chance this will be added soon? Even if my workaround works, it's a pain to do,

[2018-05-10 16:11] #305 closed

[2018-05-10 16:14] gled4er commented on #14
Hello @SimonLuckenuik,

Thank you for the comment.

I haven't tried the new TTL options yet but based on this  [documentation page](https://docs.microsoft.com/en-us/rest/api/storageservices/put-message) I think you can set any int value now. In my opinion infinite lifetime is only one possible option, not the only one allowed.

Thank you!

[2018-05-10 16:30] cgillum commented on #14
@SimonLuckenuik We had to punt this out of GA for schedule/resourcing reasons, unfortunately. We're still motivated to get this done soon, though - lots of people asking for it.

I'll take a look at the documented storage updates. Arbitrary lifetime seems like a pretty big deal! The only problem is that Azure Functions is fixed at a particular Storage SDK version, so I'm not sure if we'll be able

[2018-05-10 17:16] cgillum commented on #302
Can you provide an example of the JSON that is failing to deserialize (it should be in the history table in Azure Storage) and the exception you are seeing?

[2018-05-10 17:18] cgillum commented on #13
And it's done! See here for details: https://github.com/Azure/azure-functions-durable-js

[2018-05-10 17:18] #13 closed

[2018-05-10 17:32] cgillum commented on #304
Not currently. We're working on a more complete map/reduce-like sample that can be shared broadly. I'll re-purpose this issue to track it.

FYI @tohling

[2018-05-10 18:32] cgillum commented on #303
That's a wiki page, so I think it might need to be updated by someone on the product team. But there is a note at the top saying it's no longer being updated.

The most up-to-date information can be found here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json, and it has the event publishing settings.

[2018-05-10 18:32] #303 closed

[2018-05-11 06:05] TsuyoshiUshio commented on #303
Thanks. I'll send pull request to that page.

[2018-05-11 08:56] Kimmen commented on #302
I can also add I rerun this locally on my machine targeting a storage account in Azure. AzureFunctionsTools have version _1.0.12.1_. Here are the nuget-packages I'm using:
`<PackageReference Include="Microsoft.ApplicationInsights" Version="2.5.1" />
<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="1.4.0" />
<PackageReference Include="Microsoft.Azure.WebJobs.Exten

[2018-05-11 17:26] cgillum commented on #302
Thanks, this is helpful. Lastly, can you share the code snippet you wrote that calls `GetInput<T>` to deserialize the input message?

[2018-05-11 18:35] Kimmen commented on #302
There's an small abstraction here. `this.context` is an interface that we call and the methods has the same signature as `DurableOrchestrationContext`:

[code]

Implementation look like this:
[code]

TryTraceStep(...) calls another activity (which we don't await) that stores some data into AppInsights. Those calls seems to work.

I can also give you our implementation of our Message<T> if it is of

[2018-05-14 05:59] Kimmen commented on #302
Oh man! This is something that I should've found myself.
Great work, appreciate it.

[2018-05-14 07:35] Kimmen commented on #300
Seemed like upgrading to 1.4.0 fixed it.

Thanks!

[2018-05-14 19:09] peteroden opened #308 "Implement event sourcing snapshotting"
With long execution chains, the replay can take a long time. You can use the ContinueAsNew method to truncate the history at a point in time, but it would be great to implement the ability to snapshot automatically so you don't have to replay the entire history. This could be a configurable setting such that you could specify some threshold, e.g. number of events, before it gets shortened by snaps

[2018-05-14 19:26] cgillum commented on #308
Agreed this could be useful. The trick is knowing how to rebuild state from a snapshot midway through a function's execution. I'm not sure how solvable that is.

In the meantime, enabling extended sessions is another way to minimize replay time for longer sequences: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-perf-and-scale#orchestrator-function-replay.

[2018-05-15 02:26] vsadams commented on #232
I see another version of the durable tasks was released, I am going to try that one for a few days and see what happens

[2018-05-15 07:50] andreujuanc commented on #232
I haven't had the chance to test it with the new version. But I'm planning to do so for sure.

@vsadams let me know if it fixes your issue. Might have something in common.

Cheers

[2018-05-15 20:07] #300 closed

[2018-05-16 20:40] russgove opened #310 "Cant get the Twilio examples working"
Hi , I am trying to run the samples  from within visual studio 2017. All working up until the twilio example. I got a twilio ID and password and plugged them into the local.settings.json file but its not working.  In the console it says  'sending verification code to ......' but I never get the code.

I debugged though and saw that the accountSid on the smsMessage object is null. This makes me thi

[2018-05-16 21:01] tohling commented on #310
@kashimiz , could you kindly take a look? Thanks!

[2018-05-16 21:46] kashimiz commented on #310
Hi Russell,

Those settings should be set in your local.settings.json file if you're running locally, and within the app settings of your function app in the portal. The sample should work even though the SMSMessage object shows null for its AccountSid/AuthTokenSetting/From fields when you debug (just tested this to confirm.) The runtime uses an IAsyncCollector under the covers, adding in the app

[2018-05-17 05:33] k-miyake opened #312 "Orchestrator stops using Azurite emulator on Mac"
When use the [Azurite](https://github.com/arafato/azurite) storage emulator on Mac, the orchestrator stops in the start state.
It does not occur using real Azure storage. I guess it is a specific problem with using Azurite.
runtime log is as follows.

[code]

my execution environment is as follows.

* MacOS: 10.13.4
* node.js: 8.11.1
* Azure Functions Core Tools: 220.0.0-beta.0
* azure-functions-d

[2018-05-17 05:46] cgillum opened #313 "Some exceptions do not deserialize correctly"
### Repro steps

[code]
Exception observed in user code:
[code]

Exception from Durable Task Framework:
[code]

This problem is discussed in this StackOverflow post: https://stackoverflow.com/questions/23771228/unable-to-cast-object-of-type-newtonsoft-json-linq-jobject-to-type-system-run

This is a bug in the exception serialization behavior of the durable task framework.

[2018-05-17 05:53] TsuyoshiUshio opened #314 "Activity Failures should return activity's exception, not a TaskFailedException"
I tried a feature of Custom RetryOption. However, I found an issue.

1.  Exception Type is NOT FunctionFailedException

I write code like following.

[code]

I expect the lambda's parameter for the RetryOption.Handle should be FunctionFailedException. However it is TaskFailedException. I use Durable Functions v1.4.1

[code]

To Reproduce, you can use this code.

[code]

[2018-05-17 16:50] russgove commented on #310
Hi,
I am getting the following:
[5/17/2018 4:45:18 PM] Function started (Id=5cdc268b-ce9e-49c4-9b07-1dd04e322966)
[5/17/2018 4:45:18 PM] Executing 'E4_SmsPhoneVerification' (Reason='', Id=5cdc268b-ce9e-49c4-9b07-1dd04e322966)
[5/17/2018 4:45:24 PM] Function completed (Success, Id=5cdc268b-ce9e-49c4-9b07-1dd04e322966, Duration=5164ms)
[5/17/2018 4:45:24 PM] Executed 'E4_SmsPhoneVerification' (Succe

[2018-05-17 16:52] russgove commented on #310
It would be great to set up an example using this to do approvals on a sharepoint file,  send an actionable email to the approver with embedded links to approve or reject the file.

[2018-05-17 17:52] kashimiz commented on #310
That does look like a Twilio error. Twilio requires you to purchase a phone number in order to use their SMS services, but trial accounts should get a free number to test with. You might also have to verify the number you want to send messages to.

That's a great idea for an example. Thanks for the suggestion!

[2018-05-17 17:52] #310 closed

[2018-05-18 14:23] TsuyoshiUshio opened #316 "APIs to enumerate all orchestrations"
Hi @cgillum ,

As we talked, customer needs on the fly orchestrator status as simple as possible.

We can develop it now since we've got DurableFunctionsHubInstances, we can implement it as a method of  Orchestrator client or REST API.  I'd like to contribute this feature since my customer wants it.

[2018-05-18 15:29] k-miyake commented on #316
If we can get whether running status exists, Durable Functions's DevOps control will be simplified. For example, a situation of decide whether to start swap slots.

[2018-05-19 21:31] cgillum opened #317 "Orchestrator function sometimes hangs when using Task.ContinueWith"
This issue was discovered and diagnosed in this StackOverflow post: https://stackoverflow.com/q/50392874/2069

### Issue
The issue is that `Task.ContinueWith` is sometimes executed asynchronously, breaking the "no-async" rule of orchestrator functions. Internally, this results in the following exception:

However, nobody actually observes this exception because it happens on the background thread,

[2018-05-19 22:13] cgillum commented on #316
Excellent, I would love to receive help with this. The work will need to be done in multiple parts, one part in the Durable Task Framework and one part in the Durable Functions extension. Here is my design suggestion:

### DurableTask.AzureStorage changes:
Lets update [ITrackingStore](https://github.com/Azure/durabletask/blob/9b9aa525ab87616ae97c2f0d43458241fb1ca318/src/DurableTask.AzureStorage/Tr

[2018-05-19 23:14] TsuyoshiUshio commented on #316
Hi @cgillum
Thank you for your suggestion! I'll start to open a pull request and implement that. :)

[2018-05-19 23:19] TsuyoshiUshio commented on #316
Hi @cgillum
One question. At the DurableTask repo, which branch should I folk from? There is no dev branch and I can see a lot of branches.

[2018-05-19 23:36] cgillum commented on #316
Ah, that's a very good question. The Durable Task Framework repo is not as well organized. I have just now created a branch named [**azure-storage**](https://github.com/Azure/durabletask/tree/azure-storage). Please create your fork from there.

[2018-05-19 23:44] TsuyoshiUshio commented on #316
@cgillum  Thanks! :)

[2018-05-20 03:10] gled4er commented on #316
Hello,

I will be happy to help with this feature.

Tsuyoshi let me know which part I can take.

Thank you!

Kanio

Sent from my Windows 10 phone

________________________________
From: Tsuyoshi Ushio <notifications@github.com>
Sent: Sunday, May 20, 2018 8:44:56 AM
To: Azure/azure-functions-durable-extension
Cc: Kanio Dimitrov; Mention
Subject: Re: [Azure/azure-functions-durable-extension] On the

[2018-05-21 00:31] gled4er commented on #316
Thank you, Kanio.

Since I'm new to Durable Task, I'm not sure how to divide the parts or simple go with mob with sharing commit.  Let's discuss it in this afternoon in person.

Tsuyoshi

From: Kanio Dimitrov
Sent: Sunday, May 20, 2018 12:10 PM
To: Azure/azure-functions-durable-extension <reply@reply.github.com>; Azure/azure-functions-durable-extension <azure-functions-durable-extension@noreply.gi

[2018-05-21 00:33] gled4er commented on #316
Great!

Thank you!

Sent from my Windows 10 phone

________________________________
From: Tsuyoshi Ushio
Sent: Monday, May 21, 2018 9:31:51 AM
To: Kanio Dimitrov; Azure/azure-functions-durable-extension; Azure/azure-functions-durable-extension
Cc: Mention
Subject: RE: [Azure/azure-functions-durable-extension] On the fly Orchestrator status (#316)

Thank you, Kanio.

Since I’m new to Durable Task,

[2018-05-23 10:54] YodasMyDad opened #318 "Support for HttpRequest/IActionResult in HTTP-specific APIs"
The latest Azure functions code has moved away from using `Task<HttpResponseMessage>` and `HttpRequestMessage req` and has moved to this format

[code]

Returning an IActionResult and HttpRequest instead of HttpRequestMessage

[2018-05-24 06:47] gled4er commented on #155
Hello @cgillum,

I think this feature will be useful in cases we need to pass send event, status or terminate url-s from the orchestrator external systems.

If you remember we had similar scenario when we needed to pass the send custom event url to a logic app that did few steps and then post back to the orchestrator. The issue in this case was that we couldn't retrieve the key from the orchestrat

[2018-05-24 07:43] gled4er commented on #170
Hello @cgillum,

Shall this change apply to the logs we send to Application Insights as well?

Thank you!

[2018-05-24 07:58] cgillum commented on #155
Great! Here is my thinking for this: Let's update [HttpApiHandler.GetClientResponseLinks](https://github.com/Azure/azure-functions-durable-extension/blob/aa4180cf457c2bf7e5cbdc3e971164e539d906a8/src/WebJobs.Extensions.DurableTask/HttpApiHandler.cs#L335) to accept a null `HttpRequestMessage` value. If it is null, then we can instead use the value in the `notificationUri` variable. This `Uri` should

[2018-05-24 08:05] TsuyoshiUshio commented on #17
Hi @cgillum
According to the drawbacks, it is for the history table. However, we can do it for instance table to remove already finished instances for certain of the time period. e.g. we can set it on the `host.json` like 1 day or 7 days or something, then Durable asynchronously remove the older instance records. Or should I discuss it on a new issue?

I'd like to have some ideas for the four draw

[2018-05-24 08:14] cgillum commented on #170
That's a great question. I had not thought about it deeply yet, but it probably makes a lot of sense since that is potentially a huge amount of data going to Application Insights that will cost the customer money.

Here is my thinking for the implementation design of this work item:

* I don't think we can implement this for `TraceWriter` because I don't think it is extensible. `TraceWriter` is be

[2018-05-24 08:38] cgillum commented on #17
It's an interesting idea, here are some thoughts:

* If we remove data only from the **Instances** table, then we have an inconsistency between the two tables. That might make it harder to implement a full data retention feature later which cleans up both **History** and **Instances** tables if the data is inconsistent.
* I think your comment about (3) is very interesting. Maybe we can create an A

[2018-05-24 08:58] TsuyoshiUshio commented on #17
Then Let's implement (3) with your suggestion. I can't clearly understand how to add the feature for the DurableOrchestrationClient. Could you share that? If we add a small change to the DurableOrchestrationClient, all we need to do is just add Document and some sample for it. :)

[2018-05-24 09:06] gled4er commented on #170
Hello @cgillum,

I just saw your comment only after submitting the initial pull request.

Thank you very much for the insights!

I will improve my pull request based on your suggestions.

Thank you!

[2018-05-24 09:14] gled4er commented on #155
Hello @cgillum,

Thank you very much for the detailed instructions!

I will work on implementing the design you set.

Thank you very much!

[2018-05-24 19:07] SimonLuckenuik commented on #27
@cgillum, this seems to be out of date compared to official documentation found here: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-versioning ?

[2018-05-24 19:16] SimonLuckenuik opened #320 "Improve versioning documentation"
I just went through this document: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-versioning and the documentation is very light. All solutions sound like data is being lost/pending, except for Function naming

What is the proper strategy for versioning? That seems to be a complex topic and the documentation is very light with no complex example. The mitigation strategies

[2018-05-25 03:56] gled4er commented on #199
Hello @cgillum,

I want to help with this issue.

Do you have any additional requirements apart from what @kashimiz  already described?

Thank you!

[2018-05-25 03:58] gled4er commented on #61
Hello @cgillum,

I am interested in helping for the implementation of this feature.

Do you have high level guidance or design ideas I should follow?

Thank you!

[2018-05-26 01:57] vsadams commented on #232
@andreujuanc @cgillum  I have been running with version 1.4.1 for over a week now and have not had the issue occur again.  The overall performance seems to have improved also.

[2018-05-26 21:04] andreujuanc commented on #232
Ohh!! good to know, i haven't had the chance to upgrade the project and test it out. But If I find 10 min, i will certainly do so!!

[2018-05-28 00:33] cgillum commented on #232
Yes, please try the latest version of the extension. I'm going to close this issue for now. If you encounter the problem again, please open a new GitHub issue with a timestamp, instance ID, and region, and we can investigate further. Thanks!

[2018-05-28 00:33] #232 closed

[2018-05-28 00:41] cgillum commented on #320
Is it safe to summarize this ask as a detailed "step-by-step guide for side-by-side deployments"?  @TsuyoshiUshio this might be a good topic for you.

[2018-05-28 09:46] marcduiker commented on #320
I have a great interest in this topic as well since I want to explain this to clients. @TsuyoshiUshio please let me know if I can help with writing or coding concepts. Your blog is already a good starting point I think.

[2018-05-28 12:08] SimonLuckenuik commented on #67
Just thinking out loud, maybe adding some behavior to ContinueAsNew to fetch remaining events (based on previous internal instance ID), just after starting the new orchestrator, making sure no events are lost?

[2018-05-28 17:37] SimonLuckenuik commented on #320
@cgillum, sounds like what I am looking after! I am also looking after "Dos and Don'ts/Best Practices/Common Pitfalls" to minimize impact of those versions or completely prevent breaking changes. Example: for the activities inputs and outputs if we manage them with complex entities instead of value types, it is easier to prevent breaking changes of signature changes.

[2018-05-28 20:11] andreujuanc commented on #232
Will do, thanks! Sorry i left it open. I barely have time lately.

[2018-05-29 20:22] mikhailshilkov opened #322 "F# friendly / idiomatic API suggestions"
I have several random thoughts about how F# code for Durable Functions could be improved. They are all simple things, no need to re-imagine the whole framework.

**The goals of this issue are**
a) Start discussion and gather ideas from F# folks
b) See if that generally fits into Durable Functions vision
c) Ideally, design a way to go forward (define F# extension library?)

If that works out, I wou

[2018-05-30 23:00] cgillum commented on #320
Good point on best practices (or "tips and tricks" as I sometimes like to think of them). I agree that we need all of this.

[2018-05-30 23:05] cgillum commented on #320
Related documentation issue: https://github.com/Azure/azure-functions-durable-extension/issues/184

[2018-05-30 23:14] cgillum commented on #322
Thanks for adding these suggestions. I like the idea of making Durable Functions more friendly to F#.

You mentioned this briefly, but especially where we look at things like `Option<T>`, do you think it would make sense to have a separate F# extension library, like **Microsoft.Azure.WebJobs.Extensions.DurableTask.FSharp** which brings in those new APIs? I feel like this would be a nice clean way

[2018-05-30 23:16] mikhailshilkov commented on #322
Yes, that was my thought process too

[2018-05-31 17:42] cgillum commented on #209
For anyone who arrives here from search engine results, Durable Functions was announced as "GA" at Build 2018. Details can be found here:

* **Blog post**: https://azure.microsoft.com/en-us/blog/break-through-the-serverless-barriers-with-azure-functions/
* **Release notes**: https://github.com/Azure/azure-functions-durable-extension/releases/tag/v1.4.0

[2018-05-31 18:32] scholtes commented on #227
`Method not found: 'Microsoft.Azure.WebJobs.Host.TraceWriter Microsoft.Azure.WebJobs.Host.Config.ExtensionConfigContext.get_Trace()`

I think there might be a deeper issue not related to this durable functions extension (i.e., per #210).  We have this same problem trying to test v2.x Azure functions locally (without durable functions extension) with the 2.0.1-beta.26 runtime.

[2018-05-31 23:36] yuka1984 opened #324 "Stopping at Running status"
When SubOrchestrator was called in Orchestrator, a phenomenon occurred in which Parent Orchestrator was not executed and stopped in the state of Running status even if SubOrchestrator terminated.
This symptom is a phenomenon as low as it occurs randomly when 2000 Orchestrators are executed in parallel at present.
I have not reproduced this phenomenon only three times.
The environment of my Durable

[2018-05-31 23:43] cgillum commented on #324
Thanks for opening this issue - I'm sorry that you're running into problems. Let me try to repeat your explanation just to make sure I understand correctly:

1. Parent orchestrator starts a SubOrchestrator
2. SubOrchestrator completes (or is terminated?)
3. Parent orchestrator never resumes - it stays in the Running state.

Is this correct?

Can you share the following information so I can investi

[2018-06-01 00:35] yuka1984 commented on #324
Thank you for the quick response. Chris.

Yes, it is correct.

It seems that SubOrchestrator has not ended normally.
The information written in the Instance Table also differs from SubOrchestrator that completed successfully.

Instance Id
9b56a35cacd444df88914044c2d7c603

Region
East Japan

Time
2018-05-31T15:28:10.833Z

[2018-06-01 01:15] cgillum commented on #324
Thank you. I have found trace data for your orchestration.

I can see that you have a parent orchestration **LockManagementOrderAllocate** and it tries to call a sub-orchestration named **OrderAllocate**. Is that correct?

We have "end-to-end" traces which show us what the orchestrator function is doing. I am seeing some strange things in these traces. I'm wondering whether there may be problems w

[2018-06-01 01:57] Ryanman commented on #227
@scholtes That's exactly it I think - the underlying runtime changed the location of the TraceWriter. Any other extensions you use - including perhaps the local SDK or configurations (for instance) will have that problem. Update the NPM package to beta 28 and you may be good.

[2018-06-01 17:10] thdotnet opened #325 "showHistoryOutput broken after vs extension update"
Hi,

I just noticed that showHistoryOutput is not working after VS Extension Update (Azure Functions and Web Jobs Tools version 15.0.40502.0

![image](https://user-images.githubusercontent.com/1413082/40853728-800b76ea-65a5-11e8-841b-f07b3d51dd86.png)

[2018-06-01 17:17] thdotnet commented on #325
my mistake...forgot to include showHistory=true&

[2018-06-01 17:17] #325 closed

[2018-06-01 17:17] cgillum commented on #324
I spent more time looking into this. It seems the **OrderAllocate** orchestration is getting into a stuck state and never completing. I have not yet determined why.

However, I also noticed something else odd. It appears that there are two different versions of the **DurableTask.AzureStorage** nuget package processing messages on the task hub named **BatchStockSync578** using the same storage acco

[2018-06-01 17:52] cgillum opened #326 "Internal tracing improvements needed"
After investigating some issues in production, we found a few issues with the DurableTask.AzureStorage tracing (which is captured internally by Azure).

- [x] **The version of the DurableTask.AzureStorage nuget package is not traced**: There was a recent issue where two function apps with two versions of this dependency were running, and this was not detected until looking at the details of the tr

[2018-06-02 01:03] yuka1984 commented on #324
Thank you Chris.

I feel it is a very mysterious log.
Because the number "578" in TaskhubName is the build number of VSTS.
I have created a VSTS pipeline to rewrite host.json 's TaskHunName before build.
There should be only one deployment version called TaskHubName "BatchStockSync 578".
However, logs are actually listed.
I will examine whether there was no operation that could result in such a ph

[2018-06-02 23:37] gled4er commented on #318
Hello @cgillum,

I am interested in helping with this issue.

Do you have any recommendation or design guidelines apart from the description above?

Thank you!

[2018-06-04 18:28] cgillum commented on #324
Hi Yuka. Did you have a chance to investigate your VSTS pipeline?

I recently spoke to another customer who observed a similar deployment problem. Basically, they deployed a new version of the Durable Functions extension, but the update did not have any effect until they restarted the function app. I'm wondering if there is a bug in Azure Functions deployment which can cause this.

[2018-06-05 11:09] yuka1984 commented on #324
Hello, Chris.
I think that there is no problem with the VSTS pipeline.
I try to set up to restart Function App at the end of the VSTS pipeline.

There was a phenomenon that Orchestrator remained in Running state when I was testing today.
All of this Orchestrator SubOrchestrator has been completed, but this Orchestrator does not change to Completed.

InstanceID : e44eb936554842588043f92b20bb171e
Re

[2018-06-05 16:19] cgillum commented on #324
Thank you for confirming. I will investigate.

[2018-06-05 19:36] cgillum commented on #324
Here are some notes I've taken for this investigation so far regarding **e44eb936554842588043f92b20bb171e**:

* Parent orchestration scheduled **1578** sub-orchestrations, which were distributed across 4 partitions
* The instance IDs of all sub-orchestrations are prefixed with **ea5413024cd7467286c66fd75d7ed843:**
* Of the 1578 sub-orchestrations, only **1546** were actually executed (the remainin

[2018-06-05 21:23] kashimiz opened #329 "Add Monitor and Human Interaction pattern samples in JavaScript."
The Monitor and Human Interaction samples need to be translated to JavaScript:

- [x] Add samples to Azure/azure-functions-durable-extension
- [x] Merge Azure/azure-functions-durable-extension dev to master
- [x] Add samples to Azure/azure-functions-durable-js
- [x] Update sample documentation in Azure/azure-docs

[2018-06-06 02:28] yuka1984 commented on #324
Hi Chris.
I tried restarting but there was no change in the state.
The History of the new SubOrchestrator was not recorded either.

[2018-06-06 02:52] yuka1984 opened #331 "I want to set "EventGridTopicEndpoint" in application settings"
In PreCompile functions, I think that it is common for host.json to set before the build and publish with msbuild.
However, with this method, when using different EventGridTopic for staging and production, it is necessary to build a separate build for each environment.

If the value set in "EventGridTopicEndpoint" is found in AppSettingsKey, use Value of AppSettings, and if not found, use the valu

[2018-06-06 04:36] #170 closed

[2018-06-06 05:16] yuka-abn commented on #331
I would like to create PR if this change is accepted.

[2018-06-06 05:43] cgillum commented on #331
Did you want to create the PR or did you want us to create the PR? You mentioned previously that you would like us to make the change. But if you would like to create the PR, I would be happy to review and merge it.

To support this, we should update **LifeCycleNotificationHelper** to use the `NameResolver`. You already implemented this for `EventGridKeySettingName` [here](https://github.com/Azure

[2018-06-07 00:14] cgillum commented on #324
Thank you for confirming. I am still actively investigating this.

One thing I noticed is that there was a failure in the Durable Task Framework to schedule some of your sub-orchestrators. It was a TimeoutException when attempting to add messages to the Azure Storage queue. The framework is supposed to handle this correctly, but I wonder if maybe there is a bug where we do not correctly retry.  I

[2018-06-07 03:04] cgillum commented on #324
@yuka1984, do you know how many sub-orchestrations were supposed to have been scheduled? I mentioned 1578, but I wonder if that number is actually too high. What is the expected number?

[2018-06-07 03:43] yuka1984 commented on #324
Thank you Chris.
In the current design, it starts from around 1600 and is going to gradually increase.
If there is a possibility that the second problem (SubOrchestrator will not be executed) can be solved by restricting the number of concurrences, I will modify Orchestrator.

[2018-06-07 04:51] cgillum commented on #324
For orchestration instance **e44eb936554842588043f92b20bb171e**, do you know the **exact** number of *expected* sub-orchestrators?  Is 1600 the exact number of is it just an estimate?

[2018-06-07 05:19] yuka1984 commented on #324
The scheduled number of SubOrchestrator runs is 1578.

[2018-06-07 17:40] cgillum commented on #324
Thanks:

I think 1600 is okay.

Do you still see this problem if you set `partitionCount` to `1` in host.json? Here is some [documentation](https://docs.microsoft.com/azure/azure-functions/durable-functions-perf-and-scale#orchestrator-scale-out).

[2018-06-07 18:45] cgillum opened #332 "Review implications of partially committed history update"
### Scenario
Suppose the following occurs:
1. Single orchestration instance executes 100+ durable operations in parallel (100 is the table storage entity group transaction limit) - e.g. 100 parallel activity function executions.
2. First table storage batch update succeeds but the second batch update fails due to a transient issue (storage issue, VM crash, etc.).

### Expected
The expectation is t

[2018-06-07 22:59] cgillum commented on #296
@kashimiz is this issue fixed with your recent binding PR?

[2018-06-07 23:45] kashimiz commented on #296
Fixed in that we can do out-of-proc starter functions per output bindings as instructed in our docs, but this part hasn't been implemented or designed:

[2018-06-08 02:32] pluralmonad opened #334 "Phantom failures showing in log after orchestration completes successfully"
I am using durable orchestration function(s) to send batches of HTTP requests to a 3rd party API.

The job has been experiencing intermittent failures coming back as `System.Net.Http.HttpRequestException`.

The job is scheduled using a timer trigger which sends a queue message to a function with `OrchestrationClient`. That function checks for a running instance and starts a new instance if one doe

[2018-06-08 04:29] TsuyoshiUshio commented on #320
Hi @marcduiker @SimonLuckenuik ,

I've done two hackfest relelated two topics. I'd happy to contribute writing Durable Functions DevOps documentation.

Currently I wrote one blog.  This solution is suitable for customer has long running process scenario.
Using Event Grid notifications.

https://medium.com/@tsuyoshiushio/safe-blue-green-deployment-with-durable-functions-905a1cda0450

Also, I've don

[2018-06-08 09:32] yuka1984 commented on #324
I tried "partitionCount to 1".
As a result, "Non-Deterministic workflow detected: SubOrchestrationInstanceCreatedEvent: 1090 SubOrchestrationInstanceCreated LockManagementOrderAllocate a15c5c6018c24d04ac78b762d154a75f: 1090"
We detected an error saying Orchestrator was Failed.

InstanceId: "eb4e53b94f9f4bdda30b4d56140244ce"
Region: Japan East
Time: 2018-06-08T08: 19: 21.111Z

[2018-06-08 17:38] cgillum commented on #334
Thanks for opening the issue. Just to clarify, you have a parent orchestrator which calls a sub-orchestrator, and both are succeeding, correct? In spite of this, you're seeing repeated failures in your logs for the sub-orchestrator?

A few other questions (apologies if I missed any of these details from your original post):

* Can you share an instance ID, a region, and an approximate time range w

[2018-06-08 19:07] pluralmonad commented on #334
Yes and yes. With the addition that the parent orchestrator and its subs report success while those errors continue to be logged.

Instance ID from the log: 2018-06-08T19:02:38.957 [Info] Function completed (Success, Id=fdf4da1f-9a3d-4729-a7a2-5cdbad985d34, Duration=534ms)

Region: Central US

The errors apparently never stop as all automated triggers are disabled and it is logging the error as we

[2018-06-08 19:57] pluralmonad commented on #334
Just realized that might be the execution ID in that log statement. Here is an instance ID that was just used to start a new instance: 7aade37c-98da-4e5d-b3dd-ce943c360858

[2018-06-09 16:47] cgillum commented on #331
The PR has been merged. We will include this in the next release (v1.5.0), which will come in the next week or two.

[2018-06-09 16:47] #331 closed

[2018-06-11 04:35] cgillum commented on #301
Actually, we already have our intern Catherine working on this one. It reminds me that we need to make her a contributor to this repo so we can properly assign this issue...

[2018-06-11 04:44] gled4er commented on #301
Hello @cgillum,

Great!

Thank you for the update!

[2018-06-11 04:45] gled4er commented on #14
Hello @cgillum,

Did you have time to check if we will be able to use the latest Azure Storage Nuget package or we will need to come up with custom logic to support this feature?

Thank you!

[2018-06-11 05:11] cgillum commented on #14
Yes, I confirmed that Azure Functions v2 will be upgraded to a much more recent version of the Azure Storage SDK before it goes GA, so we will be able to take advantage of this feature once that happens.

[2018-06-11 05:14] gled4er commented on #14
Great!

[2018-06-11 09:48] mikhailshilkov commented on #322
I got a chance to play with my ideas, so I have a little prototype working.

Activity is a combination of name and function (name is then used in orchestrator to call it):

    let sayHello = Activity.define "E1_SayHello" (sprintf "Hello %s!")

Every good F# API has to use ~~monads~~ computation expressions, so I created `orchestrator` CE:

    let helloSequence = orchestrator {
        let! hello

[2018-06-11 14:56] piklu-sutradhar opened #337 "Can not run from Portal"
After creating a durable function I can not run it from the portal. However, I ran it several times before. Not sure why.

[2018-06-11 15:18] SimonLuckenuik commented on #320
Thank you for the input @TsuyoshiUshio.

Do I understand that the proposed "safe" solution is to make sure that no Activity running in the system before deploying again? This is a bit hard to enforce, let's say that I have an Orchestrator with a timer, at any time that timer could trigger while deploying and break everything? For a high volume scenario, it might be very difficult to make that work

[2018-06-11 16:49] cgillum commented on #337
Can you provide more details? For example, what error do you see?

[2018-06-11 17:14] cgillum commented on #334
Interesting. Thanks for providing these details. I'm investigating a similar issue involving sub-orchestrations and I wonder if these two issues are related. Did you happen to save the contents of the problematic queue message? I'd be interested to know what the event type was.

[2018-06-11 18:04] piklu-sutradhar commented on #337
Hi Chris,

Thank you for your email. Well, I have created three functions from the portal. Now, when I wanted to run the starter function I clicked on the run button but it does not work. So I looked at the side panel where there are options (view file and test), but there is no option to add my Orchestrator function name. However, when I created another durable function app earlier to test it was

[2018-06-11 18:26] cgillum commented on #324
Very interesting. Thank you for this information.

Sorry that this investigation is going so slowly. Can you share with me an orchestration instance ID that completed successfully? I would like to compare the success case with the failed case.

[2018-06-11 19:53] cgillum opened #338 "Internal poison message handling"
Poison queue messages should be impossible if **DurableTask.AzureStorage** is implemented correctly, but there is no way to 100% guarantee this. The Azure Storage orchestration service should therefore have some kind of poison message handling to avoid generating unlimited amounts of log churn, storage I/O, and potentially billing charges.

Related issue: https://github.com/Azure/azure-functions-d

[2018-06-11 19:55] cgillum commented on #334
I looked at instance **7aade37c-98da-4e5d-b3dd-ce943c360858** and that one appears to have completed successfully.

I went back and searched for messages with 1000+ dequeue counts and I found two. In both cases I detected the following error which is causing the issue:

[code]

The relevant part is this:

This tells me that something in the DurableTask.AzureStorage package is failing to append row

[2018-06-11 21:22] cgillum opened #339 "History update needs to consider 4 MB limit"
The `AzureStorageOrchestrationService` code which lives in **DurableTask.AzureStorage** leverages Azure Table Storage Entity Transactions to efficiently and transactionally write history events to table storage. There are a few limitations to entity transactions as described in this documentation: https://docs.microsoft.com/en-us/rest/api/storageservices/performing-entity-group-transactions

The r

[2018-06-11 21:38] cgillum opened #340 "Memory leak in looping sub-orchestration fan-out/fan-in"
I created a function app which fans out to 1,000 sub-orchestrations (which each do a simple hello world sequence) and had it run locally for several hours using `ContinueAsNew`. After a few hours, I observed several `OutOfMemoryException` errors, and noticed that the process working set of func.exe was growing continuously throughout the run.

Will add more details to this issue as the investigati

[2018-06-12 19:44] pluralmonad commented on #334
Depending on how long those poison messages were hanging around, it very well could have been an oversized message issue. It was initially implemented with activities returning data and passing to the next step (likely over 4MB at certain steps), which was refactored after it appeared the job host was writing the data to storage between every step.

[2018-06-12 19:53] pluralmonad opened #342 "Orchestration instance started stuck in pending status"
I have a timer that fires ever 6 hours. It triggers a orchestration starter function that checks for an existing instance and starts/terminates/restarts the orchestration.

Recently the trigger log output for each trigger event has indicated an existing instance was found in pending status and with a last update time equal to its start time (6 hours previously from the last trigger event).

Here i

[2018-06-12 20:05] pluralmonad commented on #342
After looking over the execution history a little more, it appears that the last time the orchestration was successfully started, one of its sub orchestrations never returned. Or rather the parent never picked up again after the sub completed.

The parent orchestration was with instance ID 29a352c4-aec5-4154-add8-fc6ba4b977db.

It calls two subs. The execution history and output indicates the firs

[2018-06-12 20:14] cgillum commented on #342
Thanks. Two questions:
1. What is a "feral" orchestration that you referenced previously?
2. What's the relationship between the pending instance you mentioned originally and the instance that had a non-ocompleting sub-orchestration?  Are these related or are we describing two separate issues?

[2018-06-12 20:18] cgillum commented on #337
Hi @piklu-sutradhar it looks like you responded with email, but GitHub doesn't seem to support email attachments. Is there any other way you can share the screenshot?

[2018-06-12 20:18] pluralmonad commented on #342
I meant a misbehaving durable task function, mentioned [here](https://github.com/Azure/azure-functions-durable-extension/issues/334).

The instances are not directly related. They are referencing the same orchestration and the one with the non-completing sub was the last time the job was triggered and did not sit in pending status indefinitely.

[2018-06-12 20:34] pluralmonad commented on #342
After restarting the app service, the orchestration most recently started began executing and ran to completion.

[2018-06-12 20:39] cgillum commented on #342
Clearing control queues is generally fine. It will cause all pending instances to stop processing, but shouldn't otherwise put anything into a bad state.

Glad to know you were able to restart the function app to mitigate the stuck instance. I would still like to investigate that cause - it seems something must have gotten stuck in memory. Is this the same `29a352c4-aec5-4154-add8-fc6ba4b977db` in

[2018-06-12 21:31] kashimiz opened #343 "Storage mismatch in v2 fan-out/fan-in csx sample"
When attempting to run the C# script fan-out/fan-in sample (v1.4.1), the v2 Functions runtime (v2.0.11776.0) throws the following binding error at runtime:

**System.InvalidOperationException: Can't bind Blob to type 'Microsoft.WindowsAzure.Storage.Blob.CloudBlobStream'.**

Stack Trace:
``
[6/12/2018 9:25:40 PM] bf3323e0740d44c5812c005e3503ff87: Function 'E2_BackupSiteContent (Orchestrator)' faile

[2018-06-12 22:03] pluralmonad commented on #342
Yes, that was the ID of the instance that hung during execution. All steps that ran completed successfully, but somewhere in between it got hung and did not run all the steps. It was in a running status when the next timer trigger fired and was terminated at that time. From then on is when the indefinite pending began.

[2018-06-12 22:39] cgillum commented on #339
I think the fix should be relatively straight-forward. All changes can likely be made in **AzureTableTrackingStore.UpdateStateAsync**.  While looping through the new history events, in addition to keeping track of the number of events in the batch, we should also try to estimate the number of bytes in the batch.

Currently we have logic like this:

[code]
I propose we update it to look like this (

[2018-06-13 00:57] gled4er commented on #339
Hello @cgillum,

Thank you very much for the detailed guidance!

[2018-06-13 06:21] OTedikov commented on #337
Hello, I am currently experiencing the same issue with Durable Azure Functions. Yesterday they stopped working, DurableFunctionsHubInstances Table records states that Runtime Status for Activity is always Pending, durablefunctionshubcontrol Queues messages can not be properly read, Dequeue Count always increases.
Locally Durable Azure Functions works well.

[2018-06-13 13:00] nagoh commented on #342
I've hit this issue too. The only thing I can add as far as what I've seen is the runtime version.
I tested this out on West US 2 (2.0.11857.0 (beta)), after seeing this thread: https://github.com/Azure/azure-functions-host/issues/2856

Then, moved the to Australia East yesterday (12 Jun) and it was working fine - can recall the runtime version, but it was != 2.0.11857.0 (beta)

Now, its failing o

[2018-06-13 13:23] cgillum commented on #342
Ah, I feel dumb for not asking this right away but are both of you running Functions v2? All of my testing trying to (unsuccessfully) reproduce this were using v1.

[2018-06-13 17:21] jeffhollan commented on #266
Created fork of docs and working on this now

[2018-06-13 17:52] jeffhollan commented on #266
@cgillum a few questions while I do this.

* What is the cross function app communication story? As far as I knew the only way to do this would be an indirect method (HTTP, Queue).  Is there something in the extension that makes this possible?

* For multiple values / return types, are you saying it would be supported to do something like:
[code]
   As long as my activity function returned a Value

[2018-06-13 18:34] cgillum commented on #266
For cross function app communication, I suggest taking a look through this thread, which has some good information and example code: https://github.com/Azure/azure-functions-durable-extension/issues/156

Regarding multiple values, yes, ValueTuple would need to be used on both ends. Kanio wrote a blurb on this as part of our GA push: https://docs.microsoft.com/en-us/azure/azure-functions/durable-fu

[2018-06-13 18:39] jeffhollan commented on #266
One other question I have had - if I have an activity function that doesn't really need an input, I assume I still need to give a type?  I usually just so something like `[ActivityTrigger] string data` and pass in `null` from the orchestrator.  But looking at doc linked above wonder if best practice would be passing in `DurableActivityContext` and just not retrieving inputs.

Clarifying as figure

[2018-06-13 19:00] cgillum commented on #266
I think using `DurableActivityContext` should be considered best practice for the "no inputs" case, though it shouldn't really make any difference. Unfortunately Azure Functions doesn't really support "no-parameter" functions as a first-class thing. :)

[2018-06-13 20:04] nagoh commented on #342
For me, yes.

On Wed, 13 Jun. 2018, 11:23 pm Chris Gillum, <notifications@github.com>
wrote:

--
Sam McGoldrick
+61 420 674 800

[2018-06-14 06:53] nagoh commented on #337
@OTedikov yours sounds like a duplicate of https://github.com/Azure/azure-functions-durable-extension/issues/342

[2018-06-14 13:02] vludax commented on #342
I suspect I have run into this problem too. I've deleted the entire resource group with the function app and the associated storage account and redeployed. No luck.

The logs reveal that a new instance of the orchestrator function gets scheduled, but it is never picked up from the control queue.

<details><summary>.csproj</summary>
<p>

[code]

</p>
</details>

[2018-06-14 13:07] OTedikov commented on #342
@vludax  Exactly the same issue

[2018-06-14 13:17] cgillum commented on #342
Thanks for confirming. This may have been caused by the recent update of the Azure Functions v2 runtime into Azure mentioned [here](https://github.com/Azure/app-service-announcements/issues/112).

Can you please try setting the `FUNCTIONS_EXTENSION_VERSION` app setting to `2.0.11776-alpha` to see if that mitigates the issue? This is a temporary way to rollback the runtime update for your function

[2018-06-14 13:37] OTedikov commented on #342
@cgillum  Thank you, FUNCTIONS_EXTENSION_VERSION setting change seemed to help.

[2018-06-14 13:42] vludax commented on #342
Yep, worked for me too, cheers!

[2018-06-14 13:43] piklu-sutradhar commented on #337
![durablefunctiontesterror](https://user-images.githubusercontent.com/25695661/41415671-ba119b72-6fae-11e8-86ba-94e35c12fe2f.PNG)
Here is the picture of the side panel of the function. There is no run button and no option for manually inserting function name.

[2018-06-14 15:04] mikhailshilkov commented on #322
Orchestrator with optional input value and parallel activity calls:

[code]

[2018-06-14 16:14] cgillum commented on #337
I wonder if this could be a side effect of of the recent Azure Functions update (and therefore related to #342). @soninaren do you know who the right person to look at this is?

[2018-06-14 16:23] cgillum commented on #322
To answer your previous question:

I think this is worth pursuing. I feel pretty strongly that we should be very intentional in our support of languages beyond C#, and this is a great example of how we can move towards making F# a first-class citizen of the Durable Functions family (and in some ways leading the way in terms of innovation or ease of use). I also expect it will help motivate further

[2018-06-14 20:22] kashimiz commented on #342
Trying to reproduce this to get to the root cause. @nagoh , @OTedikov , @vludax , @pluralmonad , can you provide the following information about the environment you experienced this issue in?

- What version of the Durable Functions extension were you using?
- How were you developing your function app? (Were you creating it locally in Visual Studio or Visual Studio Code and deploying it to Azure,

[2018-06-14 21:05] jeffhollan commented on #266
Sent an email with review link

[2018-06-14 21:05] mmas0n commented on #342
Same issue here. Environment information shown below:
- Using [Microsoft.Azure.WebJobs.Extensions.DurableTask 1.4.1](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.DurableTask/1.4.1)
- Function developed in Visual Studio & deployed to Azure
- C#
- Region = East US

[2018-06-14 21:14] nagoh commented on #342
Using Microsoft.Azure.WebJobs.Extensions.DurableTask 1.4.1
Function developed in Visual Studio & deployed to Azure
C#
Region = Australia East

[2018-06-15 01:02] cgillum opened #344 "Worker shutdown can cause long activity function delays"
I noticed this when running some integration tests back-to-back using the same task hub:

### Repro Steps
1. Start a task hub worker A
2. Shut down task hub worker A
3. Start up task hub worker B
4. Execute an orchestration that calls activity functions

### Expected
Task hub worker B picks up the orchestration messages and executes them

### Actual
Task hub worker A picks up the orchestration mes

[2018-06-15 01:41] kashimiz commented on #342
Thanks for the information! I was able to reproduce this - the functions runtime host was recently updated to use Newtonsoft.Json 11.0.2, while one of the Durable Functions extension's dependencies was still on 10.0.3. There's a breaking change between the two versions that was causing an exception to be thrown whenever the Durable Task Framework tried to process a work item, which is why orchestr

[2018-06-15 13:03] jeffhollan commented on #342
@cgillum @kashimiz Just realized one of my apps was effected too - went fine once I dropped back to previous version. I wonder if there's another task here we could track which would enable a `CreateCheckStatusResponse` to wait until the orchestrator has picked up the job before returning?  I don't know if it's the right behavior but as I was exploring my app all the metrics seemed green (my HTTP

[2018-06-15 13:22] cgillum commented on #342
We actually used to wait for the orchestrator to start before returning from the `StartNewAsync` API, but that created a lot of confusion for people when they ran Durable under load. They would start getting timeout exceptions because their start messages weren't getting picked up right away, but the orchestration did eventually run fine.

Were you able to observe the problem if you checked your a

[2018-06-15 13:41] jeffhollan commented on #342
Yes unfortunately I see the request go into HTTP and execute succeeded, but nothing in "exceptions" table in last 24 hours. So I at least don't see anything in my AI.  Agree on the load piece. If interested to see if exceptions were thrown at a different layer the function app is named `coreysa-store-function`

[2018-06-15 19:11] SimonLuckenuik commented on #320
Other suggestions:

Maybe adding something about Deployment Slot usage would be interesting. What happen if the staging slot is in concurrency with the prod slot?

Anyway to disable durable function in the slot to prevent having old code being executed in concurrency with newer code in prod slot?

@cgillum assuming that this is out of preview, I guess that some customers are using that in Producti

[2018-06-15 20:05] cgillum commented on #320
@TsuyoshiUshio can speak to that better than I can since he is working directly with some of these customers in Japan, but right now the main approach being used is the Azure Event Grid integration to track orchestration lifecycle across multiple task hubs (which is described above). We've also spoken to customers that have less aggressive requirements, and for them we're creating a REST API that

[2018-06-15 21:55] cgillum commented on #339
This will go out with the next release.

[2018-06-15 21:55] #339 closed

[2018-06-15 22:00] cgillum commented on #334
I have made a fix for the 4 MB case (https://github.com/Azure/azure-functions-durable-extension/issues/339) and have also added a bunch of extra tracing to make it easier to diagnose these kinds of issues. Closing this for now. Next week we'll be releasing v1.5.0, which will contain these fixes. Please let us know if you still run into these problems when you upgrade to v1.5.0.

[2018-06-15 22:00] #334 closed

[2018-06-15 22:01] cgillum commented on #326
The first 3 issues will be included in the v1.5.0 release.

[2018-06-15 22:09] cgillum commented on #241
The code for this has been merged. However, we also need to update the documentation with the new public API surface area ([API docs](https://azure.github.io/azure-functions-durable-extension/api/Microsoft.Azure.WebJobs.Extensions.DurableTask.DurableTaskExtension.html) and the [Event publishing](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-event-publishing) topic).

[2018-06-15 22:46] cgillum opened #346 "Update installation documentation to point to latest nuget package release"
https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-install currently mentions **1.4.0** as the latest release. This needs to be updated to **1.5.0**, and should also mention to check nuget.org for the latest version.

[2018-06-17 07:51] yuka1984 commented on #324
At present, since the system using Durable Functions had adjustment for release, the response was delayed. I'm sorry.
I have made some modifications to Orchestrator in my previous issue communication.
In the release version, the method to control FanOut of SubOrchestrator at the same time to 100 by Orchestrator's program is operating stably.
But, this method is not efficient and I will continue co

[2018-06-18 18:00] pragnagopa opened #347 "NewtonSoft.Json 10.0.3 needed, but getting 11.0.0.* - Breaking Durables"
_From @GregLevenhagen on June 13, 2018 20:59_

Yesterday our Durables started producing 500s because of the following NewtonSoft.Json reference on the assembly version. We are not including nor using any NewtonSoft.Json within our own code.

#### Investigative information

- Timestamp: 2018-06-13T20:50:33.457
- Function App version (1.0 or 2.0-beta): 2.0.11857-alpha
- Invocation ID: 71dd8324-4e48-

[2018-06-18 18:00] pragnagopa commented on #347
_From @GregLevenhagen on June 13, 2018 21:9_

Workaround by setting the following line in the Application Settings
`FUNCTIONS_EXTENSION_VERSION ~2.0.11776`
will show

but works for now.

[2018-06-18 18:02] kashimiz commented on #347
Thanks for this wonderfully thorough issue, Pragna! 😄 this is a known issue with the newest functions host release and we're tracking it here: https://github.com/Azure/azure-functions-durable-extension/issues/342#issuecomment-397488234

Short version: I've got a PR out to update our references but it requires updating some dependencies first. We're working on getting these out.

[2018-06-18 18:05] pragnagopa commented on #347
@kashimiz  - @GregLevenhagen filed the original issue. I just moved it to right place :)

[2018-06-19 13:36] cgillum commented on #324
I'm glad you were able to improve reliability. Thank you for letting me know. I would still like to continue investigating your original issue. I have created some tracing improvements to Durable Functions v1.5.x release which will be available later this week. Please try using it when it is available so I can collect more information. I will let you know when it can be downloaded.

[2018-06-19 16:52] cgillum opened #348 "Orchestrator function 'XXX' does not exist error message during worker instance shutdown"
### Issue
If the functions host starts the shutdown process while durable functions are actively executing, there may be exceptions like the following:

[code]

This is expected to be more common when using the Azure Functions consumption plan because of how instances can be added and removed dynamically.

### Cause
This happens because the functions are unregistered as part of the shutdown sequen

[2018-06-19 19:44] cgillum commented on #316
PRs are merged and I've signed off on the documentation.

[2018-06-19 19:44] #316 closed

[2018-06-19 20:39] MaximRouiller opened #350 "Azure Durable Functions - Fan-Out - Requeueing ad infinitum?"
**Issue:** Online, it seems to either take forever to run. Locally, it is seen as requeueing Functions over and over again (RIP API call rate limiting).

The issue is with the `DownloadSamples_Orchestrator`. I have the feeling that the loop is re-executed and the tasks are requeued ad infinitum.

**Starting code:**

[code]

[2018-06-19 20:42] MaximRouiller commented on #350
This code was based on [this doc article](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-cloud-backup).

[2018-06-19 21:07] MaximRouiller commented on #350
So they all get rescheduled but not re-executed. The code basically die on `await Task.WhenAll`.

I tried to do `ContinueWith` but without success.

[2018-06-19 22:53] cgillum commented on #350
Can you clarify a bit further? What do you mean when you say they are getting rescheduled but no re-executed?

[2018-06-20 00:10] MaximRouiller commented on #350
The code goes through the loop again recreating the array with tasks all in a pending state. The console display that Functions are being scheduled. It hits the `await` then after a little while, the orchestrator function is executed again.

Rinse. Repeat.

[2018-06-20 00:39] MaximRouiller commented on #350
So it recreates 900 Task and I have the impression it does that quite a lot... after having it running for over an hour... it finally hit the breakpoint after.

[2018-06-20 00:41] TsuyoshiUshio commented on #184
Hi @cgillum ,
Since We learnt a lot about the DevOps story, I'd like to start writing Doc / Samples.

I'll implement pipeline both C# / V1, V2 and Javascript V2 with VSTS.

One thing I'm considering is blocking process. When a customer wants to deploy the durable app,
customer make sure that there is no running process on the target task hub. Then the customer might
want to stop accepting the new

[2018-06-20 01:05] cgillum commented on #184
Great! One way to stop processing is to disable the function app. However, this will also prevent in-flight instances from completing, so it's only useful for "non-breaking" changes or emergency hotfixes.

For everything else, I assume what we want is to wait for existing instances to complete. This means we have to stop accepting new requests. One technique is to disable all the "trigger" functio

[2018-06-20 02:19] TsuyoshiUshio commented on #184
VSTS can upload a blob in Azure Storage. However, it is only upload/update the blob. Can't remove it. At least for the official/marketplace tasks. If it requires, I can develop the task. :)

[2018-06-20 02:49] MaximRouiller commented on #350
So since this task completed successfully, I've decided to restart it from scratch again.

Nothing changed to the code. Just a fresh "F5" with the breakpoints at the same place and it seems to go through now. I will continue to investigate and report on it.

[2018-06-20 04:39] cgillum commented on #184
Actually, before we come up with the design, maybe we need to better understand the scenarios. There are a few questions we need to think about:

1. What if there are long-running orchestrations which need to run for days/weeks/months? It probably doesn't make sense to wait for those to drain.
2. What do we do about eternal orchestrations? By design, these will never complete.
3. What if there are

[2018-06-20 06:17] TsuyoshiUshio commented on #184
IMO, In case of 2. 3. We can stop these. 2. is easy. However, 3. might be difficult to distinguish if it is abandoned or active one. Maybe we can identify it via timeout.

1. is also difficult. In case of 1, we should execute recovery plan. Ideally, if we could migrate from the old version to the new version through memory the request start to the OrchestrationClient. If it suspended, the orchestr

[2018-06-20 11:51] goldytech opened #352 "Managing more than one orchestrators in single function app"
Hello,
I've created Azure Function App in which I've a single orchestrator function which manages the entire workflow.

Now I want to add another workflow (i.e. create another brand new orchestrator function) in the same Azure function App.

Will this work ?
What is the recommended practices in this scenarios. How will the taskhub names manage in this ?

[2018-06-20 12:54] SimonLuckenuik commented on #352
You can create multiple Orchestrator functions to create multiple workflows in the same Azure Function App, they just need to have a different _orchestratorFunctionName_ when calling _StartNewAsync_ and they are able to live in the same Hub.

[2018-06-20 13:31] SimonLuckenuik commented on #184
Linking to this issue, since raising similar concerns : https://github.com/Azure/azure-functions-durable-extension/issues/320

[2018-06-20 13:59] SimonLuckenuik commented on #184
For brainstorming purposes, a couple of questions/comments that could help on finding the proper approach:
A) What is the proposed approach to deployment/upgrade scenario while having a currently executing functions in Azure Functions (without Durable)?
B) What happen when a scale down occurs and a Function is currently executing on the node being stopped because of scaledown?
C) What happen when

[2018-06-20 14:08] alifintcev opened #353 "Scale controller and long running activity functions issue"
Hi,

Please check following scenario:

1. Func_A triggered called via QueueTrigger. Func_A started orchestration function Func_orch_A
2. Func_orch_A fan-out about 20 sub-orchestrations Func_sub_orch_A
3. Every Func_sub_orch_A fan-out up to 1000 activity functions Func_act_A

So far it looks good, environment gradually scaled out up to 40-50 instances, and processing all Func_act_A as expected. It

[2018-06-20 14:24] SimonLuckenuik commented on #353
Some comments:
- The 2-3 hours is too long for the consumption plan, it will timeout at up to 10 minutes:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#consumption-plan
  - You should consider breaking that function in multiple smaller functions that you would chain, or create processing batches and execute them in a fan-out scenario.

- One of the best practice is to avoi

[2018-06-20 14:37] TsuyoshiUshio commented on #320
Sorry for being late reply. Yes. I'll try to do it.  So your use case is very welcome.
@SimonLuckenuik  In your case, maybe we need new feature to stop accepting new request feature might be needed. Let's keep on discuss on #184 . :) If there is no feature on the Durable, I'd happy to contribute to implement that.

[2018-06-20 14:48] TsuyoshiUshio commented on #320
Actually, if you want to upgrade the app, if it is ok if you don't change the orchestrator or activity function interface. however if you change one of these, you need to make sure there is no on-the-fly instances. Since the orchestrator replay according to the storage table. If you change the orchestrator or activity function interfaces, the record of storage table will be unmatch for the new ver

[2018-06-20 15:19] TsuyoshiUshio commented on #184
Thank you for your help! IMO
A) If the function is idempotent, just replay it.  FYI https://medium.com/@tsuyoshiushio/serverless-idempotency-with-azure-functions-23ed5da9d428
B) Maybe, according to the algorithm of scaling it might not happen. it is scale out intensive. What do you think, @cgillum ?
C ) it is the same as A
D ) If you just stop the app, when it is durable functions, it will leave t

[2018-06-20 15:19] paulceli opened #354 "Durable Functions - Fan-Out - Orchestrator waiting too long"
This Durable function that I'm debugging locally (on VS mac) is triggered via http and seems to be running way to long (it sometimes just stops but that's another problem I guess).

All the activity functions seems to have been executed properly quite fast, I can see the files that I expect have been downloaded, but the orchestrator function is 'looping'? on all the tasks and keeps waiting for som

[2018-06-20 15:22] alifintcev commented on #353
Hi Simon,

My understanding was that 10 minutes limitation is not applying on Durable scenario. On one of my apps I have ActivityTrigger functions that running for several hours and it works fine.

I'm OK if it's strict limitation, but I can see that there is not. So I think this case (activity function restarts) should be documented.

Thanks,
Alex

[2018-06-20 15:43] SimonLuckenuik commented on #353
- Each Activity from your Orchestration is still an Azure Function have the same execution restrictions. The complete workflow can "last longer" because the whole Orchestration is persisted between the different triggers (and not executing while waiting for triggers), so the lifetime is longer, but actual execution time of each part of the orchestration still follow the Azure Functions rules.

- I

[2018-06-21 04:40] gled4er commented on #353
Great discussion!

Today I discussed a bit with @TsuyoshiUshio  and I wanted to suggest adding 2 more methods for `DurableOrchestrationClient`:

- `BlockStartingNewOrchestrations` - block starting new orchestrations  from the coming requests (HTTP, Queue, Event Grid etc.)
- `UnblockStartingNewOrchestration` - unblocks staring new orchestrations from the coming requests (HTTP, Queue, Event Grid etc

[2018-06-21 10:31] mark-r-cullen opened #355 "Orchestrator stuck in "Running" status"
Hi,

I'm experimenting again with durable functions and have run in to an issue I can't figure out. I've narrowed it down to the following use case:

`[FunctionName("Test")]
        public static async Task RunTest([TimerTrigger("0 */1 * * * *")]
                                         TimerInfo myTimer,
                                         [OrchestrationClient] DurableOrchestrationClientBase

[2018-06-21 10:52] goldytech commented on #352
Thanks for help.

[2018-06-21 10:52] #352 closed

[2018-06-21 12:34] MaximRouiller commented on #342
Please note that after many tests, fixing `FUNCTIONS_EXTENSION_VERSION` app setting to `2.0.11776-alpha` and using EF Core 2.0 will bring back the error https://github.com/Azure/azure-functions-core-tools/issues/335 due to the fact that it's been resolved after `2.0.11776-alpha`.

Just an FYI for everyone.

[2018-06-21 15:16] pluralmonad commented on #342
Getting caught up on this discussion...

The `FUNCTIONS_EXTENSION_VERSION` in my app settings is `~1`.

[2018-06-21 16:37] cgillum commented on #355
*(I fixed the formatting for you. You can click the Edit button to see what I did)*

Two questions:
1. Which version of Microsoft.Azure.WebJobs.Extensions.DurableTask are you running?
2. Which Azure Functions runtime are you using (v1 or v2)?

Also, what happens if you remove the `ConfigureAwait(false)` from your `Task.WhenAll(tasks)` call in the orchestrator function? I suspect that may be relate

[2018-06-21 19:18] mark-r-cullen commented on #355
Hi

Thanks for your quick reply. I just tried removing the ConfigureAwait from the Orchestrator and it looks like it's working as expected now. Thanks so much!

[2018-06-21 19:18] #355 closed

[2018-06-21 19:33] MaximRouiller commented on #342
@pluralmonad My issue was with .NET Core which is only supported in the beta v2 runtime.

[2018-06-21 20:05] cgillum commented on #353
Simon is correct. The scale controller was not designed to support long-running stateless function execution of any kind (whether Durable Functions, timer triggers, queue triggers, etc.). The fact that you're getting 2-3 hour executions is unfortunately a bug in the function host. I don't know the current status of that bug, but I believe it applies to precompiled functions (and fixing it now woul

[2018-06-21 20:05] #353 closed

[2018-06-21 20:23] cgillum commented on #347
This is fixed in the v1.5.0 release.

[2018-06-21 20:23] #347 closed

[2018-06-21 20:24] #343 closed

[2018-06-21 20:46] #155 closed

[2018-06-21 21:03] cgillum commented on #342
@pluralmonad Unfortunately I think your original issue may have been overtaken by a similar issue which only impacted Functions v2.  We've fixed the v2 issue, and several people are watching this issue to track that. It will be available in the 1.5 release, which is on nuget.org now (release announcement pending). For that reason, I'd like to close this issue. Can you open a new issue with your la

[2018-06-21 21:03] #342 closed

[2018-06-22 03:36] yuka1984 commented on #324
A case where Orchestrator does not become Complete during production operation has been reproduced.

Instanceid:1d15631f139e44588b00e541be38961b
Region:EastJapan
Time:2018-06-22T01:17:58

In the History of this Instance, the following message was written.

Non-Deterministic workflow detected: SubOrchestrationInstanceCreatedEvent: 1485 SubOrchestrationInstanceCreated LockManagementOrderAllocate  1d

[2018-06-22 06:35] ztj opened #357 "Version conflict detected for Newtonsoft.Json on restore in F# sample project"
I was just poking around the samples and ran into this issue when VSCode failed to load the sample project for F#. The console output for dotnet restore follows.

`Quiet:fsharp zjensen$ dotnet restore
  Restoring packages for /Users/zjensen/src/external/azure-functions-durable-extension/samples/fsharp/DurableFSharp.fsproj...
/Users/zjensen/src/external/azure-functions-durable-extension/samples/fsh

[2018-06-22 06:57] markheath commented on #357
I just tried updating a functions V2 C# project to 1.5.0 and got the same issue. Worked fine on a V1 version of the same project.

[code]

My csproj file looks like this:
[code]

What's the recommended way to resolve this?

[2018-06-22 08:19] markheath commented on #357
I added an explicit reference to Newtonsoft.Json 11.0.2 and it seems to work (only tested locally so far)

[2018-06-22 10:26] markheath opened #358 "Get all instances status enhancements"
It's really great to see that Durable Functions now has a way to [query the status of all instances](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-http-api#get-all-instances-status)

This type of higher-level management API will be very helpful for troubleshooting problems in production. However, I think it could do with some additional enhancements

 - **Paging** - it l

[2018-06-22 12:16] paulceli commented on #347
I updated to 1.5.0. I had the following error while building at first:

[code]

So I added the latest version of Nuget 'Newtonsoft.Json'. Now it builds OK but I get the following errors while starting the app:

[code]

😢
help thanks

[2018-06-22 13:31] paulceli opened #359 "DurableTask 1.5.0 + Functions v2: Could not load file or assembly 'Newtonsoft.Json, Version=11.0.0.0"
I updated to 1.5.0. I had the following error while building at first:

[code]
So I added the latest version of Nuget 'Newtonsoft.Json'. Now it builds OK but I get the following errors while starting the app:

[code]

😢
help thanks

[2018-06-22 16:36] pluralmonad opened #360 "Orchestration instance stuck in pending status - Functions v1"
The issue referenced [here](https://github.com/Azure/azure-functions-durable-extension/issues/342) is still occurring. Opening new issue per @cgillum request. I can supply any further environment/application information as needed. Thank you.

[2018-06-22 16:49] cgillum opened #361 "FunctionFailedException.InnerException is always of type System.Exception"
### Issue
When an activity function or a sub-orchestration throws an exception, it propogates up to the parent orchestrator function as a `FunctionFailedException`. It contains an `InnerException` value which has the same message as the original exception, but the type information is not preserved. Rather, it is always a `System.Exception`.

### Expected
Ideally, the original exception is preserve

[2018-06-22 17:05] cgillum commented on #359
Just to provide some context, this should only impact precompiled projects which target Azure Functions v2.

You can workaround the build error by explicitly adding a reference to **Newtonsoft.Json** in your .csproj file, as the build error message suggests:

[code]

This happens because [Microsoft.NET.Sdk.Functions v1.0.13](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.13) has no

[2018-06-22 17:08] cgillum commented on #358
FYI @TsuyoshiUshio - Mark has some nice suggestions about how we can further improve this new API.

[2018-06-22 18:12] cgillum commented on #357
Ah, my apologies for being sloppy with my samples testing. Your workaround is correct. This is an issue with the current Microsoft.NET.Sdk.Functions package, which does not match the latest Functions v2 runtime dependencies. The functions team is aware of it and working on a new nuget release.

FYI @ahmelsayed

[2018-06-22 21:59] anuragtokhi opened #362 "Exceptions thrown in Orchestrator function do not surface as failures in Application Insights"
Exceptions thrown from orchestrator function do not register under Failures or Exceptions in Application Insights. This means that any alerts based on failures count or exception count will not catch these errors.

Here is an example where traces show an exception raised from orchestrator function but it is shown to be successful.

![image](https://user-images.githubusercontent.com/19335004/418012

[2018-06-24 03:03] TsuyoshiUshio opened #363 "Visual Studio Template for V1"
We don't have Visual Studio Template for V1. We have it for V2,  however, V1 is GA.

I always copy it from V2 template to create V1 environment.

https://github.com/Azure/azure-functions-durable-extension/issues/49

In this issue, it is said that 15.5 include the template, however I can't find it on 15.8.

[2018-06-24 15:25] TheFairey opened #364 "Too many orchestrations starting?"
Hi,

I have a Q based Durable Function and in my host.json while trying to understand throughput and parallelism I experimented with setting:

[code]

From the page on Performance and Scale my understanding is that no matter how many instances get spun up as there are only 2 partitions then only 2 instances can access the control Qs?

If there is a limit on concurrent Orchestrator functions of 2 t

[2018-06-25 09:00] paulceli commented on #359
Hey,
Yes, I have added the correct reference to 11.0.2 Newtonsoft.Json package.
This solved the compilation error.

This ticket is more about the runtime error:

[code]

Could it be a hard coded reference somewhere that would not resolve on Mac?

I'm using Visual Studio Mac on the beta channel to get the new feature that allow to publish functions to azure. Here is the version :

About your questi

[2018-06-25 16:46] cgillum commented on #359
@paulceli Thanks for these details. My guess is that the Functions CLI version used by Visual Studio for Mac has not been updated to match what is currently deployed to Azure. Functions v2 is evolving pretty rapidly as it marches towards GA, so certain parts are going to be behind.

FYI @jeffhollan in case we want to follow up with the VS for Mac team on getting up-to-date with our latest CLI vers

[2018-06-25 17:54] cgillum commented on #364
A few things I should mention:

* The `queues` section in host.json does not apply to Durable Functions.
* The `maxConcurrentActivityFunctions` and `maxConcurrentOrchestratorFunctions` sections do not impact queue behavior. They only impact how many functions will concurrently execute on a single VM.
* As many as 64 messages from the control queues can be internally buffered on each VM. I don't be

[2018-06-25 19:47] jeffhollan commented on #363
Thanks @TsuyoshiUshio  - created a corresponding issue on the templates repo https://github.com/Azure/azure-functions-templates/issues/701

[2018-06-25 20:38] paulceli commented on #359
@cgillum Thanks for the workaround ! works perfect 👌.
Didn't knew I was using so cutting edge tech. 😀

nice work guys 👍

[2018-06-26 00:37] cgillum commented on #184
@SimonLuckenuik To put my perspective on this:

* A) I believe Azure Functions (non-durable) has the same issue of in-progress work being interrupted during an upgrade. @jeffhollan is this your understanding as well?
* B) It depends on the trigger. For HTTP triggers, App Service will stop sending traffic to the host instance which is being shut down. For non-HTTP triggers (queues, event hubs, etc.

[2018-06-26 00:45] cgillum commented on #350
I forget where we landed with this issue, but a couple things to point out:

* Orchestrator functions get re-executed multiple times by design. This is called out in a couple places in the documentation but it's worth calling out since sometimes people miss this. The durable tasks (activity function calls, etc.) do not get re-executed - only the orchestrator code. That means the log statement will

[2018-06-26 00:45] #350 closed

[2018-06-26 02:54] jeffhollan commented on #184
Just jumping in to confirm.  @SimonLuckenuik a lot of these impact functions far larger than just durable and are / should be considerations for any function regardless of type.  In order to have "zero down time" deployments with Azure Functions you'd need to do some green/blue deployment with something like traffic manager or proxies if HTTP, or potential phased / competing consumer if non-HTTP.

[2018-06-26 06:46] TsuyoshiUshio commented on #358
Thank you very much @markheath and @cgillum These ideas are very good and worth considering. I'll come up with some idea to implement these.

[2018-06-26 06:55] TsuyoshiUshio commented on #184
Hi @cgillum  As for sample, I'm developing DevOps pipeline for V1, V2, node durable functions.
However, I have some issue to discuss.

1. Deployment method

I recommend to use Run-From-Zip deployment pipeline. However there is no official task for that. I had to use 3rd party task. Have you discuss with VSTS team?

2.  Checking the state

Currently if we want to check the status of orchestration,

[2018-06-26 17:21] AviateX14 commented on #360
I'm seeing the exact same behavior on functions v1.

[2018-06-26 17:37] cgillum commented on #360
@AviateX14 Thanks. Are you running the v1.5.0 version of the extension? If so, can you share your Azure region, a general timeframe, and an orchestration instance ID that I can refer to?

@pluralmonad do you have a repro using the v1.5.0 version of the extension? I'd like to investigate your case as well. The latest version of the extension has some improved instrumentation that will make it much

[2018-06-26 17:45] AviateX14 commented on #360
Hi, yes, 1.5.0:

- Europe West
- 2018-06-26T17:42:28.975Z
- 8e4c3d8acdfa41dd8bf2c4fe4d74fea0 (execution ID)

[2018-06-26 20:02] cgillum commented on #360
Thanks @AviateX14. One thing I noticed is that you seem to have several messages in your control queues that are "stuck" because they are intended for a function named `tpgw-worker`, which apparently doesn't exist. Did you make changes to your function app in the last 6 or 7 days, such as renaming some of your orchestrator functions? I'm not sure if this is why your instance is getting stuck, but

[2018-06-26 20:11] mikhailshilkov commented on #322
Phone verification workflow:

[code]

[2018-06-26 20:36] cgillum commented on #360
@AviateX14 In fact it looks like there may be as many as 500 different "start" messages that your function app is repeatedly trying to dequeue. If possible, can you try clearing your queues to see if that resolves the issue?  Note that this will permanently suspend any existing orchestration instances in this task hub (though you can always recreate them which it looks like you've been doing alrea

[2018-06-26 21:28] mikhailshilkov commented on #359
Upgrading `Microsoft.NET.Sdk.Functions` to version `1.0.14` seems to resolve this issue. Should we update samples?

[2018-06-26 21:29] AviateX14 commented on #360
@cgillum Right on the money. Clearing the queues seems to have fixed the problem. It'd be interesting to know what's happening under the hood here, when I renamed the functions, the previous versions that were listed under the funtions instance were removed, I would've expected that to clear up any other references? There was a brief window where the orchestrator was trying to create an instance o

[2018-06-26 21:30] jeffhollan commented on #359
Update to templates just got merged out and should roll out to VS tooling very soon https://github.com/Azure/azure-functions-tooling-feed/pull/4

[2018-06-26 21:42] cgillum commented on #359
Awesome! Yes, we should definitely update the samples...

[2018-06-26 21:59] cgillum commented on #360
@AviateX14 Glad that resolved the issue for you! Normally there is validation ensuring that the named function actually exists before we try to enqueue any messages. Is it possible that in your case is that the function name existed at one point, a bunch of messages were added to the queue, and _later_ the function name was changed? We don't have a good way of catching this, unfortunately. Probabl

[2018-06-27 09:03] markheath opened #365 "Wait for external event with timeout"
Inspired by [Mikhail Shilkov's tweet](https://twitter.com/MikhailShilkov/status/1011705530648334337) I wonder if we could simplify the syntax for waiting for an external event with a timeout, as there are multiple lines of boilerplate code required to set this up, and it requires implementers remembering to adhere to the correct patterns (remembering to cancel the `CancellationTokenSource` and rem

[2018-06-27 10:40] mikhailshilkov commented on #322
@gsomix Thanks for having a look at this!

- It's inside `Orchestrator.run` and (similar to the original example) it will throw exception if input is not provided

[code]

- Ah, right, my mistake, should be something like this then:

[code]

[2018-06-27 22:11] TsuyoshiUshio opened #366 "Close and Restart the Durable Functions"
Several people request this feature.

Especially for Timer user and DevOps pipeline for preventing accept the new state for the new deployment.

The basic feature is to close/open Durable Functions. If we call the OrchestratorClient  StartNewAsync, then throws Specific Exception and have a state of this to the storage account.

 If once this becomes high priority, I'd happy to contribute that.

[2018-06-27 22:34] TsuyoshiUshio commented on #358
I create this feature for DevOps story, however now It can use for trouble shooting.

1. Paging -> No prblem
2. Filtering -> As you said, it could cause a performance issue however if we have 3. Purging it works
3. Purging -> I really love this idea. totally agree.

We can start with 3. then Filtering and Filtering.

For the 3. Originally I imagined to configure host.json to set the date which kee

[2018-06-28 01:42] gled4er commented on #366
Hello @TsuyoshiUshio,

Do you think your idea is related to [#301](https://github.com/Azure/azure-functions-durable-extension/issues/301)?

There is an active pull request for that here - https://github.com/Azure/azure-functions-durable-extension/pull/341

Thank you!

[2018-06-28 02:52] TsuyoshiUshio commented on #366
Hi @gled4er  this is not that.
It close to accept the new request. In case of http request trigger calls OrchestrationClient, we can implement it by ourselves. however, timer trigger can't handle that. Also, customer always implement this feature for safe deployment. It is one of request of my customer.

[2018-06-28 03:47] jeffhollan commented on #366
If I understand correctly the desired behavior is:
1. If I "close" a durable orchestration, currently in-flight instances will continue. However new instance attempts will throw an exception
   - Potentially I could re-queue these requests, or in the case of a timer just wait for the next recurrence interval
2. At some point in the future you can "open" the orchestration (I'm guessing once in-flig

[2018-06-28 04:50] TsuyoshiUshio commented on #366
@jeffhollan  Yes. It is exactly the behavior what I want. :)

[2018-06-28 13:26] SebastianAchatz commented on #312
@cgillum will this be fixed in V2 GA? Any estimates on when this will be. Fighting with the same issue here. Little showstopper here for having my durable functions local (only) on my mac while developing.

[2018-06-28 13:47] KenKilty commented on #366
@jeffhollan / @TsuyoshiUshio There is a need for this capability.  An approach I have seen that validates your proposed approach with pre-compiled AF's is using a singleton timer job as the DF orchestration client with a app setting based enabled/disable bool value to "turn off" everything.  The approach above would remove the need for all of this could which would be great.

[2018-06-28 14:03] SimonLuckenuik commented on #366
@jeffhollan, that would actually be useful at the Azure Functions level, not only for Durable Functions. Basically, suspending any Async Trigger (queue, blob,...) and returning a standard HTTP error code for sync trigger. Ideally, if we should be able to suspend sync and async triggers separately.

Example: I suspend async triggers 5 minutes before my deployment, but HTTP triggers are still execut

[2018-06-28 14:05] SimonLuckenuik commented on #366
In the example from @TsuyoshiUshio, StartNewAsync would not throw, it would simply enqueue the work to be executed asynchronously and would be executed once async triggers are enabled.